.alert.eds-restricted {
  border: 1px solid var(--stanford-cardinal);
  border-left: 4px solid var(--stanford-cardinal);
  a {
    --sul-link-font-weight: 600;
    --bs-alert-color: var(--stanford-digital-red);
    &:hover {
      --bs-alert-color: var(--stanford-cardinal-dark);
      text-decoration-color: var(--stanford-cardinal-dark);
    }
  }
  .stanford-only {
    margin-left: 0;
  }
}

.global-alert {
  --bs-alert-margin-bottom: 0;
  --bs-alert-bg: rgba(var(--stanford-poppy-dark-rgb), 0.1);

  border-top: var(--stanford-poppy-dark) solid 3px;

  .alert-content {
    max-width: 992px;
    color: var(--stanford-poppy-dark);
    .bi-x-lg {
      vertical-align: -0.085em;
    }
  }
}
