@import "bootstrap/scss/bootstrap.scss";
@import "blacklight-frontend/app/assets/stylesheets/blacklight/blacklight.scss";

/* Override blacklight 9. We may want to move this to the component library: */
.navbar-logo {
  --bl-logo-image: none;
  --bl-logo-width: 250px;
  background-color: black;
}
