.bookmark-toolbar {
  --item-padding-x: 0.25rem;
  .btn {
    /* --bs-btn-padding-y: 0.25rem; */
    --bs-btn-padding-x: var(--item-padding-x);
  }
  .nav-link {
    --bs-nav-link-padding-y: 0.25rem;
    --bs-nav-link-padding-x: var(--item-padding-x);
  }
}

.bookmark-toggle {
  --bl-icon-color: var(--bs-primary);
  color: var(--stanford-80-black);

  .blacklight-icons svg {
    height: var(--bookmark-width-height);
    width: var(--bookmark-width-height);
    overflow: visible;
    fill: var(--bl-icon-color);
    vertical-align: sub;
  }

  .bookmark-hover-icon {
    --bl-icon-color: var(--stanford-digital-red-light);
  }

  .bookmark-unchecked-icon {
    --bl-icon-color: var(--bs-nav-link-color);
  }

  .bookmark-checked-icon {
    --bl-icon-color: var(--stanford-cardinal);
  }

  input[type="submit"] {
    display: none;
  }

  .toggle-bookmark,
  .bookmark-toggle-all {
    cursor: pointer;

    .toggle-bookmark-label {
      cursor: pointer;
      font-weight: inherit;
      --bookmark-width-height: 1rem;

      .bookmark-text {
        cursor: pointer;
      }
    }

    .bookmark-hover-icon,
    .bookmark-checked-icon,
    .saved-label {
      display: none;
    }
  }

  .toggle-bookmark:has(input[type="checkbox"]:checked),
  .bookmark-toggle-all:has(+ input[type="checkbox"]:checked) {
      .bookmark-checked-icon,
      .saved-label {
        display: inline;
      }

      &:hover {
        .bookmark-checked-icon {
          display: none;
        }

        .bookmark-hover-icon {
          display: inline;
        }
      }

      .bookmark-unchecked-icon,
      .save-label {
        display: none;
      }
    }
  }

  /* override for line 21.
      Creates weird spacing in toolbar when min-width is set to 8rem */
  .header-tools .toggle-bookmark-label {
    min-width: 2rem;
  }
}

.record-browse-nearby {
  .bookmark-text {
    display: none;
  }

  .blacklight-icons svg {
    --bookmark-width-height: 1.25rem;
  }

  .btn-preview {
    margin-top: -0.125em;
  }
}

.bookmark-select-all-toggle {
  .bookmark-toggle-all {
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
  }

  .btn-outline-primary {
    --bs-btn-active-color: var(--stanford-80-black);
    --bs-btn-disabled-color: var(--stanford-50-black);
    --bs-btn-border-color: var(--stanford-80-black);
    --bs-btn-color: var(--stanford-80-black);
    --bs-btn-hover-color: var(--stanford-80-black);
    --bs-btn-hover-border-color: var(--stanford-80-black);
    --bs-btn-active-color: var(--stanford-80-black);
    --bs-btn-active-border-color: var(--stanford-80-black);
  }

  .bookmark-unchecked-icon {
    --bl-icon-color: var(--bs-nav-link-color);
  }

  .bookmark-checked-icon {
    --bl-icon-color: var(--stanford-cardinal);
  }
}

.toggle-bookmark-remove-all {
  &:hover .bookmark-hover-icon {
    --bl-icon-color: var(--stanford-digital-red);
  }

  .bookmark-checked-icon,
  .bookmark-unchecked-icon {
    display: none;
  }
}
