.dt-paging-button .bi {
  font-size: 0.875em;
}

#course-reserves-browse {
  th {
    --bs-table-bg: var(--stanford-20-black);
  }

  .odd td {
    --bs-table-bg: white;
    --bs-table-bg-type: white;
  }

  .even td {
    --bs-table-bg: var(--stanford-fog-light);
    --bs-table-bg-type: var(--stanford-fog-light);
  }
}
