.blacklight-databases-index {
  aside {
    background-color: var(--stanford-fog-light);
    .h2 {
      --sul-header-font-size: 1.25rem;
    }
  }
}

#search-suggestions mark {
  padding: 0;
  font-weight: bold;
  background-color: transparent;
}
