.facet-limit {
  --bs-accordion-btn-padding-x: 0.5rem;
  --bs-accordion-body-padding-x: 0.5rem;
}

.facet-values .sul-icon {
  font-size: 1.5em;
  width: 30px;
  &::before,
  svg {
    height: 21px;
    width: 21px;
    vertical-align: top;
  }
}
/* TODO: Move this to the component library */
.accordion:has(.accordion-item) {
  --bs-accordion-border-radius: 0;
  --bs-accordion-border-color: transparent;

  .accordion-item {
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-inner-border-radius: 0;

    border-top: 1px solid var(--stanford-30-black);
  }
}
