.blacklight-catalog {
  --banner-image: url(/searchworks4/catalog-image.jpg);
}
.blacklight-articles {
  --banner-image: url(/searchworks4/research-papers-reading-v1.jpg);
}
.search-area-image-bg {
  &::before {
    content: "";
    position: absolute;
    opacity: 80%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--banner-image);
    z-index: -1;
  }

  position: relative;
  height: 350px;
  padding-block: 80px;

  .search-card {
    background-color: white;
    max-width: 645px;
    box-shadow: var(--bs-box-shadow);
  }
}

.catalog-home-page {
  .tips {
    .btn {
      padding: 0.125rem 0.375rem;
    }
  }
}

.what-header {
  font-weight: 700;
  color: var(--stanford-cardinal);
}

.catalog-home-page {
  @media (min-width: 992px) {
    .tips,
    .features {
      border-inline-start: 1px solid var(--stanford-40-black);
    }
  }
}

.article-home-page {
  @media (min-width: 1200px) {
    .tips ul {
      columns: 2;
      column-gap: 3rem;

      li {
        break-inside: avoid-column;
      }
    }
  }
}
