.last-updated {
  margin-left: auto;
  align-self: center;
}
.last-updated + .blacklight-modal-close {
  margin-left: 0;
}

#marc_view {
  .item-details {
    caption {
      caption-side: top;
      background-color: var(--bg-secondary);
    }
  }

  .field {
    border-bottom: 1px solid var(--stanford-60-black);
    display: flex;
    word-break: break-all;
  }

  .control-field-values {
    white-space: pre-wrap;
  }

  .ind1,
  .ind2 {
    display: inline;
    padding: 0 0.25rem;
  }

  .tag_ind {
    width: 5rem;
    flex: 0 0 auto;
  }
}
