:root {
  --underline-color: var(--stanford-50-black);
  --bs-link-decoration: underline dotted var(--underline-color);
  --bs-link-hover-color-rgb: var(--stanford-digital-blue-dark-rgb);
  --bs-link-hover-decoration: underline;
}

#topnav .identity-bar,
#topnav .navbar-nav,
#topnav .masthead,
#pre-footer,
#su-footer,
.index_title,
.page_links,
.pagination,
.facet-label,
.record-toolbar,
.library-location-heading,
.nav-tabs,
.nav-pills,
.zoom-controls .btn-link,
.bookmark-toolbar,
.export-citations,
.dropdown-item,
.facet-options {
  --bs-link-decoration: none;
}
