:root {
  --underline-color: var(--stanford-50-black);
  --bs-link-decoration: underline dotted var(--underline-color);
  --bs-link-hover-color-rgb: var(--stanford-digital-blue-dark-rgb);
  --bs-link-hover-decoration: underline;
}

#topnav .navbar-nav,
#topnav .masthead,
#pre-footer,
#su-footer,
.index_title,
.page_links,
.pagination,
.facet-label,
.record-toolbar,
.library-location-heading,
.nav-tabs,
.bookmark-toolbar,
.dropdown-item {
  --bs-link-decoration: none;
}

/* Pending https://github.com/sul-dlss/component-library/pull/171/files */
a:not(.btn),
.btn-link {
  text-decoration: var(--bs-link-decoration);
  -webkit-text-decoration: var(--bs-link-decoration);
}
