/* Override blacklight 9. We may want to move this to the component library: */
.navbar-logo {
  --bl-logo-image: none;
  --bl-logo-width: 250px;
  background-color: black;
}
.masthead {
  .nav-link {
    --sul-link-font-weight: 600;
  }

  .h1 {
    --sul-link-font-weight: 300;
    --bs-link-color-rgb: var(--stanford-cardinal-rgb);
  }
}

.bookmark-counter {
  --bs-badge-color: var(--stanford-black);
  --bs-badge-padding-x: 0.625rem;
  --bs-badge-font-weight: 500;
  background-color: var(--stanford-10-black);
}
