.masthead {
  .nav-link {
    --sul-link-font-weight: 600;
  }

  .h1 {
    --sul-link-font-weight: 300;
    --bs-link-color-rgb: var(--stanford-cardinal-rgb);
    --bs-link-hover-color-rgb: var(--stanford-cardinal-rgb);
  }
}

#user-util-collapse .dropdown-menu {
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
}

.badge.small {
  --bs-badge-font-size: 0.875rem;
}

.bookplate-fund-masthead {
  background-color: var(--stanford-fog-light);

  img {
    width: 100%;
    max-width: 200px;

    @media (width >= 1199.98px) {
      max-width: 400px;
    }
  }
}
