.alternate-catalog {
  background-color: rgb(var(--stanford-fog-light-rgb), 0.7);
  padding: 1.5rem 1rem;

  .alternate-catalog-body {
    .alternate-catalog-desc,
    .alternate-catalog-other-tools .alternate-catalog-view-all,
    .btn {
      font-size: 0.875rem;
    }

    .alternate-catalog-primary-tools .alternate-catalog-name {
      --bs-heading-color: var(--stanford-cardinal);
    }

    .alternate-catalog-other-tools .alternate-catalog-name {
      margin-top: 1rem;
    }

    .btn {
      padding: 0.125rem 0.375rem;
    }
  }
}

#alternate-catalog-offcanvas {
  --bs-offcanvas-height: auto;
}

.offcanvas .alternate-catalog {
  background: none;

  .alternate-catalog-heading {
    border-bottom: 1px solid var(--stanford-20-black);
  }

  .alternate-catalog-primary-tools {
    margin-top: 1rem;
  }
}

.bento-count {
  --bs-badge-color: var(--stanford-black);
  --bs-badge-font-size: 0.875rem;
  --bs-badge-font-weight: 400;

  background-color: var(--stanford-10-black);
}
