@media (min-width: 520px) {
  .dl-horizontal {
    dt {
      clear: left;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 10em;
    }

    dd {
      margin-left: 10em;
    }
  }
}

.ms-n3 {
  margin-inline-start: -1rem !important;
}

.bi.rotate-180::before {
  transform: rotateY(180deg);
}

.record-panels {
  --bs-offcanvas-height: 50%;
  overflow: auto;
}

.access-panel {
  &.panel-exhibit {
    img {
      height: 75px;
      width: 75px;
    }

    .exhibit-heading h4 {
      margin-top: 0;
    }

    .see-all-exhibits {
      margin-top: 15px;
    }
  }
}

.managed-purl-panel {
  .card-body {
    max-height: 430px;
    overflow-y: scroll;
  }
}

.managed-purl {
  .managed-purl-heading {
    background-color: var(--stanford-fog-light);
    height: 40px;
    padding: 10px;
    border-radius: var(--bs-card-border-radius) var(--bs-card-border-radius) 0 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    border: 1px solid var(--white);
    display: flex;
    gap: 8px;

    &.active {
      background: var(--stanford-fog-light);
      border: 1px solid var(--stanford-10-black);
    }

    &:hover,
    &:active {
      background: var(--stanford-fog-light);
      border: 1px solid var(--stanford-10-black);
    }

    img {
      border: 1px solid transparent;
      object-fit: contain;
      align-self: flex-start;
    }

    button {
      height: 100%;
      width: 100%;
      background: none !important;
      border: 1px solid transparent;
      color: var(--link);
      cursor: pointer;
      padding: 4px;
      text-align: left;
    }
  }
}

.managed-purl-embed {
  margin-bottom: 15px;
  margin-left: -15px;
}

.record-toolbar {
  --item-padding-x: 0.25rem;
  .btn {
    /* --bs-btn-padding-y: 0.25rem; */
    --bs-btn-padding-x: var(--item-padding-x);
  }
  .nav-link {
    --bs-nav-link-padding-y: 0.25rem;
    --bs-nav-link-padding-x: var(--item-padding-x);
  }
}

.panel-library-location {
  .item-row {
    display: flex;
  }
}

.truncate-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blacklight-catalog-show {
  .cover-image {
    max-height: 300px;
    max-width: 128px;
  }
}
