.search-query-form {
  input:focus,
  select:focus {
    box-shadow: none;
  }
}

.search-area-bg {
  padding-block: 2.5rem;
  background-color: var(--stanford-fog-light);

  .search-query-form {
    --search-q-border: none;
  }

  @media (min-width: 992px) {
    .about-section {
      border-inline-start: 1px solid var(--stanford-40-black);
    }
  }
}

#search-navbar search {
  order: 2;
  max-width: 38rem;
  width: 100%;

  @media (width >= 575.98px) {
    order: 3;
    max-width: 100%;
  }

  @media (width >= 991.98px) {
    order: 2;
    max-width: 38rem;
  }
}

/* When search mode & the advanced search link are on the top row and search wraps to the next,
 this provides a fixed width for both rows */
#search-navbar {
  search, .advanced-search-link {
    @media (width >= 767.98px) {
      margin-right: calc(100vw - 45rem);
    }
    @media (width >= 991.98px) {
      margin-right: 0;
    }
  }
}

@media (width >= 575.98px) {
  .search-card .advanced-search-link {
    margin-right: 2rem;
    order: -1;
    position: absolute;
    right: 0;

  }
}

#advanced-search-form {
  input:focus-visible {
    box-shadow: none;
  }

  .btn:hover:has(.text-digital-red-light) {
    .text-digital-red-light {
      color: var(--stanford-digital-red);
    }
  }

  .btn:hover:has(.text-digital-green) {
    .text-digital-green {
      color: rgb(var(--stanford-digital-green-dark-rgb));
    }
  }
}

.advanced-facet-heading {
  color: var(--stanford-cardinal);
}
