.documents-list {
  .document {
    border-top: 1px solid var(--stanford-30-black);
    padding-block: 1rem;
    --bl-icon-color: var(--stanford-80-black);
  }
}

.dropdown-toggle::after {
  /* Override bootstrap's default caret to bring it to the middle of the text*/
  vertical-align: 0.125em;
}

.bi-three-dots-vertical {
  color: var(--bl-icon-color);
}

.bookmark-toggle {
  .bi {
    color: var(--bl-icon-color);
  }

  &[data-bookmark-checked-value="true"] {
    --bl-icon-color: var(--stanford-cardinal);
  }
}

.stacks-image,
.cover-image {
  display: block;
  max-height: 200px;
  max-width: 80px;
  border-radius: 0.125rem;
  border: 1px solid var(--stanford-fog-light);
}

.page-entries-info .bi {
  font-size: 0.875em;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 768px) {
  .truncate-md-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .truncate-lg-none {
    display: inherit;
    -webkit-line-clamp: initial;
    overflow: visible;
  }
}

.active-icon {
  margin-left: -1.125rem;
  &::before {
    font-size: 1rem;
    margin-right: 0.125rem;
  }
}

.sort-and-per-page .dropdown-menu {
  --bs-dropdown-item-padding-x: 1.5rem;
}

.constraint .remove .bi-x::before {
  vertical-align: -0.18em;
}

.availability-overview {
  .due-date {
    display: none;
  }
}

details {
  .open-hidden {
    display: inline-block;
  }
  .open-visible {
    display: none;
  }
}

details[open] {
  .open-visible {
    display: inline-block;
  }
  .open-hidden {
    display: none;
  }
}

.likely-available {
  width: 10ch;
}

.available-online {
  color: var(--stanford-digital-green);
}

.availability-component {
  .btn-sm {
    --bs-btn-padding-y: 0.125rem;
  }
}

.suppress-item-level-request-button-if-there-is-a-location-level-request-button {
  &:has(.location-request-link) {
    .item-request-link {
      display: none;
    }
  }
}

.availability {
  &.available {
    color: var(--stanford-digital-green);
  }
  &.unavailable {
    color: var(--stanford-digital-red);
  }
  &.unknown {
    color: var(--stanford-80-black);
  }
}

@media screen and (min-width: 768px) {
  .border-md-start {
    border-left: var(--bs-border-width) var(--bs-border-style)
      var(--bs-border-color) !important;
  }
}

.action-button {
  --bs-btn-color: var(--stanford-80-black);
  --bs-btn-hover-color: var(--stanford-black);

  &:not(:has(.bookmark-label)) {
    --bs-btn-border-radius: 50%;
    &:hover {
      background-color: var(--bs-secondary-bg);
    }
  }
}

.tooltip {
  background-color: rgba(97, 97, 97, 0.92);
  border-radius: 4px;
  color: white;
  display: none;
  font-size: 0.6875rem;
  padding: 4px 8px;
  text-wrap: nowrap;
  &.show {
    display: block;
  }
}

.more_facets {
  --bs-link-color-rgb: var(--sul-link-color-rgb);
  --bs-link-hover-color-rgb: var(--stanford-digital-blue-dark-rgb);
  i {
    font-size: 0.75rem;
    -webkit-text-stroke: 0.45px;
  }
}

.collection-info {
  background-color: var(--stanford-fog-light);

  .finding-aid a {
    --bs-link-decoration: none;

    &::after {
      content: "\F144";
      font-family: "bootstrap-icons";
      padding-left: 0.25rem;
      --bs-link-decoration: none;
      vertical-align: bottom;
    }
  }

  .badge {
    background-color: var(--stanford-20-black);
    --bs-badge-color: var(--stanford-black);
    --bs-badge-font-weight: 500;
  }
}

details.availability-component {
  .header {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }

  &[open] {
    .header {
      background-color: var(--stanford-fog-light);
      border-bottom-color: transparent !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
