
:root {
  --font-family-serif: "Source Serif 4", serif;
  --bs-font-sans-serif: 'Source Sans 3 Local', 'SUL Override', 'Arial Unicode MS', Helvetica, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-size: var(--sul-header-font-size);
  line-height: 1.15;
  font-weight: 600;
}

h1,
.h1 {
  --sul-header-font-size: 1.75rem;
}

h2,
.h2 {
  --sul-header-font-size: 1.5rem;
}

h3,
.h3 {
  --sul-header-font-size: 1.25rem;
}

h4,
.h4 {
  --sul-header-font-size: 1rem;
}

h5,
.h5 {
  --sul-header-font-size: 0.9rem;
}

dt {
  font-weight: 600;
}

aside,
.sidebar {
  h2,
  .h2 {
    --sul-header-font-size: 1.25rem;
  }

  h3,
  .h3 {
    --sul-header-font-size: 1rem;
  }

  h4,
  .h4 {
    --sul-header-font-size: 0.9375rem;
  }
}

.index_title {
  --sul-header-font-size: 1.125rem;
  --sul-link-font-weight: 500;
}

.fs-15 {
  --bs-body-font-size: 15px;
  font-size: var(--bs-body-font-size);

  .small {
    font-size: 0.93333rem;
  }
}

.fs-14 {
  --bs-body-font-size: 14px;
  font-size: var(--bs-body-font-size);
}

.text-poppy {
  color: var(--stanford-poppy-dark);
}

.btn-link {
  --bs-link-color: rgb(var(--bs-link-color-rgb));
  --bs-link-hover-color: rgb(var(--bs-link-hover-color-rgb));
}

.text-digital-green {
  color: var(--stanford-digital-green);
}
