:root {
  --identity-bar-bg-color: var(--stanford-cardinal);
  --identity-bar-color: white;
  --sul-shadow-color: rgba(0, 0, 0, 0.2);
  --bs-box-shadow: 0 4px 8px -2px var(--sul-shadow-color);

  --stanford-palo-alto: #175E54;
  --stanford-palo-alto-dark: #014240;

  /* https://github.com/sul-dlss/component-library/pull/180 */
  --stanford-digital-green: rgb(var(--stanford-digital-green-rgb));

  --bs-dark-bg-subtle: var(--stanford-10-black);
}

/* TODO: Remove after https://github.com/twbs/bootstrap/issues/41569 is resolved*/
.dropdown-menu {
  box-shadow: var(--bs-dropdown-box-shadow);
}

/* BUG? component-library sets --bs-pagination-border-width, but also uses --bs-border-width to tweak the size */
.pagination {
  --bs-border-width: 0;
}
