<div class='bookplate'>
  <div class='row align-items-center'>
    <%= image_tag bookplate.thumbnail_url, alt: bookplate.text, class: 'col-6' %>
    <p class='col-6 bookplate-heading'><%= link_to_bookplate_search(bookplate) %></p>
  </div>
</div>
