<div class='bookplate my-2'>
  <div class='row align-items-center'>
    <%= image_tag bookplate.thumbnail_url, alt: bookplate.text, class: 'bookplate-image col-6' %>
    <p class='bookplate-heading col-6'><%= link_to_bookplate_search(bookplate) %></p>
  </div>
</div>
