<div class='bookplate col-sm-12 col-md-6'>
  <div class='media'>
    <%= image_tag bookplate.thumbnail_url, alt: bookplate.text, class: 'mr-3' %>
    <div class='media-body'>
      <p><%= link_to_bookplate_search(bookplate, class: 'media-heading') %></p>
    </div>
  </div>
</div>
