<% if searcher.search.highlighted_facet_values.present? %>
  <dl class='highlighted-facet d-flex'>
    <dt class="includes-label">Results include</dt>
    <dd>
      <ul class="list-inline mb-0">
        <% searcher.search.highlighted_facet_values.each_with_index do |facet, index| %>
          <li class="list-inline-item">
            <%= link_to("#{facet.label} (#{number_with_delimiter(facet.hits)})", facet.query_url(params[:q])) %>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>
<% end %>
