<h3>
  <%= render partial: "/quick_search/search/result_title", locals: { link: result.link, title: result.title, date: nil } %>
</h3>
<p>
  <%= result.description.html_safe if result.description.present? %>
</p>
