<h3 class="result-title">
  <%= link_to result.title, result.link %>
</h3>

<% if result.description.present? %>
  <p><%= result.description.html_safe %></p>
<% end %>

<% if result.fulltext_link_html %>
  <p><%= result.fulltext_link_html.html_safe %></p>
<% end %>
