<% title %>
<%= render partial: 'layouts/quick_search/search_form' %>
<div class="quicksearch-ga-click-tracking">
  <div id="result-types" class="row">
    <div class="col result-types">
      <%= render partial: 'layouts/quick_search/found_types' %>
    </div>
  </div>
</div>
<div class="quicksearch-ga-click-tracking">
  <div class="row articles-catalog">
    <div class="col-md-6 module">
      <div id="catalog" class="module-contents" tabindex="-1">
        <p class="search-error" data-quicksearch-search-endpoint="catalog"
                                data-quicksearch-page=""
                                data-quicksearch-template=""></p>
      </div>
    </div>
    <div class="col-md-6 module">
      <div id="article" class="module-contents" tabindex="-1">
        <p class="search-error" data-quicksearch-search-endpoint="article"
                                data-quicksearch-page=""
                                data-quicksearch-template=""></p>
      </div>
    </div>
  </div>
</div>

<div class="quicksearch-ga-click-tracking">
  <div class="row">
    <div class="col-md-6 library-website module">
      <div id="library-website" class="module-contents" tabindex="-1">
        <p class="search-error" data-quicksearch-search-endpoint="library_website"
                                data-quicksearch-page=""
                                data-quicksearch-template=""></p>
      </div>
    </div>
    <div class="col-md-6 yewno module">
      <div id="yewno" class="module-contents" tabindex="-1">
        <h2 class="result-set-heading">Yewno</h2>
        <h3 class="result-set-subheading">Explore relationships among concepts</h3>
        <div id="yewno-results"></div>
      </div>
    </div>
  </div>
</div>

<% if Settings.ENABLED_SEARCHERS.include?('lib_guides') %>
  <div class="quicksearch-ga-click-tracking">
    <div class="row">
      <div class="col-md-6 lib-guides module">
        <div id="lib-guides" class="module-contents" >
          <p class="search-error" data-quicksearch-search-endpoint="lib_guides"
                                  data-quicksearch-page=""
                                  data-quicksearch-template=""></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="quicksearch-ga-click-tracking">
  <%= render partial: 'shared/more_search_tools' %>
</div>
