<% title %>
<div class="quicksearch-ga-click-tracking">
  <div id="result-types" class="row">
    <div class="col result-types">
      <%= render partial: 'layouts/quick_search/found_types' %>
    </div>
  </div>
</div>
<div class="quicksearch-ga-click-tracking">
  <div class="row articles-catalog">
    <div class="col-md-6 module">
      <% if Settings.ENABLED_SEARCHERS.include?('catalog') %>
        <div id="catalog" class="module-contents" tabindex="-1">
          <p class="search-error" data-quicksearch-search-endpoint="catalog"
                                  data-quicksearch-page=""
                                  data-quicksearch-template=""></p>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 module">
      <% if Settings.ENABLED_SEARCHERS.include?('article') %>
        <div id="article" class="module-contents" tabindex="-1">
          <p class="search-error" data-quicksearch-search-endpoint="article"
                                  data-quicksearch-page=""
                                  data-quicksearch-template=""></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="quicksearch-ga-click-tracking">
  <div class="row">
    <% if Settings.ENABLED_SEARCHERS.include?('lib_guides') %>
      <div class="col-md-6 lib-guides module">
        <div id="lib-guides" class="module-contents" >
          <p class="search-error" data-quicksearch-search-endpoint="lib_guides"
                                  data-quicksearch-page=""
                                  data-quicksearch-template=""></p>
        </div>
      </div>
    <% end %>
    <div class="col-md-6 library-website module">
      <div id="library-website" class="module-contents" tabindex="-1">
        <p class="search-error" data-quicksearch-search-endpoint="library_website"
                                data-quicksearch-page=""
                                data-quicksearch-template=""></p>
      </div>
    </div>
  </div>
</div>


<div class="quicksearch-ga-click-tracking">
  <div class="row">
    <% if Settings.ENABLED_SEARCHERS.include?('exhibits') %>
      <div class="col-md-6 exhibits module">
        <div id="exhibits" class="module-contents" >
          <p class="search-error" data-quicksearch-search-endpoint="exhibits"
                                  data-quicksearch-page=""
                                  data-quicksearch-template=""></p>
        </div>
      </div>
    <% end %>

    <div class="col-md-6 yewno module">
      <div id="yewno" class="module-contents" tabindex="-1">
        <h2 class="result-set-heading">Yewno</h2>
        <span class="h3 result-set-subheading"><%= t('yewno.sub_heading_html') %></span>
        <div id="yewno-results"></div>
      </div>
    </div>
  </div>
</div>


<div class="quicksearch-ga-click-tracking">
  <%= render partial: 'shared/more_search_tools' %>
</div>
