dist: xenial
notifications:
  email: false

rvm:
  - 2.7.1

addons:
  chrome: stable

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
    - CC_TEST_REPORTER_ID=1ba3e5d2ea97b884bba5b75480edfc439cab179afadd458c9870614e539cb727

before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

sudo: false
language: ruby
cache: bundler

script: bundle exec rake

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
