/*
  Stanford Web Colors (obsolete)
  from (page no longer exists) https://identity.stanford.edu/color.html#digital-color
*/
$su-cool-gray: #4d4f53;
$su-stone: #544948;
$su-light-sandstone: #f9f6ef;
$su-warm-gray: #3f3c30;
$su-clay: #5f574f;
$su-cloud: #dad7cb;
$su-poppy: #e98300;
