/*
  Stanford Web Colors
  from https://identity.stanford.edu/color.html#digital-color
*/
$su-cardinal-red: #8c1515;
$su-dark-red: #820000;
$su-bright-red: #81040e;
$su-white: #ffffff;
$su-cool-gray: #4d4f53;
$su-black: #2e2d29;
$su-bright-red: #b1040e;
$su-chocolate: #2f2424;
$su-stone: #544948;
$su-fog: #f4f4f4;
$su-light-sandstone: #f9f6ef;
$su-sandstone: #d2c295;
$su-warm-gray: #3f3c30;
$su-beige: #9d9573;
$su-light-sage: #c7d1c5;
$su-clay: #5f574f;
$su-cloud: #dad7cb;
$su-driftwood: #b6b1a9;
$su-sandhill: #b3995d;
$su-palo-alto: #175e54;
$su-teal: #00505c;
$su-purple: #53284f;
$su-redwood: #8d3c1e;
$su-brown: #5e3032;
$su-sky: #0098db;
$su-lagunita: #007c92;
$su-mint: #009b76;
$su-gold: #b26f16;
$su-sun: #eaab00;
$su-poppy: #e98300;
$su-bright-blue: #006cb8;
$su-blue: #00548f;
