<div class='panel panel-default'>
  <div class="panel-heading"><h3 class="panel-title">Search tips</h3></div>
  <div class="panel-body">
    <ul class="advanced-help">
      <li>Select &quot;match all&quot; to require all fields. (e.g. Title AND Author)</li>
      <li>Select &quot;match any&quot; to find at least one field. (e.g. Title OR Subject)</li>
      <li>Combine keywords and limits to find specific items.</li>
      <li>Use quotation marks to search as a <strong>phrase</strong>. (Word-stemming will still be applied to words within the phrase.)</li>
      <li>Use &quot;+&quot; (no space) before a word to make it <strong>required</strong>.</li>
      <li>Use &quot;-&quot; (no space) before a word or phrase to <strong>exclude</strong>.</li>
      <li>Use &quot;OR&quot;, &quot;AND&quot;, and &quot;NOT&quot; (uppercase) to create <strong>Boolean</strong> logic within a field. You can use parentheses in your complex expressions.</li>
      <li>Use &quot;*&quot; to search a <strong>truncated</strong> term. (Word-stemming is done automatically.</li>
      <li>Use &quot;?&quot; as a <strong>wildcard</strong> to replace a character in a word.</li>
      <li><strong>Word-stemming</strong> automatically includes plural and singular forms, and common suffix and tense variations.</li>
    </ul>
  </div>
</div>
