<ul class="facet-values list-unstyled blacklight-advanced-facet-select">
  <% display_facet.items.each do |item| -%>
    <li class="form-group">
      <div class="col-sm-9">
        <div class="checkbox">
          <%= label_tag "f_inclusive_#{field_name}_#{item.value.parameterize}"  do %>
          <%= check_box_tag "f_inclusive[#{field_name}][]", item.value.to_sym, facet_value_checked?(field_name, item.value), :id =>  "f_inclusive_#{field_name}_#{item.value.parameterize}"%>
            <%= "#{item.value} #{number_with_delimiter(item.hits)}" %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
