<div class="standalone mx-auto">
    <h2 class="fw-normal"><%= t('blacklight.feedback_form.title') %></h2>

    <div class="feedback-form-container">
        <%= render Feedback::FeedbackFormComponent.new(format: 'standalone') %>
    </div>
</div>