<div id="masthead-container">
  <div id="masthead" class="browse-masthead">
    <h1>Browse related items</h1>
    <p>Starting at call number:
      <% if params[:barcode] %>
        <%= @original_doc.holdings.find_by_barcode(params[:barcode]).callnumber %>
      <% else %>
        <%= @original_doc.holdings.callnumbers.first.callnumber %>
      <% end %>
    </p>
    <p><%= link_to(presenter(@original_doc).document_heading, solr_document_path(@original_doc)) %></p>
  </div>
</div>
