<% create_course %>
<% if @course_info.present? %>
  <div id="masthead-container">
    <div id="masthead" class="course-reserve-masthead">
      <h1>Course reserve list: <%= @course_info.id %></h1>
      <dl class='dl-horizontal dl-invert'>
        <dt>Course</dt>
        <dd><%= "#{@course_info.id} -- #{@course_info.name}" %></dd>
        <dt>Instructor</dt>
        <dd><%= @course_info.instructor %></dd>
      </dl>
      <p>
        <%= link_to "Find reserve list for another course", course_reserves_path %>
      </p>
    </div>
  </div>
<% end %>
