<div id="masthead" class="databases-masthead">
  <h1>Databases</h1>
  <p>Licensed resources are for the non-profit educational use of Stanford University. Use of these resources is governed by copyright law and individual license agreements. Systematic downloading, distributing, or retaining substantial portions of information is prohibited.</p>
  <p><%= link_to "Selected databases", selected_databases_path %> | <%= link_to "Connect from off campus", "http://library.stanford.edu/using/connect-campus" %> | <%= link_to "Report a connection problem", "http://library.stanford.edu/ask/email/connection-problems" %></p>
  <%= render "catalog/database_prefix" %>
</div>