<div id="masthead-container">
  <div id="masthead" class="digital-collections-masthead">
    <h1 class="my-3">Digital collections</h1>
    <p>These results describe collections of digital content — archives, donations, and grouped materials — in the Stanford Digital Repository. Use <b>Explore this collection</b> to find and filter the items within each collection.</p>

    <div class="flexgrid">
      <div class="col">
        <%= link_to 'All digital items', digital_collections_params_for %>
        <p>Find all items and collections in the SDR. Filter by images, maps, data, and more.</p>
      </div>
      <div class="col">
        <%= link_to 'IIIF resources', search_catalog_path(f: {iiif_resources: ['available'] })  %>
        <p>Find IIIF-compatible items in the SDR.</p>
      </div>
      <div class="col">
        <%= link_to("More about the SDR", "https://library.stanford.edu/research/stanford-digital-repository")%>
        <p>Stanford Libraries' managed repository for scholarly content of enduring value.</p>
      </div>
    </div>
  </div>
</div>
