<div id="masthead-container">
  <div id="masthead" class="dissertation-theses-masthead">
    <h1>Dissertations and theses</h1>
    <p>
      Includes all dissertations and theses in Stanford's libraries. Search within this category using the search box above.
    </p>
    <ul>
      <li>Stanford work, 1989 to 2009: <%= link_to 'Dissertations & theses @ Stanford University', catalog_path('6631561') %></li>
      <li>Stanford work after 2009: available directly in SearchWorks.</li>
      <li>See <a href="http://library.stanford.edu/guides/find-dissertations-and-theses">Find dissertations and theses</a> for more sources. </li>
    </ul>
  </div>
</div>
