<%= render Masthead::LayoutComponent.new do |component| %>
  <% component.with_header { 'Theses and dissertations' } %>

  <% component.with_aside do %>
    <h2>About theses and disserations</h2>
    <p>Results below include all theses and dissertations held in the Stanford University Libraries and the Stanford Digital Repository (SDR).</p>
    <p class="fw-semibold d-flex gap-3">Other helpful resources: <a href="https://about.proquest.com/en/dissertations/" class="fw-normal">ProQuest Dissertations & Theses <i class="bi bi-arrow-up-right"></i></a></p>
  <% end %>
<% end %>


<% content_for(:breadcrumb) do %>
  <a href="/" class="icon-link"><%= back_icon %> Back to catalog search</a>
<% end %>
