<%= render Masthead::LayoutComponent.new do |component| %>
  <% component.with_header { 'Theses and dissertations' } %>
    <p>
      Result includes all theses and dissertations — from all sources — held in the Stanford Libraries and Digital Repository.
    </p>
    <p>To show Stanford work only, refine by <strong>Stanford student work</strong> or by <strong>Stanford school or department</strong>.</p>
  </div>
<% end %>
