<%= render Masthead::LayoutComponent.new do |component| %>
  <% component.with_header { 'Government documents' } %>

  <% component.with_search do %>
    <%= render MastheadSearchComponent.new url: search_action_url,
                                      advanced_search_url: search_action_url(action: 'advanced_search'),
                                      params: search_state.params_for_search.except(:qt),
                                      autocomplete_path: suggest_index_catalog_path %>
  <% end %>

  <% component.with_aside do %>
    <h2>About government documents</h2>
    <p>
      Stanford is a depository library for California state, federal, UN, and EU government documents,
      and has extensive holdings of documents from foreign national and local <abbr title="International Governmental Organizations">IGOs</abbr>
      and <abbr title="Non-Governmental Organizations">NGOs</abbr>. These include publications, data, statistics, archival records, and more.
    </p>
  <% end %>
<% end %>

<% content_for(:breadcrumb) do %>
  <a href="/" class="icon-link"><%= back_icon %> Back to catalog search</a>
<% end %>
