<div id="masthead-container">
  <div id="masthead" class="government-documents-masthead">
    <h1 class="my-3">Government documents</h1>
    <div>
      <p>
        Stanford is a depository library for California state, federal, UN, and EU government documents,
        and has extensive holdings of documents from foreign national and local <abbr title="International Governmental Organizations">IGOs</abbr>
        and <abbr title="Non-Governmental Organizations">NGOs</abbr>. These include publications, data, statistics, archival records, and more.
      </p>

      <p>
        The Libraries acquire materials via depository agreements, subscriptions, mailing lists, and by contacting agencies directly.
        We also subscribe to commercial databases containing government publications, data, and archival records.
      </p>

    </div>
  </div>
</div>
