<div id="masthead-container">
  <div id="masthead" class="sdr-masthead">
    <h1 class="my-3">Stanford Digital Repository</h1>
    <p>These results include all digital items and collections from the SDR. Filter by <b>Resource type</b> to find images, maps, data, and more.</p>

    <div class="flexgrid">
      <div class="col">
        <%= link_to('Digital collections', search_catalog_path(collections_search_params)) %>
        <p>Find collections of digital content — archives, donations, and grouped materials — in the SDR.</p>
      </div>
      <div class="col">
        <%= link_to 'IIIF resources', search_catalog_path(f: {iiif_resources: ['available'] })  %>
        <p>Find IIIF-compatible items in the SDR.</p>
      </div>
      <div class="col">
        <%= link_to("More about the SDR", "https://library.stanford.edu/research/stanford-digital-repository")%>
        <p>Stanford Libraries' managed repository for scholarly content of enduring value.</p>
      </div>
    </div>
  </div>
</div>
