<div id="masthead-container">
  <div id="masthead" class="sdr-masthead">
    <h1>Stanford Digital Repository</h1>
    <div>
      The SDR is Stanford University Libraries' managed repository for scholarly content of enduring value. It includes digitized content from our archival collections as well as research materials deposited by scholars.
      <p class="inline-links">
        Search SDR for: <%= link_to('data', digital_collections_params_for('Dataset')) %> | <%= link_to('images', digital_collections_params_for('Image')) %> | <%= link_to('maps', digital_collections_params_for('Map')) %> | <%= link_to('collections', search_catalog_path(collections_search_params)) %>
      </p>
    </div>
  </div>
</div>
