<%= render Masthead::LayoutComponent.new do |component| %>
  <% component.with_header { 'Stanford digital collections' } %>

  <% component.with_search do %>
    <div class="fs-5 mb-2">Search by title, author or format</div>
    <%= render HomepageSearchComponent.new url: search_action_url,
                                      advanced_search_url: search_action_url(action: 'advanced_search'),
                                      params: search_state.params_for_search.except(:qt),
                                      autocomplete_path: suggest_index_catalog_path %>
  <% end %>

  <% component.with_aside do %>
    <h2>About the Stanford Digital Repository</h2>
    <p>The Stanford Digital Repository supports the management of scholarly information resources of enduring value to Stanford University. Search results may include individual digital items or curated collections -- or organized groupings of related materials, often based on shared provenance, subject, donor, or archival source.
    </p>
    <p><a class="btn btn-primary" href="https://sdr.library.stanford.edu/">More information</a></p>
    <p class="fw-semibold d-flex gap-3">Other helpful resources: <a href="https://sdr.stanford.edu/" class="fw-normal">Submit materials <i class="bi bi-arrow-up-right"></i></a>
    <a href="<%= iiif_item_path %>" class="fw-normal">Browse IIIF resources</a>
  <% end %>
<% end %>

<% content_for(:breadcrumb) do %>
  <a href="/"><%= back_icon %> Back to catalog search</a>
<% end %>
