<div id="masthead-container">
  <div id="masthead" class="selected-databases-masthead">
    <h1>Selected article databases</h1>
    <ul>
      <li>
        See our guides about <a href="http://library.stanford.edu/guides/find-articles">finding articles</a>, <a href="http://library.stanford.edu/guides/find-newspapersnewspaper-articles">newspapers</a>, and <a href="http://library.stanford.edu/guides/find-online-reference">reference information</a>.
      </li>
      <li>
        For more specific resources, see the Subject pages associated with our <a href="http://library.stanford.edu/people">Subject Librarians</a>.
      </li>
    </ul>
    <p><%= link_to "All databases", databases_path %> | <%= link_to "Connect from off campus", "http://library.stanford.edu/using/connect-campus" %> | <%= link_to "Report a connection problem", "http://library.stanford.edu/ask/email/connection-problems" %></p>
  </div>
</div>
