<div id="masthead" class="selected-databases-masthead">
  <h1>Selected Databases</h1>
  <p>If you're not sure where to start your research, try one of these databases.</p>
  <p><%= link_to "All databases", databases_path %> | <%= link_to "Connect from off campus", "http://library.stanford.edu/using/connect-campus" %> | <%= link_to "Report a connection problem", "http://library.stanford.edu/ask/email/connection-problems" %></p>
</div>