<div class='alternate-catalog' data-alternate-catalog="<%= search_catalog_path(q: params.fetch(:q)) %>">
  <% if close? %>
    <button type='button' class='alternate-catalog-close btn-close close' aria-label="Close">
    </button>
  <% end %>
  <h3 class='alternate-catalog-title'></h3>
  <div class='alternate-catalog-body'>
    <div class='row'>
      <div class='col-md-6'>
        <h4 class="alternate-catalog-name">
          Catalog
        </h4>
        <div class='alternate-catalog-desc'>
          Books, media, physical &amp; digital resources
        </div>
      </div>
      <div class='col-md-6'>
        <%= link_to(search_catalog_path(q: params.fetch(:q)), class: 'btn btn-primary') do %>
          See <span class="alternate-catalog-count"%></span> catalog results
        <% end %>
      </div>
    </div>
    <div class='row alternate-catalog-facet-section'>
      <div class='col-md-12'>
        <ul class="alternate-catalog-facets list-inline">
        </ul>
      </div>
    </div>
  </div>

  <%= render 'catalog/lib_guides_alternate_catalog' if Settings.LIB_GUIDES.MINI_BENTO_ENABLED %>
</div>
