<div class='alternate-catalog' data-alternate-catalog="<%= alternate_url %>">
  <% if close? %>
    <button type='button' class='alternate-catalog-close btn-close close' aria-label="Close">
    </button>
  <% end %>
  <h3 class='alternate-catalog-title'></h3>
  <div class='alternate-catalog-body'>
    <div class='row'>
      <%= alternate_catalog_body %>
    </div>
    <div class='row alternate-catalog-facet-section'>
      <div class='col-md-12'>
        <ul class="alternate-catalog-facets list-inline">
        </ul>
      </div>
    </div>
  </div>

  <%= render 'catalog/lib_guides_alternate_catalog' if Settings.LIB_GUIDES.MINI_BENTO_ENABLED %>
</div>
