<div class="d-flex justify-content-between align-items-center flex-wrap column-gap-1 mb-1">
    <h2 class='result-set-heading h4 mb-0 fw-semibold text-nowrap'>
      <%= t("display_name_html", scope: presenter.i18n_key) %>
    </h2>
    <%= render('/search/see_all', presenter:) unless presenter.no_results? %>
</div>
<small class='result-set-subheading d-block mb-3'>
  <%= t("sub_heading_html", scope: presenter.i18n_key) %>
</small>
