<div class="d-flex justify-content-between align-items-center flex-wrap">
    <h2 class='result-set-heading h4 fw-semibold text-nowrap'>
      <%= t("#{service_name}_search.display_name_html") %>
    </h2>
    <%= render '/search/see_all', { service_name: service_name, total: total, module_link: searcher.loaded_link } %>
</div>
<small class='result-set-subheading d-block mb-3'>
  <%= t("#{service_name}_search.sub_heading_html") %>
</small>
