<div class='search-error-message'>
  No <%= t("micro_display_name", scope: presenter.i18n_key) %> results found...
  <%= link_to t("no_results_link", scope: presenter.i18n_key), data: {"quicksearch_ga_action" => "no-results"} do %>
      Try <%= t("no_results_service_message", scope: presenter.i18n_key) %>
  <% end %>
</div>
