<% if result.try(:link).present? || result.try(:title).present? %>
  <% if result.try(:thumbnail) %>
    <li class='with-thumbnail'>
      <div class="result">
        <%= render 'result_with_thumbnail', { result: } %>
      </div>
    </li>
  <% else %>
    <li class='no-thumbnail'>
      <div class="result">
        <%= render 'result_no_thumbnail', { result: } %>
      </div>
    </li>
  <% end %>
<% end %>
