<% if result.try(:link).present? || result.try(:title).present? %>
  <% if result.try(:thumbnail) %>
    <li class='with-thumbnail'>
      <div class="result">
        <%= render partial: '/search/result_with_thumbnail', locals: { result: result } %>
      </div>
    </li>
  <% else %>
    <li class='no-thumbnail'>
      <div class="result">
        <%= render partial: '/search/result_no_thumbnail', locals: { result: result } %>
      </div>
    </li>
  <% end %>
<% end %>
