<%= turbo_frame_tag "#{@service.name}_module" do %>
  <div class="alert alert-danger">
    There was an error retrieving your <%= t("#{params[:endpoint]}_search.micro_display_name") %> results.
  </div>
<% end %>
