<% title %>
<div class="quicksearch-ga-click-tracking">
  <div id="result-types" class="row">
    <div class="col result-types">
      <%= render partial: 'layouts/quick_search/found_types' %>
    </div>
  </div>
</div>
<div class="quicksearch-ga-click-tracking row row-cols-1 row-cols-md-2">
  <% Settings.ENABLED_SEARCHERS.each do |searcher| %>
    <div class="col module">
      <%= render_module(@searches[searcher], searcher) %>
    </div>
  <% end %>
</div>

<div class="quicksearch-ga-click-tracking">
  <%= render partial: 'shared/more_search_tools' %>
</div>
