<%= turbo_frame_tag "#{params[:endpoint]}_module" do %>
  <%= render 'module', { searcher: @searcher, service_name: params[:endpoint] } unless @no_answer %>
  <% if @no_answer %>
    <div class="alert alert-danger">
      There was an error retrieving your <%= t("#{params[:endpoint]}_search.micro_display_name") %> results.
    </div>
  <% end %>
<% end %>
