<div role="alert" class="alert <%= alert_class %> alert-dismissible shadow-sm d-flex align-items-center">
  <i class="bi <%= icon %> fs-3 me-3"></i>
  <div class="text-body">
    <div><%= message %></div>
  </div>
  <button type="button" class="btn-close p-2 mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
