<div class="container">
  <%= render 'shared/modal' %>
  <main id="main-container">
    <%= render 'global_alerts/alerts' if Settings.GLOBAL_ALERT %>
    <%= render '/flash_msg', layout: 'shared/flash_messages' %>
    <%= content %>
  </main>
</div>
