<div class="recaptcha" data-recaptcha-target="tags" data-recaptcha-action-value="<%= action %>" data-recaptcha-site-key-value="<%= site_key %>">
  <%= recaptcha_v3 action:, inline_script:, site_key: %>
</div>
