<div class="sul-record-page-info">
  <div class="sul-record-page-info-inner d-flex column-gap-2">
    <% if @search_context[:prev] %>
      <%= link_to_previous_document @search_context[:prev], classes: 'previous' %>
    <% else %>
      <%= tag.span t('views.pagination.previous').html_safe, class: 'previous text-grey-50' %>
    <% end %>
    <span class="page-entries"><%= item_page_entry_info %></span>
    <%= link_to_next_document @search_context[:next], classes: 'next' if @search_context[:next] %>
  </div>
</div>
