<div class="sul-record-page-info">
  <div class="sul-record-page-info-inner">
    <%= link_to_previous_document @search_context[:prev], classes: 'previous btn btn-link btn-sul-toolbar' if @search_context[:prev] %>
    <span class="page-entries"><%= item_page_entry_info %></span>
    <%= link_to_next_document @search_context[:next], classes: 'next btn btn-link btn-sul-toolbar' if @search_context[:next] %>
  </div>
</div>
