<div class="view-type">
  <span class="sr-only"><%= t('blacklight.search.view_title') %></span>
  <div id="view-type-dropdown" class="btn-group dropdown">
    <button type="button" class="btn btn-sul-toolbar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="d-none d-lg-inline">
        <%= active_icon %>
      </span>
      <%= t('blacklight.search.view.label').html_safe %></button>

    <div class="dropdown-menu" role="menu">
      <% view_items.each do |view| %>
        <%= view %>
      <% end %>
    </div>
  </div>
</div>
