<% if library.library_instructions.present? %>
  <div class='access-panel-subsection alert alert-warning border-0 d-flex align-items-center mt-3 mb-0'>
    <div class="bi bi-exclamation-circle-fill fs-5 me-3"></div>
    <div class="text-body overflow-auto">
      <% if library.library_instructions[:heading] %>
        <h4 class="h5"><%= library.library_instructions[:heading] %></h4>
      <% end %>
      <p class="mb-0 small text-break"><%= library.library_instructions[:text].html_safe %></p>
    </div>
  </div>
<% end %>
