<h2>At the library</h2>
<div data-live-lookup-id="<%= document.live_lookup_id %>" data-live-lookup-url="<%= availability_index_path %>">
  <%= render AccessPanels::LibraryComponent.with_collection(libraries, document: document) %>
</div>
