<div>
  <% document.holdings.libraries.each do |library| %>
    <%= render AccessPanels::LibraryComponent.new(library:, document:) %>
  <% end %>
  <%= helpers.turbo_frame_tag "availability_#{dom_id(document)}", src: availability_path(document) %>
</div>
