<div>
  <% document.holdings.non_sal_libraries.each do |library| %>
    <%= render AccessPanels::LibraryComponent.new(library:, document:) %>
  <% end %>
  <%= render AccessPanels::GroupedLibraryComponent.new(label: 'Off-campus collections', libraries: document.holdings.sal_libraries , document:) %>

  <%= helpers.availability_turbo_frame(document) %>
</div>
