<div class="results-metadata-section col-xs-6 col-md-8">
  <div class="cdl-results-block">
    <p>
      This item is available for digital borrowing while access to the physical item is restricted.
    </p>
    <p>
      Access is limited to Stanford faculty, students, and staff. SUNet ID login is required.
    </p>
  </div>
</div>
