<%= render @layout.new(classes: ['panel-exhibit'],
           data: {
             controller: 'exhibit-panel',
             exhibit_panel_exhibits_host_value: Settings.EXHIBITS_ACCESS_PANEL.exhibits_host,
             exhibit_panel_is_collection_value: document.is_a_collection?,
             exhibit_panel_druid_value: document.druid,
             exhibit_panel_heading_single_value: document.is_a_collection? ? 'Exhibits' : 'Item is featured in an exhibit',
             exhibit_panel_heading_multiple_value: 'Item is featured in exhibits'
           }, style: 'display: none') do |component| %>
  <% component.with_title do %><span data-exhibit-panel-target="title"></span><% end %>
  <% component.with_body do %>
    <p>Items from this collection are featured in:</p>
    <div data-exhibit-panel-target="cardBody"></div>
  <% end %>
<% end %>
