<%= render @layout.new(classes: ['panel-exhibit'], data: { behavior: 'exhibits-panel', 'exhibits-host': Settings.EXHIBITS_ACCESS_PANEL.exhibits_host, 'is-collection': document.is_a_collection?, druid: document.druid }, style: 'display: none') do |component| %>
  <% if document.is_a_collection? %>
    <% component.with_title do %>
        Exhibits
    <% end %>

    <% component.with_body do %>
      <p>Items from this collection are featured in:</p>
    <% end %>
  <% else %>
    <% component.with_title do %>
        <span style="display:none" data-behavior="single-exhibit-heading">Item is featured in an exhibit</span>
        <span style="display:none" data-behavior="multiple-exhibit-heading">Item is featured in exhibits</span>
      <% end %>

    <% component.with_body do %>
        <p>Items from this collection are featured in:</p>
    <% end %>
  <% end %>
<% end %>
