<%= tag.li class: classes, hidden: true, data: { long_table_controller_ignore: true } do %>
  <div class="google-preview">
    <%= image_tag "gbs_preview_button.gif", alt:"" %>
    <a href="" class="<%= @link_text.parameterize %>">(<%= @link_text %>)</a>
  </div>
<% end %>
