<div class="d-flex flex-column mt-2 mb-4 panel-library-location">
  <div class="library-location-heading bg-light ms-n3 ps-3 py-2 mb-3 position-relative">
    <h3 class="h4 p-0 m-0 fw-semibold"><%= label %></h3>
  </div>

  <% libraries.each do |library| %>
    <%= render AccessPanels::LibraryLocationComponent.with_collection(library.locations, document:, library:) %>
  <% end %>
</div>
