<div class="d-flex justify-content-end"> 
    <button class='btn btn-link' data-bs-toggle='popover' data-bs-trigger='focus' data-bs-placement='left' data-bs-content='<%= popover_content %>' data-bs-custom-class="popover-availability" data-bs-html="true">Summary of items</button> 
</div>