<div class="d-flex flex-column mt-2 mb-4 panel-library-location">
  <%= render AccessPanels::LibraryHeaderComponent.new(document:, library:) %>

  <%= render AccessPanels::AdditionalInfoComponent.new(document:, library:) %>

  <%= render AccessPanels::LibraryLocationComponent.with_collection(library.locations, document:, library:) %>
</div>
