<div class="library-location-heading bg-light ms-n3 ps-3 py-2 position-relative" <% if fetch_hours? %>data-controller="location-hours" data-location-hours-route-value="<%= hour_path(library.code) %>"<% end %>>
  <h3 class="h4 p-0 m-0 fw-semibold">
    <%= link_to_library_about_page class: 'fw-semibold stretched-link' %>
  </h3>
  <div class="small" data-location-hours-target="hours">
    <% if library.holding_library? %>
      <div class="placeholder col-5"></div>
    <% else %>
      (no holding library)
    <% end %>
  </div>
</div>
