<div class="d-flex justify-content-end" data-library-has-target="container"> 
    <button class='btn btn-link px-0' data-bs-toggle='popover' data-bs-trigger='focus' data-bs-placement='left' data-bs-content='<%= popover_content %>' data-bs-custom-class="popover-availability" data-bs-html="true"><%= I18n.t('searchworks.availability.summary') %></button> 
</div>