<%= render @layout.new(classes: 'panel-online') do |component| %>
  <% component.with_title(tag: 'h3', classes: ['h4', 'ms-n3', 'ps-3', 'bg-light', 'py-2']) do %>
    Best source
  <% end %>

  <% component.with_body do %>
    <ul class='document-metadata list-unstyled'>
      <% links.each do |link| %>
        <li>
          <%= render Articles::LinkComponent.new(link: link, document: document) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
