<%= render @layout.new(classes: 'panel-online') do |c| %>
  <% c.title { 'Best source' } %>

  <% c.body do %>
    <ul class='document-metadata'>
      <% links.each do |link| %>
        <li class="<%= 'stanford-only' if link.stanford_only? %>">
          <% if link.href == 'detail' %>
            <%= link_to(link.text, article_fulltext_link_path(id: document.id, type: link.type), data: { turbo: false }) %>
          <% else %>
            <%= link_to(link.text, link.href, class: link.ill? ? 'sfx' : '') %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
