<%= render @layout.new do |component| %>
  <% component.with_title { 'Also listed in' } %>
  <% component.with_body do %>
    <div data-controller="meta-json-check" data-meta-json-check-field-value="earthworks"
       data-meta-json-check-link-url-value="<%= earthworks_url %>"
       data-meta-json-check-link-label-value="Earthworks"
       data-meta-json-check-url-value="<%= meta_json_url %>">
    </div>
    <div><%= link_to('Stanford Digital Repository', purl_url) %></div>
  <% end %>
<% end %>
