<%= render @layout.new(classes: ['panel-related'], hidden: !oclc.present?) do |component| %>
  <% component.with_title do %>
    More options
  <% end %>

  <% component.with_body do %>
    <ul class="links">
      <% if oclc.present? %>
        <li class="worldcat">
          <%= link_to("Find it at other libraries via WorldCat" ,"https://worldcat.org/oclc/#{oclc.first}") %>
        </li>
      <% end %>

      <%= render AccessPanels::GoogleBooksPreviewComponent.new(document: document) %>
    </ul>
  <% end %>
<% end %>
