<%= render @layout.new(classes: ['panel-online', 'sfx-panel'], data: { behavior: 'sfx-panel', 'sfx-url': sfx_data_path(url: Addressable::URI.encode(sfx_url)) }) do |component| %>
  <% component.with_title { 'All available sources' } %>

  <% component.with_body do %>
    <div data-behavior="sfx-panel-body">
      <div class='loading-spinner'></div>
    </div>

    <%= link_to(SfxData.url_without_sid(sfx_url)) do %>
      See the full <span class='sfx-emphasis'>find it @ Stanford</span> menu
    <% end %>
  <% end %>
<% end %>
