<%= render @layout.new(classes: ['panel-online', 'sfx-panel']) do |component| %>
  <% component.with_title { 'All available sources' } %>

  <% component.with_body do %>
    <turbo-frame src="<%= sfx_data_path(url: Addressable::URI.encode(sfx_url)) %>" id="sfx-data">
      <div class='loading-spinner'></div>
    </turbo-frame>
  <% end %>
<% end %>
