<%= form_tag email_articles_path, :data => { blacklight_modal: 'trigger' }, :id => 'email_form', :class => "form-horizontal modal_form", :method => :post do %>
  <div class="modal-body">
    <%= render 'shared/email_form', documents: @documents %>
    <%= hidden_field_tag :type, 'brief' %>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
  </div>
<% end %>
