<% @page_title = t 'blacklight.articles.home.title' %>

<% content_for :head do %>
  <%= preload_link_tag 'searchworks4/research-papers-reading-v1.webp' %>
<% end %>

<% content_for(:search_navbar) do %>
  <div class="search-area-image-bg">
    <div class="container">
      <%= render HomepageSearchComponent.new url: search_action_url,
                                              params: search_state.params_for_search(f: { eds_search_limiters_facet: ['Direct access to full text'] }).except(:qt),
                                              autocomplete_path: suggest_index_catalog_path do |component| %>
        <% component.with_footer { 'Search over two billion resources from Stanford University Libraries’ digital subscriptions, including articles, eBooks, eNewspapers, and other electronic resources.' } %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row mt-2 article-home-page">
  <h1 class="visually-hidden">Articles+ Search</h1>

  <div class="d-flex mt-4 mb-3">
    <%= render Articles::LoginBannerComponent.new %>
  </div>

  <div class="col-lg-6 col-xl-8">
    <section class="tips">
      <header class="d-flex justify-content-between flex-wrap mb-3"><span class="h3 text-nowrap">Search tips</span>
        <a href="https://guides.library.stanford.edu/c.php?g=1081009&p=7878020" class="btn btn-sm btn-outline-primary text-nowrap align-self-start">Visit SearchWorks Guide</a>
      </header>
      <ul class="list-unstyled">
        <li class="mb-3">
          <div class="fw-semibold">For a known article, type author name and title in the main search box - or copy/paste from a citation.</div>
          Example: block bioenergetics of captive yellowfin tuna
        </li>

        <li class="mb-3">
          <div class="fw-semibold">Start with keywords in the "All fields" search; add more keywords to refine.</div>
          In Articles+, adding more keywords to your search is often more effective than using facets.
        </li>

        <li class="mb-3">
          <div class="fw-semibold">Enter your search in lower case or mixed case, never in ALL CAPS.</div>
          Some upper-case words in your search may be interpreted as Boolean operators or field codes and will cause the search to fail.
        </li>

        <li class="mb-3">
          <div class="fw-semibold">For authors with common names, searching last name, first name brings the most relevant results to the top.</div>
          Example : cornell, eric rather than eric cornell
        </li>

        <li class="mb-3">
          <div class="fw-semibold">Boolean operators AND, OR, and NOT (upper-case) can be combined with parentheses.</div>
          Example : tuna (yellowfin OR bluefin)
        </li>

        <li class="mb-3">
          <div class="fw-semibold">Use wildcards to search for spelling or word variations</div>
          Example : comput* (finds computer, computing, computation)<br>
          Example : colo#r (finds color, colour)<br>
          Example : ne?t (finds next, nest, neat... but not net)
        </li>
      </ul>
    </section>
  </div>
</div>
