<h1 itemprop="name"><%= document_presenter(document).heading %></h1>
<div class="research-starter-show container row">
  <span class="research-starter-label">Topic overview</span>
  <span class="research-starter-source-title"><%= document['eds_composed_title'] -%></span>
</div>
