<div class="card access-panel panel-online">
  <div class="access-panel-heading card-header">
    <h3>
      Best source
    </h3>
  </div>
  <div class="card-body">
    <ul class='document-metadata dl-horizontal dl-invert'>
      <% document.access_panels.online.links.each do |link| %>
        <li>
          <% if link.href == 'detail' %>
            <%= link_to(link.text, article_fulltext_link_path(id: document.id, type: link.type), data: { 'turbolinks' => false }) %>
          <% else %>
            <%= link_to(link.text, link.href, class: link.ill? ? 'sfx' : '') %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
