<div class="mt-3 d-flex flex-column gap-2 fs-15 align-items-start">
  <%= render Searchworks4::OnlineAvailabilityComponent.new(document:) %>
  <%= render Searchworks4::PhysicalAvailabilityComponent.new(document:) %>
</div>
