<div class="badge bg-light fw-semibold mb-2 text-uppercase <%= badge_classes %>">
  <% if document.stanford_archives_finding_aid? %>
    Archival Collections at Stanford
  <% else %> 
    Collection
  <% end %>
</div>
