<button class="btn btn-sm btn-preview preview-button d-flex px-1 py-2 align-items-center gap-0 overflow-hidden documentid-<%= document_id %>"
        aria-label="Show preview"
        data-gallery-card-target="button"
        data-action="gallery-card#togglePreview"
        >
  <span class="button-text overflow-hidden text-nowrap" data-gallery-card-target="buttonText">Preview</span>
  <span class="bi bi-chevron-down"></span>
</button>
