<% if mods_display_name.present? %>
    <li>
    <%= link_to(mods_display_name['link'], search_catalog_path(q: "\"#{mods_display_name['link']}\"", search_field: 'search_author')) %><%= label_display(mods_display_name[:post_text]) %>
    </li>
<% elsif mods_name.present? && mods_name.values.present? %>
    <li>    
    <%= link_to(mods_name.values.first, search_catalog_path(q: "\"#{mods_name.values.first}\"", search_field: 'search_author')) %><%= label_display(mods_name.label) %>
    </li>
<% end %>
