<div class="availability-component d-inline-flex border rounded p-2 gap-3" data-controller="list-toggle" data-list-toggle-list-item-selector-value="li" data-list-toggle-limit-value="3">
  <div class="fw-semibold available-online text-nowrap">Available online <i class="bi bi-forward-fill"></i></div>

  <ul class="list-unstyled mb-0" data-list-toggle-target="group">
    <% links.each do |link| %>
      <li <% if links.many? %>class="mb-1"<% end %>>
        <%= render Searchworks4::LinkComponent.new(link: link, document: document) %>
      </li>
    <% end %>
  </ul>
</div>
