<div class='panel panel-default'>
  <div class='panel-body'>
    <div data-library-h3lp data-jid="ic@chat.libraryh3lp.com">
      <span class="image-icon image-icon-message-away media-object pull-left"></span>
      <div class="media-body">
        <%= link_to "Chat with a librarian", "https://library.stanford.edu/ask" %>
        <p>Chat reference is available 10-6 Monday through Thursday and 10-5 on Friday.</p>
      </div>
    </div>
  </div>
</div>
