<div class="alert alert-success home-page-notice" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="heading">
    <%= t('searchworks.home_page_notice.heading') %>
  </div>
  <div>
    <%= t('searchworks.home_page_notice.body_html') %>
  </div>
</div>
