<dialog id="blacklight-modal" class="modal" data-controller="modal" data-action="cancel->modal#fixupBackdrop">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
    </div>
  </div>
</dialog>
