<div class='row more-search-tools homepage-panels'>
  <div class='col-md-6'>
    <div class='card'>
      <%= image_tag 'search.svg', class: 'media-object card-img-left', alt: '', 'aria-hidden': true %>
      <div class='card-body'>
        <h2 class='card-title'><%= link_to 'More search tools', 'https://guides.library.stanford.edu/search-services' %></h2>
        <p class='card-text d-none d-sm-block d-md-block d-lg-block d-xl-block'>Tools to help you discover resources at Stanford and beyond.</p>
      </div>
    </div>
  </div>
</div>
