<ul class="dropdown-menu sul-top-menu" role="menu" aria-labelledby="searchNavbarTopMenu">
  <li>
    <a role="menuitem" href="https://library.stanford.edu/about">About</a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/libraries">Libraries</a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/using">Using the libraries</a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/areas">Collections</a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/research">Research support</a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/academic-technology">Academic technology</a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/ask">Ask us</a>
  </li>

  <li role="separator" class="divider"></li>

  <li>
    <a role="menuitem" href="https://library.stanford.edu/using/connect-campus">
      <i class="fa fa-bookmark-o"></i> Connect from off campus
    </a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/hours">
      <i class="fa fa-bookmark-o"></i> Hours &amp; locations
    </a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/using/interlibrary-borrowing">
      <i class="fa fa-bookmark-o"></i> Interlibrary borrowing
    </a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/ask/email/request_purchase">
      <i class="fa fa-bookmark-o"></i> Suggest a purchase
    </a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/guides/topic">
      <i class="fa fa-bookmark-o"></i> Topic guides
    </a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/guides/course">
      <i class="fa fa-bookmark-o"></i> Course guides
    </a>
  </li>

</ul>
