<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <%= link_to application_name, root_path, class: "navbar-brand" %>
  </div>
  <%= render_search_bar  %>
</div>
