<ul class="dropdown-menu sul-services-menu" role="menu" aria-labelledby="searchNavbarTopMenu">
  <li>
    <a role="menuitem" href="https://library.stanford.edu/using">Using the libraries</a>
    <ul>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/using/connect-campus">Connecting to e-resources</a>
      </li>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/using/interlibrary-borrowing">Interlibrary services</a>
      </li>
    </ul>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/ask">Ask us</a>
    <ul>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/ask/email/reference">Ask a reference question</a>
      </li>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/ask/email/connection-problems">Report a connection problem</a>
      </li>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/suggest_purchase">Suggest a purchase (requires login)</a>
      </li>
    </ul>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/about">About the Stanford Libraries</a>
    <ul>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/people">Find a specialist</a>
      </li>
      <li>
        <a role="menuitem" href="https://library-hours.stanford.edu/">Library hours</a>
      </li>
    </ul>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/libraries">Libraries</a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/collections">Collections</a>
  </li>
  <li>
    <a role="menuitem" href="https://library.stanford.edu/research">Research support</a>
    <ul>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/guides/topic">Topic guides</a>
      </li>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/guides/course">Course guides</a>
      </li>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/search-tools">More search tools</a>
      </li>
    </ul>
  </li>
  <li>
    <a role="menuitem" href="https://library-status.stanford.edu/">System status</a>
  </li>
</ul>
