<div class="dropdown-menu sul-services-menu" role="menu" aria-labelledby="searchNavbarTopMenu" id="libraryServicesMenu">
  <span class="dropdown-item-text">Need assistance?</span>
  <a href="https://library.stanford.edu/contact-us" class="dropdown-item" role="menuitem">Ask a librarian</a>
  <a href="https://guides.library.stanford.edu/searchworks" class="dropdown-item" role="menuitem">SearchWorks user guide</a>
  <a href="https://guides.library.stanford.edu/c.php?g=1081009&p=7878021" class="dropdown-item" role="menuitem">Access to online articles</a>
  <a href="https://library-status.stanford.edu/" class="dropdown-item" role="menuitem">Check system status</a>

  <span class="dropdown-item-text">If we don't have it <%= render StanfordOnlySpanComponent.new %><span class="visually-hidden"> (limited to Stanford community)</span></span>
  <a href="https://sulils.stanford.edu/" class="dropdown-item" role="menuitem">Interlibrary loan</a>
  <a href="https://stanforduniversity.qualtrics.com/jfe/form/SV_5iQABR6VSszIQMR" class="dropdown-item" role="menuitem">Recommend a purchase</a>
</div>
