<ul class="dropdown-menu sul-services-menu" role="menu" aria-labelledby="searchNavbarTopMenu" id="libraryServicesMenu">
  <li><span class="dropdown-item-text text-uppercase text-secondary fw-semibold"><small>Need assistance?</small></span></li>
  <li><a href="https://library.stanford.edu/contact-us" class="dropdown-item" role="menuitem">Ask a librarian</a></li>
  <li><a href="https://guides.library.stanford.edu/searchworks" class="dropdown-item" role="menuitem">SearchWorks user guide</a></li>
  <li><a href="https://guides.library.stanford.edu/c.php?g=1081009&p=7878021" class="dropdown-item" role="menuitem">Access to online articles</a></li>
  <li><a href="https://library-status.stanford.edu/" class="dropdown-item" role="menuitem">Check system status</a></li>

  <li><span class="dropdown-item-text text-uppercase text-secondary fw-semibold"><small>If we don't have it <%= render StanfordOnlySpanComponent.new(aria: { hidden: true }) %><span class="visually-hidden"> (limited to Stanford community)</span></small></span></li>
  <li><a href="https://sulils.stanford.edu/" class="dropdown-item" role="menuitem">Interlibrary loan</a></li>
  <li><a href="https://stanforduniversity.qualtrics.com/jfe/form/SV_5iQABR6VSszIQMR" class="dropdown-item" role="menuitem">Recommend a purchase</a></li>
</ul>
