<ul class="dropdown-menu sul-services-menu" aria-labelledby="searchNavbarTopMenu" id="libraryServicesMenu">
  <li>
    <span class="menugroup">Need help?</span>
    <ul>
      <li>
        <a href="https://library.stanford.edu/chat" class="stanford-only" title="limited to Stanford community">Chat with us  <span class="sr-only"> (limited to Stanford community)</span></a>
      </li>
      <li>
        <a href="https://library.stanford.edu/ask/email/reference">Email a reference question</a>
      </li>
      <li>
        <a href="https://guides.library.stanford.edu/searchworks">Using SearchWorks</a>
      </li>
    </ul>
  </li>
  <li>
    <span class="menugroup">Connection</span>
    <ul>
      <li>
        <a href="https://library.stanford.edu/using/connect-campus">Connect to e-resources</a>
      </li>
      <li>
        <a href="https://library.stanford.edu/ask/email/connection-problems">Report a connection problem</a>
      </li>
    </ul>
  </li>
  <li>
    <span class="menugroup">If we don't have it</span>
    <ul>
      <li>
        <a href="https://library.stanford.edu/using/interlibrary-borrowing">Interlibrary borrowing</a>
      </li>
      <li>
        <a href="https://library.stanford.edu/suggest_purchase" class="stanford-only" title="limited to Stanford community">Suggest a purchase <span class="sr-only"> (limited to Stanford community)</span></a>
      </li>
    </ul>
  </li>
  <li>
    <a href="https://library-status.stanford.edu/">System status</a>
  </li>
</ul>
