<ul class="dropdown-menu">
  <li><span class="dropdown-header">Need assistance?</span></li>

  <li>
    <a class="dropdown-item" href="https://library.stanford.edu/contact-us"
      >Ask a librarian</a
    >
  </li>
  <li>
    <a class="dropdown-item" href="https://guides.library.stanford.edu/searchworks"
      >SearchWorks user guide</a
    >
  </li>
  <li>
    <a class="dropdown-item" href="https://guides.library.stanford.edu/c.php?g=1081009&p=7878021"
      >Access to online articles</a
    >
  </li>
  <li>
    <a class="dropdown-item" href="https://library-status.stanford.edu/"
      >Check system status</a>
  </li>

  <li><span class="dropdown-header">If we don't have it <%= render StanfordOnlySpanComponent.new %><span class="visually-hidden"> (limited to Stanford community)</span></span></li>

  <li>
    <a class="dropdown-item" href="https://sulils.stanford.edu/"
      >Interlibrary loan</a
    >
  </li>
  <li>
    <a class="dropdown-item" href="https://stanforduniversity.qualtrics.com/jfe/form/SV_5iQABR6VSszIQMR"
      >Recommend a purchase</a
    >
  </li>
</ul>
