<ul class="dropdown-menu sul-top-menu" role="menu" aria-labelledby="searchNavbarTopMenu">
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/about">About</a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/libraries">Libraries</a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/using">Using the libraries</a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/areas">Collections</a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/research">Research support</a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/academic-technology">Academic technology</a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/ask">Ask us</a>
  </li>

  <li role="presentation" class="divider"></li>

  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/using/connect-campus">
      <span class="fa fa-caret-right"></span> Connect from off campus
    </a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/hours">
      <span class="fa fa-caret-right"></span> Hours &amp; locations
    </a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/using/interlibrary-borrowing">
      <span class="fa fa-caret-right"></span> Interlibrary borrowing
    </a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/using/print-copy-scan">
      <span class="fa fa-caret-right"></span> Print, copy, scan
    </a>
  </li>
  <li role="presentation">
    <a role="menuitem" href="http://library.stanford.edu/guides/topic">
      <span class="fa fa-caret-right"></span> Topic guides
    </a>
  </li>

</ul>
