<div class="dropdown-menu sul-services-menu" role="menu" aria-labelledby="searchNavbarTopMenu" id="libraryServicesMenu">
  <span class="dropdown-item-text">Need help?</span>
  <a href="https://library.stanford.edu/chat" class="stanford-only dropdown-item" role="menuitem" title="limited to Stanford community">Chat with us  <span class="sr-only"> (limited to Stanford community)</span></a>
  <a href="https://library.stanford.edu/ask/email/reference" class="dropdown-item" role="menuitem" >Email a reference question</a>
  <a href="https://guides.library.stanford.edu/searchworks" class="dropdown-item" role="menuitem" >Using SearchWorks</a>
  <span class="dropdown-item-text">Connection</span>
  <a href="https://library.stanford.edu/using/connect-campus" class="dropdown-item" role="menuitem">Connect to e-resources</a>
  <a href="https://library.stanford.edu/ask/email/connection-problems" class="dropdown-item" role="menuitem">Report a connection problem</a>
  <span class="dropdown-item-text">If we don't have it</span>
  <a href="https://library.stanford.edu/using/interlibrary-borrowing" class="dropdown-item" role="menuitem">Interlibrary borrowing</a>
  <a href="https://library-status.stanford.edu/" class="dropdown-item" role="menuitem">System status</a>
</div>
