<ul class="dropdown-menu sul-services-menu" role="menu" aria-labelledby="services">
  <li>
    <span class="menugroup">Need help?</span>
    <ul>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/chat" class="stanford-only" title="limited to Stanford community">Chat with us  <span class="sr-only"> (limited to Stanford community)</span></a>
      </li>
      <li>
        <a role="menuitem" href="https://library.stanford.edu/ask/email/reference">Email a reference question</a>
      </li>
    </ul>
  </li>
  <li>
    <span class="menugroup">Connection</span>
    <ul>
      <li>
        <li>
          <a role="menuitem" href="https://library.stanford.edu/using/connect-campus">Connect to e-resources</a>
        </li>
        <a role="menuitem" href="https://library.stanford.edu/ask/email/connection-problems">Report a connection problem</a>
      </li>
    </ul>
  </li>
  <li>
    <a role="menuitem" href="https://library-status.stanford.edu/">System status</a>
  </li>
</ul>
