<footer role="contentinfo">
  <div id="sul-footer-container">
    <div id="sul-footer" class="container">
      <div id="sul-footer-img" class="span2">
        <%= link_to 'https://library.stanford.edu' do %>
          <%= image_tag "sul-logo-stacked.svg", alt: "Stanford Libraries", height: 45 %>
        <% end %>
      </div>
      <div id="sul-footer-links" class="span2">
        <ul>
          <li><a href="https://library.stanford.edu/hours">Hours &amp; locations</a></li>
          <li><a href="https://library.stanford.edu/myaccount">My Account</a></li>
          <li><a href="https://library.stanford.edu/ask">Ask us</a></li>
          <li><a href="https://library.stanford.edu/opt-out">Opt out of analytics</a></li>
          <li><a href="https://library-status.stanford.edu/">System status</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Global footer snippet start -->
<div id="global-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div id="bottom-logo" class="col-sm-2">
        <a href="https://www.stanford.edu">
          <img src="https://www-media.stanford.edu/su-identity/images/footer-stanford-logo@2x.png" alt="Stanford University" width="105" height="49"/>
        </a>
      </div>
      <!-- #bottom-logo end -->
      <div id="bottom-text" class="col-sm-8">
        <ul>
          <li class="home"><a href="https://www.stanford.edu">Stanford Home</a></li>
          <li class="maps alt"><a href="https://visit.stanford.edu/plan/">Maps & Directions</a></li>
          <li class="search-stanford"><a href="https://www.stanford.edu/search/">Search Stanford</a></li>
          <li class="emergency alt"><a href="https://emergency.stanford.edu">Emergency Info</a></li>
        </ul>
        <ul id="policy-links">
          <li><a href="https://www.stanford.edu/site/terms/" title="Terms of use for sites">Terms of Use</a></li>
          <li><a href="https://www.stanford.edu/site/privacy/" title="Privacy and cookie policy">Privacy</a></li>
          <li><a href="https://uit.stanford.edu/security/copyright-infringement" title="Report alleged copyright infringement">Copyright</a></li>
          <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" title="Ownership and use of Stanford trademarks and images">Trademarks</a></li>
          <li><a href="http://exploredegrees.stanford.edu/nonacademicregulations/nondiscrimination/" title="Non-discrimination policy">Non-Discrimination</a></li>
          <li><a href="https://www.stanford.edu/site/accessibility" title="Report web accessibility issues">Accessibility</a></li>
        </ul>
      </div> <!-- .bottom-text end -->
      <div class="clear"></div>
      <p class="copyright vcard offset-sm-2">&copy; <span class="fn org">Stanford University</span>, <span class="adr"> <span class="locality">Stanford</span>, <span class="region">California</span> <span class="postal-code">94305</span></span>.
      </p>
    </div> <!-- .row end -->
  </div> <!-- .container end -->
</div> <!-- global-footer end -->
