<footer role="“contentinfo”">
  <div id="sul-footer-container">
    <div id="sul-footer">
      <div id="sul-footer-img" class="span2">
        <%= image_tag "SUL-Logo-Small-h25.png", alt: "", height: 25 %>
      </div>
      <div id="sul-footer-links" class="span2">
        <ul>
          <li><a href="http://library.stanford.edu">Stanford University Libraries</a></li>
          <li><a href="http://library.stanford.edu/hours">Hours &amp; locations</a></li>
          <li> <a href="hhttp://library.stanford.edu/myawrap.html">My Account</a></li>
          <li> <a href="http://library.stanford.edu/ask">Ask us</a></li>
          <li> <a href="http://library.stanford.edu/opt-out">Opt out of analytics</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- Global footer snippet start -->
<div id="global-footer">
  <div class="container">
    <div class="row">
      <div id="bottom-logo" class="span2">
        <a href="http://www.stanford.edu">
          <img src="https://www.stanford.edu/su-identity/images/footer-stanford-logo@2x.png" alt="Stanford University" width="105" height="49"/>
        </a>
      </div>
      <!-- #bottom-logo end -->
      <div id="bottom-text" class="span10">
        <ul>
          <li class="home"><a href="http://www.stanford.edu">SU Home</a></li>
          <li class="maps alt"><a href="http://visit.stanford.edu/plan/maps.html">Maps &amp; Directions</a></li>
          <li class="search-stanford"><a href="http://www.stanford.edu/search/">Search Stanford</a></li>
          <li class="terms alt"><a href="http://www.stanford.edu/site/terms.html">Terms of Use</a></li>
          <li class="emergency-info"><a href="http://emergency.stanford.edu">Emergency Info</a></li>
        </ul>
      </div> <!-- .bottom-text end -->
      <div class="clear"></div>
      <p class="copyright vcard">&copy; <span class="fn org">Stanford University</span>, <span class="adr"> <span class="locality">Stanford</span>, <span class="region">California</span> <span class="postal-code">94305</span></span>.&nbsp;&nbsp;
      <span id="copyright-complaint"><a href="http://www.stanford.edu/group/security/dmca.html" class="copyright-complaint" >Copyright Complaints</a></span>
      </p>
    </div> <!-- .row end -->
  </div> <!-- .container end -->
</div> <!-- global-footer end -->
<!-- Global footer snippet end -->
