<div id="subnavbar-container">
  <div id="subnavbar">
    <ul class="nav navbar-nav navbar-expand-sm">
      <li class="nav-item dropdown mr-3">
        <a id="services" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
          Help<span class="caret"/>
        </a>
        <%= render :partial => '/shared/services_menu' %>
      </li>
      <li class="nav-item">
        <a class="nav-link covid-status" href="https://library.stanford.edu/status" >
          2021 Access
        </a>
      </li>
    </ul>
  </div>
</div>
