<footer role="contentinfo">
  <div id="sul-footer-container">
    <div id="sul-footer">
      <div id="sul-footer-img" class="span2">
        <%= link_to 'https://library.stanford.edu' do %>
          <%= image_tag "sul-logo-stacked.svg", alt: "Stanford Libraries", height: 45 %>
        <% end %>
      </div>
      <div id="sul-footer-links" class="span2">
        <ul>
          <li><a href="https://library-hours.stanford.edu/">Hours &amp; locations</a></li>
          <li><a href="https://mylibrary.stanford.edu/">My Account</a></li>
          <li><a href="https://library.stanford.edu/contact-us">Ask us</a></li>
          <li><a href="https://library-status.stanford.edu/">System status</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
