<%= render 'layouts/top_navbar' do %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" href='https://mylibrary.stanford.edu/'>My Account</a></li>
    <li class="nav-item"><a class="nav-link" href='https://library.stanford.edu/contact-us'>Feedback</a></li>
  </ul>
<% end %>
