<div id="topnav" class="navbar navbar-default">
  <%= link_to(image_tag('sul-logo.png', class: 'navbar-brand'), 'http://library.stanford.edu') %>
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li><%= link_to "My Account", "http://library.stanford.edu/myaccount" %></li>
      <li class="disabled"><%= link_to "Feedback", "#" %></li>
    </ul>
  </div>
</div>
