<% doc_presenter = document_presenter(document) -%>
<% if on_campus_or_su_affiliated_user? %>
  <button class="section-container-heading fulltext-toggle-bar" id="fulltextToggleBar" data-toggle="collapse" href="#toggleFulltext" aria-expanded="true" aria-controls="toggleFulltext">
    <h2>Hide full text <i class='fa fa-chevron-down'></i></h2>
  </button>
  <div class='eds-full-text-section section-body collapse show' id="toggleFulltext">
    <% doc_presenter.field_presenters.select { |presenter| fields.map(&:to_s).include? presenter.field_config.key.to_s }.each do |field_presenter| -%>
      <% if field_presenter.render_field? %>
        <div class="blacklight-<%= field_presenter.key %>"><%= field_presenter.render %></div>
      <% end -%>
    <% end -%>
  </div>
<% else %>
  <div class='section-container-heading fulltext-toggle-bar'>
    <%= link_to(new_user_session_path(referrer: request.original_url)) do %>
      <h2>Log in to show fulltext <i class='fa fa-chevron-right'></i></h2>
    <% end %>
  </div>
<% end %>
