<% doc_presenter = document_presenter(document) -%>
<% if on_campus_or_su_affiliated_user? %>
  <button class="section-container-heading fulltext-toggle-bar" id="fulltextToggleBar" data-toggle="collapse" href="#toggleFulltext" aria-expanded="true" aria-controls="toggleFulltext">
    <h2>Hide full text <i class='fa fa-chevron-down'></i></h2>
  </button>
  <div class='eds-full-text-section section-body collapse in' id="toggleFulltext">
    <% doc_presenter.fields_to_render.each do |field_name, field_config, field_presenter| -%>
      <% field_name = field_name.to_s -%>
      <% value = doc_presenter.field_value field_config -%>
      <% if value.present? %>
        <div class="blacklight-<%= field_name.parameterize %>"><%= value %></div>
      <% end -%>
    <% end -%>
  </div>
<% else %>
  <div class='section-container-heading fulltext-toggle-bar'>
    <%= link_to(new_user_session_path(referrer: request.original_url)) do %>
      <h2>Log in to show fulltext <i class='fa fa-chevron-right'></i></h2>
    <% end %>
  </div>
<% end %>
