<%= turbo_frame_tag [:item, @item_id] do %>
  <% if @bound_with_children.present? %>
    <div class="bound-with bg-light p-2 mt-2">
      <%= render Record::BoundWithChildrenComponent.new(bound_with_children: @bound_with_children, item_id: @item_id, instance_id: @id) %>
    <% end %>
  </div>
<% end %>
