<ul>
  <% bound_with_note_for_access_panel.values.each do |value| %>
    <li>
      <% if value[:id] %>
        <%= link_to(value[:value], solr_document_path(value[:id])) %>
      <% else %>
        <%= value[:value] %>
      <% end %>
    </li>
  <% end %>
</ul>
