<% if linked_author.present? %>
  <% linked_author.values.each do |author| %>
    <li>
      <%= link_to(author[:link].strip, catalog_index_path(q: '"' + author[:search] + '"', search_field: 'search_author')) %>
      <%= author[:post_text] if author[:post_text] %>
    </li>
  <% end %>
<% end %>
