<div class="article-home-page">
  <h1>Find journal articles and other e-resources</h1>
  <div class="col-md-4 home-page-facets home-page-column">
    <h2>Find materials&hellip;</h2>
    <div class="home-facet">
      <p><i>&hellip;Facet(s) go here&hellip;</i></p>
    </div>
  </div>

  <div class="col-md-4 features home-page-column">
    <h2>What's here?</h2>
    <div class="features-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <h2>What's not?</h2>
    <div class="features-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>

  <div class="col-md-4 articles-help home-page-column">
    <h2>Related</h2>
    <ul class="media">
      <li class="media">
        <div class="media-body">
          <%= link_to "Example Link", root_path, class: "media-heading" %>
        </div>
      </li>

      <li class="media">
        <div class="media-body">
          <%= link_to "Example External Link", root_path, class: "media-heading" %>
          <div class="external-link-icon"/>
        </div>
      </li>
    </ul>
  </div>
</div>
