<%  %>
<div class="record-metadata row">
  <div class="record-panels col-md-4">
    <%= render "article/record/metadata_panels", document: document %>
  </div>
  <div class="record-sections col-md-8">
    <%= render "catalog/show_default", document: document %>
  </div>
</div>
