<div class="bound-with-type">Bound with:</div>
<ul class="list-unstyled mb-0">
  <% bound_with_children.each do |child| %>
    <li class="pb-2">
      <div class="bound-with-title"><%= bound_with_title(child.document) %></div>
      <div class="bound-with-callnumber"><%= child.callnumber %></div>
    </li>
  <% end %>
</ul>
