<h1>
  <%= helpers.render_resource_icon @presenter.formats %>
  <span itemprop="name"><%= @presenter.heading %></span>
</h1>
<% if @presenter.vernacular_title.present? %>
  <p class='vernacular-title'><%= @presenter.vernacular_title %></p>
<% end %>
