<% title %>
<section class="bg-secondary py-5">
  <div class="container-fluid" style="max-width: 1242px">
    <h1 class="h2">Search the catalog, journal articles and other resources</h1>
    <form class="search-query-form d-flex vw-75" style="max-width: 729px" action="/all" accept-charset="UTF-8" method="get">
      <label class="visually-hidden" for="q">search for</label>
      <input class="search-q q form-control rounded-left rounded-start" aria-label="search for" type="search" name="q" id="q" autocomplete="off" spellcheck="false">
      <button class="btn btn-secondary search-btn d-flex align-items-center justify-content-center" type="submit" id="search"><span class="submit-search-text">Search</span></button>
    </form>
  </div>
</section>

<div class="container-fluid py-5" style="max-width: 1242px">
  <div class="row">
    <div class="col-xxl-7 col-md-8 pe-xxl-5 me-xxl-5">
      <header class="h3 fw-semibold">Stanford University Libraries' search tools</header>
      <div class="mb-3">
        <div class="mb-1 fw-medium"> SearchWorks <span class="fw-bold">Catalog</span> </div>
        <div> Books, journals, media, and more from the Library's physical and online collections </div>
      </div>

      <div class="mb-3">
        <div class="mb-1 fw-medium"> SearchWorks <span class="fw-bold">Articles+</span> </div>
        <div> Journal articles, eBooks, and more from the Library's digital subscriptions </div>
      </div>

      <div class="mb-3">
        <div class="mb-1 fw-bold"> Archival Collections at Stanford </div>
        <div> Photographs, rare books, maps, personal papers of scientists, artists, and writers, and more </div>
      </div>

      <div class="mb-3">
        <div class="mb-1 fw-bold"> EarthWorks </div>
        <div> Geospatial datasets (GIS data) and georeferenced and scanned maps provided by Stanford University Libraries and many
              other institutions
        </div>
      </div>

      <div class="mb-3">
        <div class="mb-1 fw-bold"> Spotlight Exhibits </div>
        <div> Curated, thematic digital exhibits featuring hundreds of Stanford's online collections </div>
      </div>
    </div>
    <div class="col-xxl-4 col-md-4 ps-xxl-5 ms-xxl-5">
      <div class="ml-2 p-3 bg-secondary">
        <header class="h3 fw-semibold">Other sources searched</header>
        <div class="mb-3">
          <div class="mb-1 fw-bold"> Library website </div>
          <div> Wayfinder for all library services </div>
        </div>

        <div class="mb-3">
          <div class="mb-1 fw-bold"> Guides </div>
          <div> Course- and topic-based guides to collections, tools and services </div>
        </div>

        <div class="mb-3">
          <div class="mb-1 fw-bold"> Subject specialists </div>
          <div> Over fifty subject specialists </div>
        </div>
      </div>
    </div>
  </div>
</div>
