<% document ||= @document %>
<% if document.set_member? && document.parent_sets.present? %>
  <div class="card access-panel panel-appears-in">
    <div class="access-panel-heading card-header">
      <h3>Item is included in another record</h3>
    </div>

    <div class="card-body">
      <% @document.parent_sets.each do |parent_set| %>
        <h4>
          <%= render_resource_icon parent_set[parent_set.format_key] %>
          <%= link_to_document(parent_set, get_main_title(parent_set)) %>
        </h4>
      <% end %>
    </div>
  </div>
<% end %>
