<% document ||= @document %>

<% if document.access_panels.course_reserve.present? %>
  <div class="card access-panel panel-course-reserve">
    <div class="card-header access-panel-heading">
      <h3>Course reserve</h3>
    </div>
    <div class="card-body">
      <dl>
        <% document.access_panels.course_reserve.courses.each do |course| %>
          <dt>Course</dt>
          <dd>
            <%= link_to_course_reserve_course(course) %>
          </dd>
          <dt>Instructor(s)</dt>
          <dd>
            <%= course.instructor %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
