<% document ||= @document %>

<% if (access_panel = document.access_panels.exhibit).present? && Settings.EXHIBITS_ACCESS_PANEL.enabled %>
  <div
    class="card access-panel panel-exhibit"
    data-behavior="exhibits-panel"
    data-exhibits-host="<%= Settings.EXHIBITS_ACCESS_PANEL.exhibits_host %>"
    data-is-collection="<%= document.is_a_collection?.to_s %>"
    data-druid="<%= access_panel.druid %>"
    style="display:none;"
  >
    <div class="access-panel-heading card-header">
      <h3>
        <% if document.is_a_collection? %>
          Exhibits
        <% else %>
          <span style="display:none" data-behavior="single-exhibit-heading">Item is featured in an exhibit</span>
          <span style="display:none" data-behavior="multiple-exhibit-heading">Item is featured in exhibits</span>
        <% end %>
      </h3>
    </div>
    <div class="card-body">
      <% if document.is_a_collection? %>
        <p>Items from this collection are featured in:</p>
      <% end %>
    </div>
  </div>
<% end %>
