<div class="library-location-heading access-panel-heading">
  <%= thumb_for_library(library) %>
  <div class="library-location-heading-text">
    <h3 class="<%="no-link" if Constants::LIBRARY_ABOUT[library.code].nil?%>"><%= library.name %></h3>
    <div class="small location-hours-today">
      <% unless library.holding_library? %>
        (no holding library)
      <% end %>
    </div>
  </div>
</div>
