<% document ||= @document %>
<% if document.access_panels.library_locations? %>
  <% document.access_panels.library_locations.libraries.each do |library| %>
    <% if library.is_viewable? %>
      <div class="panel panel-default panel-library-location" data-hours-route=<%= hour_path(library.code) %>>
        <div class="library-location-heading">
          <%= thumb_for_library(library) %>
          <div class="library-location-heading-text">
            <%= link_to_library(library) %>
            <div class="small location-hours-today">
            </div>
          </div>
        </div>
        <div class="panel-body">
          <strong>Location in Library Placeholder</strong>
          <ul class="list-unstyled">
            <li>Call Number Placeholder</li>
          </ul>
        </div>
      </div>
      <% end %>
  <% end %>
<% end %>
