<%
  document ||= @document
  book_ids = get_book_ids(@document)
  css_class = (book_ids['isbn'] + book_ids['oclc'] + book_ids['lccn']).join(' ')
%>

<div class="panel panel-default access-panel panel-related hide">
  <div class="access-panel-heading panel-heading">
    <h3>
      Related
    </h3>
  </div>
  <div class="panel-body">
    <ul class="links">
      <li>
        <div class="row google-books <%= css_class %>">
          <div class="col-lg-12 col-md-12 google-preview">
            <%= image_tag "gbs_preview_button.gif", alt:"" %>
            <a href="" class="limited-preview">(Limited preview)</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
