<%
  document ||= @document
  book_ids = get_book_ids(@document)
  visible = document[:oclc].present? ?  'd-block' : 'd-none'
  css_class = (book_ids['isbn'] + book_ids['oclc'] + book_ids['lccn']).join(' ')
%>

<div class="card access-panel panel-related <%= visible %>">
  <div class="access-panel-heading card-header">
    <h3>
      More options
    </h3>
  </div>
  <div class="card-body">
    <ul class="links">
      <% if document[:oclc].present? %>
        <li class="worldcat">
          <%= link_to("Find it at other libraries via WorldCat" ,"https://worldcat.org/oclc/#{document[:oclc].first}") %>
        </li>
      <% end %>
      <li>
        <div class="row google-books <%= css_class %>">
          <div class="col-lg-12 col-md-12 google-preview">
            <%= image_tag "gbs_preview_button.gif", alt:"" %>
            <a href="" class="limited-preview">(Limited preview)</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
