<% if @document.access_panels.temporary_access? %>
  <div class="panel panel-default temporary-access panel-online">
    <div class="access-panel-heading panel-heading">
      <h3>Temporary access</h3>
    </div>
    <div class="panel-body">
      <%= @document.access_panels.temporary_access.hathitrust_info %>
      <p class="etas-notice">Available by special arrangement in response to the COVID-19 outbreak. Simultaneous access is limited. </p>
      <%= link_to('More about HathiTrust ETAS', 'https://www.hathitrust.org/ETAS-User-Information') %>
    </div>
  </div>
<% end %>
