<% if @document.access_panels.temporary_access? %>
  <% temp_access = @document.access_panels.temporary_access %>
  <div class="card temporary-access panel-online">
    <div class="access-panel-heading card-header">
      <h3>Temporary access</h3>
    </div>
    <div class="card">
      <span class="stanford-only">
        <%= temp_access.link.html.html_safe %>
      </span>
      <div class="etas-results-block">
        <p class="etas-notice">Available to students, faculty, and staff, by special arrangement in response to COVID-19. To protect our access to ETAS, the physical copy is temporarily not requestable.</p>
        <%= link_to('More about HathiTrust ETAS', 'https://www.hathitrust.org/ETAS-User-Information') %>
      </div>
    </div>
  </div>
<% end %>
