HOURS_API: <%= ENV['HOURS_API'] || 'http://example.com' %>
EMAIL_TO: "fake-email@kittenz.com"
HOSTNAME: "HOST"
STACKS_URL: "https://stacks.stanford.edu/image"
REQUESTS_URL: "https://host.example.com/requests/new"
SSRC_REQUESTS_URL: "http://host.example.com/link.ssds_request_form"
LIVE_LOOKUP_URL: "http://host.example.com/lookup.pl"
SQUASH_API_HOST: 'http://squash-host.example.com'
SQUASH_API_KEY: 'squash-api-key'
SQUASH_DISABLE: <%= (Rails.env.development? || Rails.env.test?) %>
STACKMAP_API_URL: "http://stanford.stackmap.com/json/"
WHEN_TO_PRUNE_DATA: '12:30am'
NUMBER_OF_DAYS_TO_PRUNE: '7'
PURL_EMBED_PROVIDER: 'http://embed-service.example.com/embed'
PURL_EMBED_URL_SCHEME: 'http://purl.stanford.edu/*'
PURL_EMBED_RESOURCE: 'http://purl.stanford.edu/'
FEEDBACK_ALERT: <%= false %>
GOOGLE_SITE_VERIFICATION: "FZOfWKmcoL5TIDC-0G8vEHMnqcPXi-PhI5OwDvJL0Zo"
OPEN_ANNOTATION_STORE_URL: 'http://oa-host.example.com'
OPEN_ANNOTATION_SOLR_URL: 'http://oa-solr.example.com'
