MAX_RESULTS: 3

global_alert: false
enabled_searchers:
  - catalog
  - article
  - archives
  - exhibits
  - earthworks
  - library_website_api
  - lib_guides
catalog:
  api_url: "https://searchworks.stanford.edu/?q=%{q}&rows=%{max}&format=json"
  query_url: "https://searchworks.stanford.edu/?q=%{q}"
  fetch_url: "https://searchworks.stanford.edu/view/%{id}"
  home_url: "https://searchworks.stanford.edu"
archives:
  api_url: https://archives.stanford.edu/catalog.json?q=%{q}&f%%5Blevel%%5D%%5B%%5D=Collection&rows=3
  home_url: https://archives.stanford.edu
  link_url: https://archives.stanford.edu/catalog/%{id}
  query_url: https://archives.stanford.edu/catalog?q=%{q}&f%%5Blevel%%5D%%5B%%5D=Collection&rows=3
article:
  api_url: "https://searchworks.stanford.edu/articles?q=%{q}&rows=%{max}&f%%5Beds_search_limiters_facet%%5D%%5B%%5D=Direct+access+to+full+text&search_field=search&format=json"
  query_url: "https://searchworks.stanford.edu/articles?q=%{q}&f%%5Beds_search_limiters_facet%%5D%%5B%%5D=Direct+access+to+full+text"
  fetch_url: "https://searchworks.stanford.edu/articles/%{id}"
  home_url: "https://searchworks.stanford.edu/articles"
libguides:
  api_url: "https://example.com/1.1/guides"
  site_id: 123456
  key: abc1234
  num_results_shown: 3
  query_url: "https://guides.library.stanford.edu/srch.php?q=%{q}"
  home_url: "https://guides.library.stanford.edu"
exhibits:
  api_url: "https://exhibits.stanford.edu/exhibit_finder?q=%{q}"
  home_url: "https://exhibits.stanford.edu"
  link_url: "https://exhibits.stanford.edu/%{id}"
  num_results_shown: 3
  query_url: "https://exhibits.stanford.edu/search?q=%{q}"
library_website:
  api_url: "https://library.sites-pro.stanford.edu/jsonapi/index/full_site_content?fields[node--stanford_page]=path,title,su_page_description&filter[fulltext]=%{q}&page[limit]=%{max}"
  query_url: "https://library.stanford.edu/search/?q=%{q}"
earthworks:
  api_url: "https://earthworks.stanford.edu?q=%{q}&rows=%{max}&format=json"
  query_url: "https://earthworks.stanford.edu?q=%{q}"
  fetch_url: "https://earthworks.stanford.edu/catalog/%{id}"
  home_url: "https://earthworks.stanford.edu"
quick_search:
  doi_loaded_link: "http://doi.org/"
analytics_debug: true
user_agent: "sul-bento-app"

throttling:
  redis_url:
