HOURS_API: <%= ENV['HOURS_API'] || 'http://example.com' %>
EMAIL_TO: "fake-email@kittenz.com"
HOSTNAME: <%= (`echo $HOSTNAME`).gsub('.stanford.edu', '') %>
STACKS_URL: "https://stacks.stanford.edu/image"
REQUESTS_URL: "https://host.example.com/requests/new"
SSRC_REQUESTS_URL: "http://host.example.com/link.ssds_request_form"
LIVE_LOOKUP_URL: "http://host.example.com/lookup.pl"
SQUASH_API_HOST: 'http://squash-host.example.com'
SQUASH_API_KEY: 'squash-api-key'
SQUASH_DISABLE: <%= (Rails.env.development? || Rails.env.test?) %>
STACKMAP_API_URL: "http://stanford.stackmap.com/json/"
WHEN_TO_PRUNE_DATA: '12:30am'
NUMBER_OF_DAYS_TO_PRUNE: '7'
PURL_EMBED_PROVIDER: 'https://embed.stanford.edu/embed'
PURL_EMBED_URL_SCHEME: 'http://purl.stanford.edu/*'
PURL_EMBED_RESOURCE: 'http://purl.stanford.edu/'
FEEDBACK_ALERT: <%= false %>
GOOGLE_SITE_VERIFICATION: "FZOfWKmcoL5TIDC-0G8vEHMnqcPXi-PhI5OwDvJL0Zo"
NEW_RELIC_LICENSE_KEY: 'NEW_RELIC_KEY'
NEW_RELIC_APP_NAME: "SearchWorks"
PAGINATION_THRESHOLD: 250
BOOKPLATES: true
BOOKPLATES_EXHIBIT_URL: 'https://exhibits.stanford.edu/digital-bookplates'
GOVERNMENT_DOCUMENTS_ACCESS_POINT: true
EMAIL_THRESHOLD: 5
OCLC:
  API_KEY: the-oclc-api-key
  BASE_URL: http://www.worldcat.org/webservices/catalog/content/citations
  CITATION_FORMATS: ['all']
  DOCUMENT_FIELD: 'oclc'
MOUSEFLOW: <%= Rails.env.production? %>
MOUSEFLOW_KEY: '55d6233e-5245-4a7c-854d-f6e64e753af4'
