<% if Settings.HATHI_ETAS_ACCESS %>
  <div class="alert alert-success">
    The Online count includes items available  for emergency
    temporary access via <%= link_to 'HathiTrust', 'https://www.hathitrust.org/ETAS-User-Information' %>.
  </div>
<% end %>

<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <%= render_facet_limit_list paginator, facet_field.key %>
</ul>
