<div class="card panel-search-tips">
  <h2 class="card-header h5">Search tips</h2>
  <div class="card-body">
    <ul class="advanced-help">
      <li>Select "match all" to require all fields. (e.g. Title AND Author)</li>
      <li>Select "match any" to find at least one field. (e.g. Title OR Subject)</li>
      <li>Combine keywords and limits to find specific items.</li>
      <li>Use quotation marks to search as a <strong>phrase</strong>. (Word-stemming will still be applied to words within the phrase.)</li>
      <li>Use "+" (no space) before a word to make it <strong>required</strong>.</li>
      <li>Use "-" (no space) before a word or phrase to <strong>exclude</strong>.</li>
      <li>Use "OR", "AND", and "NOT" (uppercase) to create <strong>Boolean</strong> logic within a field. You can use parentheses in your complex expressions.</li>
      <li>Use "*" to search a <strong>truncated</strong> term. (Word-stemming is done automatically.</li>
      <li>Use "?" as a <strong>wildcard</strong> to replace a character in a word.</li>
      <li><strong>Word-stemming</strong> automatically includes plural and singular forms, and common suffix and tense variations.</li>
    </ul>
  </div>
</div>
