<div class="bg-light p-3 panel-search-tips">
  <h2 class="h3 mb-3">Tips for better results</h2>
  <ul class="advanced-help list-unstyled">
    <li class="mb-3"><strong>Rows:</strong> Add rows to expand or narrow your search, or delete rows to simplify your query.</li>
    <li class="mb-3"><strong>Search fields:</strong> Search across all fields or limit to specific ones (e.g., Author, Subject).</li>
    <li class="mb-3"><strong>Filters:</strong> Narrow results by access, publication year, format, language, and more.</li>
    <li class="mb-3"><strong>Match type:</strong> Choose whether results should <em>contain (include) all</em>, <em>contain (include) any</em>, or <em>exclude all</em> terms or selected filters.</li>
  </ul>

  <h3 class="h4 mb-3"><i aria-hidden class="bi bi-search me-1"></i>Search examples</h3>
  <ul class="list-unstyled ps-2">
    <li class="mb-3">All fields → Contains all → <em>Stanford University Trees</em> will display records with all terms in anywhere in the record.</li>
    <li class="mb-3">Subject field → Contains all → <em>Stanford University Trees</em> will display records with Stanford <em>AND</em> University <em>AND</em> Trees in the subject field.</li>
    <li class="mb-3">Subject field → Contains any → <em>Stanford University Trees</em> will display records with Stanford <em>OR</em> University <em>OR</em> Trees in the subject field.</li>
  </ul>

  <h3 class="h4 mb-3"><i aria-hidden class="bi bi-sliders me-1"></i>Filter examples</h3>
  <ul class="list-unstyled ps-2 mb-0">
    <li class="mb-3">Language → Includes all → English, German will display records with both English <em>AND</em> German languages.</li>
    <li>Language → Includes any → English, German will display records with either English <em>OR</em> German languages.</li>
  </ul>
</div>
