<div class='alternate-catalog' data-alternate-catalog="<%= articles_path(q: params.fetch(:q), f: { eds_search_limiters_facet: ['Direct access to full text'] }) %>">
  <button type='button' class='alternate-catalog-close btn-close' aria-label="Close">
    <i class='fa fa-times-circle'></i>
  </button>
  <h3 class='alternate-catalog-title'></h3>
  <div class='alternate-catalog-body'>
    <div class='row'>
      <div class='col-md-6'>
        <h4 class="alternate-catalog-name">
          Articles+
        </h4>
        <div class='alternate-catalog-desc'>
          Journal articles, e-books, &amp; other e-resources
        </div>
      </div>
      <%=  %>
      <div class='col-md-6'>
        <%= link_to(articles_path(q: params.fetch(:q), f: { eds_search_limiters_facet: ['Direct access to full text'] }), class: 'btn btn-primary') do %>
          See <span class="alternate-catalog-count"%></span> article+ results
        <% end %>
      </div>
    </div>
    <div class='row alternate-catalog-facet-section'>
      <div class='col-md-12'>
        <ul class="alternate-catalog-facets list-inline">
        </ul>
      </div>
    </div>
  </div>

  <%= render 'lib_guides_alternate_catalog' if Settings.LIB_GUIDES.MINI_BENTO_ENABLED %>
</div>
