<div class="panel panel-default">
  <div class="panel-heading"><h3>Want help?</h3></div>
  <div class="panel-body">
    <span class="sul-icon sul-icon-bubble-2"></span> <%= link_to "Chat with a librarian", "http://library.stanford.edu/ask"%>
    <p>Chat reference is available 10-6 most weekdays and noon-5 on weekends.</p>
  </div>
</div>
