<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Want help?</h3></div>
  <div class="panel-body">
    <div class="media">

      <span class="side-icon side-icon-message-away media-object pull-left"></span>
      <div class="media-body">
        <%= link_to "Chat with a librarian", "http://library.stanford.edu/ask"%>
        <p>Chat reference is available 10-6 most weekdays and noon-5 on weekends.</p>
      </div>
    </div>
  </div>
</div>
