<div class="cocina-view" data-controller="cocina-view">
  <pre><code class="language-json"><%= JSON.pretty_generate cocina %>
  </code>
  </pre>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
