<div data-behavior="async-collection-members" data-collection-members-path="<%= collection_member_path(document[:id], format: :json) %>">
  <%= link_to_collection_members('View all items', document) %>
</div>
