<% if query_has_constraints? %>
  <div id="appliedParams" class="clearfix constraints-container">
    <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
    <%= render_constraints(params) %>
  </div>
<% end %>
