<% # Overridden from Blacklight to use   %>
<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <%= render_facet_limit_list paginator, field_name %>

  <% unless paginator.last_page? || params[:action] == "facet" %>
    <% config = facet_configuration_for_field(display_facet.name) %>
    <li class="more_facets_link"><%= link_to(t('blacklight.search.facets.more_html', facet: config.label.downcase.pluralize), params.merge(:id => field_name, :action=>"facet", :page => nil), :class => "more_facets_link") %></li>
  <% end %>

</ul>
