<% # Overridden from Blacklight to use   %>
<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet)
  %>
  <% paginator.items.each do |item| -%>
    <li>
    <% if facet_in_params?( solr_field, item.value ) %>              
        <%= render_selected_facet_value(solr_field, item) %>              
      <% else %>              
        <%= render_facet_value(solr_field, item) %>              
    <% end -%>
    </li>
  <% end %>

  <% if paginator.has_next? and params[:action] != "facet" %>
    <% config = facet_configuration_for_field(display_facet.name) %>
    <li class="more_facets_link"><%= link_to(t('blacklight.search.facets.more_html', facet: config.label.downcase.pluralize), params.merge(:id => solr_field, :action=>"facet", :page => nil), :class => "more_facets_link") %></li>
  <% end %>

</ul>
