<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
  <div id="facets" class="facets sidenav">
    <%= render 'facet_options' %>
    <div class="top-panel-heading panel-heading">
      <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
        <span class="sr-only">Toggle facets</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <h2>
        <%= t("blacklight.search.facets.access_point.#{page_location.access_point}.title",
              access_point: page_location.access_point,
              default: 'Refine your results') %>
      </h2>
    </div>

    <div id="facet-panel-collapse" class="collapse panel-group">
      <%= render Blacklight::FacetComponent.with_collection(blacklight_config.facet_fields_in_group(nil), response: @response) %>
    </div>
  </div>
<% end %>
