<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
  <div id="facets" class="facets sidenav facets-toggleable-md">
    <%= render 'facet_options' %>
    <div class="top-panel-heading panel-heading">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#facet-panel-collapse" aria-controls="facet-panel-collapse" aria-expanded="false" aria-label="Toggle facets">
        <span class="navbar-toggler-icon"></span>
      </button>

      <h2>
        <%= t("blacklight.search.facets.access_point.#{page_location.access_point}.title",
              access_point: page_location.access_point,
              default: 'Refine your results') %>
      </h2>
    </div>

    <div id="facet-panel-collapse" class="facets-collapse collapse panel-group">
      <%= render_facet_partials %>
    </div>
  </div>
<% end %>
