<% #Placeholder for when index is available %>
<table class="table file-list-table table-bordered">
  <thead>
    <tr>
      <th>File (size)</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>jurrasic_park.jpg</td>
      <td>Includes a dino pic</td>
    </tr>
  </tbody>
</table>
