<% if @document.first(:folio_json_struct) %>
    <div id="folio-json-view">
        <details>
            <summary>Holdings JSON</summary>
            <pre><%= JSON.pretty_generate(@document.first(:holdings_json_struct)) %></pre>
        </details>
        <details>
            <summary>FOLIO JSON</summary>
            <pre><%= JSON.pretty_generate(JSON.parse(@document.first(:folio_json_struct))) %></pre>
        </details>
        <% if @document.preferred_item %>
        <details>
            <summary>Circulation rules</summary>
            <pre><%= Folio::CirculationRules::PolicyService.instance.item_rule(@document.preferred_item).to_debug_s %></pre>
        </details>
        <% end %>
    </div>
<% end %>
