<% if document.cdl? %>
  <div class="results-metadata-section col-xs-6 col-md-8">
    <div class="cdl-results-block">
      <p class="cdl-notice">
        Digital borrowing available to Stanford faculty and students.<br />
        Simultaneous use is limited.
      </p>
    </div>
  </div>
<% end %>
