<% # header bar for doc items in index view gallery %>
<div class="documentHeader">
  <div class="callnumber-bar">
    <% if document.holdings.callnumbers.present? %>
      <%= document.holdings.callnumbers.first.callnumber %>
    <% end %>
  </div>
  <h3 class="index_title">
    <% counter = document_counter_with_offset(document_counter) %>
    <%= render_resource_icon document[document.format_key] %>
    <%= link_to_document document, label: get_main_title(document), counter: (counter + @response.params[:start].to_i) %>
    <span class="main-title-date"><%= get_main_title_date(document) %></span>
  </h3>
</div>
