<% display_panel = document.preferred_online_links.present? %>
<dl data-behavior="results-online-section" class="row results-online-section results-metadata-section" <%= 'hidden' unless display_panel %>>
  <dt class="col-md-4">
    <% if document.druid %>
      <span class="also-online-label">Also online at</span>
    <% else %>
      <span class="online-label">Online</span>
    <% end %>
  </dt>
  <dd class="col-md-8">
    <ul class="online-links" data-behavior="truncate-results-metadata-links">
      <% document.preferred_online_links.each do |link| %>
        <li class="<%= 'stanford-only' if link.stanford_only? %>">
          <%= link.html.html_safe %>
        </li>
      <% end %>

      <% if document.index_links.managed_purls.none? %>
        <% book_ids  = get_book_ids(document) %>
        <li hidden class="google-books <%= (book_ids['isbn'] + book_ids['oclc'] + book_ids['lccn']).join(' ') %>">
          <a href="" class="full-view">Google Books (Full view)</a>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>
