<% if document[:summary_display] %>
  <div data-behavior='truncate'>
    <%= document[:summary_display].join(', ') %>
  </div>
<% end %>

<% if document.collection_members.present? %>
  <dl class="dl-horizontal dl-invert">
    <dt>DIGITAL CONTENT:</dt>
    <dd><%= link_to_collection_members(pluralize(document.collection_members.total, 'item'), document) %></dd>
  </dl>

  <%= render :partial => "image_collection_filmstrip", :locals => { :collection_document => document } %>
<% end %>
