<% display_panel = document.preferred_online_links.present? %>
<dl data-behavior="results-online-section" class="dl-horizontal results-online-section results-metadata-section col-md-8 <%= 'hide' unless display_panel %>">
  <% if document.druid %>
    <dt class="also-online-label">Also online at</dt>
  <% else %>
    <dt class="online-label">Online</dt>
  <% end %>
  <dd>
    <ul class="online-links" data-behavior="truncate-results-online-links">
      <% document.preferred_online_links.each do |link| %>
        <li class="<%= 'stanford-only' if link.stanford_only? %>">
          <%= link.html.html_safe %>
        </li>
      <% end %>

      <% if document[:managed_purl_urls].blank? %>
        <% book_ids  = get_book_ids(document) %>
        <li class="hide google-books <%= (book_ids['isbn'] + book_ids['oclc'] + book_ids['lccn']).join(' ') %>">
          <a href="" class="full-view">Google Books (Full view)</a>
        </li>
      <% end %>
    </ul>
  </dd>
</dl>
