<% if document[:summary_display] %>
  <div data-behavior='truncate'>
    <%= document[:summary_display].join(', ') %>
  </div>
<% end %>

<dl class="dl-horizontal dl-invert">
  <% if document.collection_members.present? %>
    <dt>DIGITAL CONTENT:</dt>
    <dd><%= pluralize(document.collection_members.total, 'item') %></dd>
  <% end %>
</dl>
