<div class="lib-guides-alternate-catalog" data-lib-guides-api-url="<%= lib_guides_path(q: params[:q]) %>">
  <div class="alternate-catalog-body">
    <div class="row">
      <div class="col-md-6">
        <h4 class="alternate-catalog-name">
          Guides
        </h4>
        <div class="alternate-catalog-desc">
          Course- and topic-based guides to collections, tools, and services.
        </div>

        <ol>
        </ol>
      </div>

      <div class="col-md-6">
        <span class="h4">
          <%= link_to(Settings.LIB_GUIDES.APP_SEARCH_URL % { q: params[:q] }) do %>
            <span class="bi-box-arrow-up-right"></span> Search "<%= params[:q] %>" in all guide pages
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>
