<div class="managed-purl row">
  <div class="col-md-12">
    <h2>Digital content</h2>
  </div>
  <div class="col-md-4">
    <div class="card managed-purl-panel mb-3">
      <div class="managed-purl-heading">
        <%= "#{document.marc_links.managed_purls.count} parts" %>
      </div>
      <div class="card-body">
        <ul>
          <% document.marc_links.managed_purls.each_with_index do |purl, i| %>
            <li>
              <%= button_tag data: { embed_target: "#{Settings.PURL_EMBED_RESOURCE}#{purl.druid}", embed_provider: Settings.PURL_EMBED_PROVIDER } do %>
                <% if purl.file_id %>
                  <img src="<%= document.craft_image_url(image_id: purl.file_id, size: :thumbnail) %>">
                <% end %>
                <%= purl.text.presence || "part #{i + 1}" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class='managed-purl-embed'>
    </div>
  </div>
</div>
