<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <% paginator.items.each do |item| -%>
    <li>
      <%= render_resource_icon item.value %>
      <% if facet_in_params?( facet_field.key, item.value ) %>
          <%= render_selected_facet_value(facet_field.key, item) %>
        <% else %>
          <%= render_facet_value(facet_field.key, item) %>
      <% end -%>
    </li>
  <% end %>
</ul>
