<%
  document ||= @document
  id = document[:id]
%>

<div class="annotations row" data-anno-url="<%= annotation_path(document, format: :json) %>">
  <div class="annotations-container col-lg-12">
    <div class="col-lg-9 col-sm-12 tags"></div>
    <div class="col-lg-3 col-sm-12">
      <%= link_to_document document, 'User comments <span class="num-found"></span>'.html_safe, :counter => counter  %>
    </div>
  </div>
</div>
