<ul class="document-metadata dl-horizontal dl-invert">
  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
      <li><%= render_index_field_value document, :field => solr_fname %></li>
    <% end %>
  <% end %>
</ul>