<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="sul-icon sul-icon-books-3"></span> Browse <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Course Reserves", "#" %>
    </li>
  </ul>
</li>
