<div class="accordion-sections">
  <%= render :partial => "catalog/accordion_section_summary", :locals => { :document => document } %>
  <%= render :partial => "catalog/accordion_section_online", :locals => { :document => document } %>
  <%= render :partial => "catalog/accordion_section_library", :locals => { :document => document } %>
  <%= render :partial => "catalog/accordion_section_course_reserves", :locals => { :document => document } %>
</div>
