<ul class="nav navbar-nav navbar-right searchbar-right">
  <li class=""><%= render_search_bar_advanced_widget %></li>
  <li class="disabled"><%= render_search_bar_browse_widget %></li>
  <li class="disabled"><%= render_search_bar_selections_widget %></li>
</ul>
