<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="glyphicon glyphicon-check"></span> Selections (<span id="current-selections-count"><%= current_or_guest_user.bookmarks.length %></span>)<span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Show list", selections_path %>
    </li>
    <li>
      <%= link_to "Clear list", clear_bookmarks_path, method: :delete, data: { confirm: t('blacklight.bookmarks.clear.action_confirm') } %>
    </li>
  </ul>
</li>
