<button id="select_all-dropdown" type="button" class="btn btn-sul-toolbar" data-turbo="false">
  <span class="select-all"><%= t('blacklight.bookmarks.select_all').html_safe %></span>
  <span class="unselect-all"><%= t('blacklight.bookmarks.unselect_all').html_safe %></span>
</button>
