<button id="select_all-dropdown" type="button" class="btn btn-default disabled" data-no-turbolinks>
  <span class="visible-md visible-lg">
    <%= t('blacklight.bookmarks.add.all') %>
  </span>
  <span class="visible-sm">
    <%= t('blacklight.bookmarks.add.all_small').html_safe %>
  </span>
</button>
