<button id="select_all-dropdown" type="button" class="btn btn-sul-toolbar" data-controller="analytics" data-analytics-category-value="select-bulk-action" data-turbo="false">
  <span class="select-all" data-action="click->analytics#trackEvent"><%= t('blacklight.bookmarks.select_all').html_safe %></span>
  <span class="unselect-all" data-action="click->analytics#trackEvent"><%= t('blacklight.bookmarks.unselect_all').html_safe %></span>
</button>
