<% document ||= @document %>

<% add_purl_embed_header(document) %>

<div class="upper-record-metadata row">
  <% if document.druid %>
    <div class="col-md-7 purl-embed-viewer">
      <div data-behavior="purl-embed" data-embed-url="<%= embed_path(document.druid) %>"></div>
      <%= iiif_drag_n_drop(document.iiif_manifest) if document.iiif_manifest %>
    </div>
  <% end %>
  <div class="col-md-5">
    <%= render 'catalog/record/mods_upper_metadata_section' %>
  </div>
</div>

<%= render partial: 'catalog/record/record_metadata_default', locals: { document: document } %>
