<div class='upper-record-metadata row'>
  <div class="col-md-6">
    <div data-behavior="purl-embed" data-embed-url="<%= embed_path(@document.druid) %>"></div>
  </div>
  <%#= render 'catalog/osd_viewer' %>
  <div class="col-md-6">
    <%= render 'catalog/record/marc_upper_metadata_items' %>
  </div>
</div>
