<% document ||= @document %>

<% add_purl_embed_header(document) %>

<div class="upper-record-metadata row">
  <% if document.druid %>
    <div class="col-md-7">
      <div class="purl-embed-viewer" data-behavior="purl-embed" data-embed-url="<%= embed_path(document.druid) %>"></div>
    </div>
  <% end %>
  <div class="col-md-5">
    <%= render 'catalog/record/mods_upper_metadata_section' %>
  </div>
</div>

<%= render partial: 'catalog/record/record_metadata_default', locals: { document: document } %>
