<h1>
  <%= render_resource_icon document[document.format_key] %>
  <%= render_document_heading(document, :tag => :span) %>
</h1>
<% if document[:vern_title_display].present? %>
  <p class='vernacular-title'><%= document[:vern_title_display] %></p>
<% end %>
