<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_header do %>
    <h3 class="modal-title"><%= document_presenter(document).heading %></h3>
  <% end %>
  <%= render 'single_citation', document: %>
<% end %>