<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_header do %>
    <h2 class="modal-title">Cite</h2>
  <% end %>
  <% component.with_body do %>
    <%= render Searchworks4::Citations::CitationComponent.new(presenter:) %>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" data-bl-dismiss="modal">Close</button>
    </div>
  <% end %>
<% end %>
