<% if show_sort_and_per_page? and !active_sort_fields.blank? %>
  <div id="sort-dropdown" class="btn-group">
    <button type="button" class="btn btn-sul-toolbar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= t('blacklight.search.sort.label_html', :field =>current_sort_field.label).html_safe %>
    </button>

    <div class="dropdown-menu" role="menu">
      <%- active_sort_fields.each do |sort_key, field| %>
        <%= link_to url_for(search_state.params_for_search(sort: sort_key)), class: 'dropdown-item', 'aria-current': current_sort_field.label == field.label, role: 'menuitem', tabindex: '-1' do %>
          <% if current_sort_field.label == field.label %>
            <%= t 'blacklight.search.highlight.active_html' %>
          <% end %>
          <%= field.label %><% end %>
      <%- end -%>
    </div>
  </div>
<% end %>
