<%
  counter = document_counter_with_offset(document_counter)
  options = {
    :counter => counter,
    :suppress_link => true
  }
  context_href = (document_link_params(document, {:counter => counter})).dig(:data, :"context-href")
%>

<% if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {}, options) %>
  <div class="document-thumbnail">
    <div class="cover-image-wrapper" data-target="<%= solr_document_path document %>" data-context-href="<%= context_href %>">
      <%= tn %>
    </div>
    <%= iiif_drag_n_drop(document.iiif_manifest, position: 'top') if document.iiif_manifest %>
  </div>
<% end %>
