<div class="row">
  <div id="content" class="col-md-12 show-document">

    <%= render 'show_main_content' %>

  </div>
</div>
<div class="row">
  <div class="col-md-12 tech-details">
    <%= tech_details(@document) %>
  </div>
</div>
