<%= render Blacklight::System::ModalComponent.new do |component| %>
  <% component.with_header do %>
    <h2 class="modal-title">Find it</h2>
  <% end %>
  <% component.with_body do %>
    <%= render Searchworks4::RecordSummaryComponent.new(presenter: document_presenter(@document)) %>
    <div class="modal-body stackmap pb-2">
      <%= render StackmapComponent.new(items: @items, stackmap_api_url: @stackmap_api_url) %>
    </div>
    <div class="modal-footer">
      <button type="button" data-bl-dismiss="modal" class="btn btn-outline-primary">Close</button>
    </div>
  <% end %>
<% end %>
