.library-location-heading{
  border-bottom: 1px solid transparent;
  border-top-right-radius: $border-radius-small;
  padding-bottom: 6px;
  background: #919191;
  color: #fff;
  height: 50px;
}
.library-location-heading a{
  color: #fff;
  text-decoration: underline;
  height: 50px;
}

.library-location-heading-text{
  padding-top: 6px;
  padding-left: 60px;

}
