.panel-online {
  margin-top: 10px;
  .access-panel-heading.panel-heading {
    color: $sul-access-font;
    background: $sul-access-online-bg;
    border-bottom: 1px solid $sul-access-online-bg;
  }
  .google-books {
    display: none;
    margin-top: 10px;

    ul {
      list-style-type: none;
      padding-left: 10px;

      li a {
        display: none;
      }
    }

    .btn-preview {
      margin-top: 10px;

      .preview-link {
        display: none;
      }
    }
  }

}

.visible {
  display: inline;
}
