.panel-library-location { // A kind of .access-panel
  a { // SAL3 is not wrapped with an anchor tag. See link_to_library_about_page
    .library-location-heading {
      &:hover {
        background-color: $warm-grey;
      }
      h3 {
        border-bottom: 1px dotted $white;
        max-width: 95%; // so the border won't extend past the text

        &:hover,
        &:active {
          border-bottom: 1px solid $white;
        }  
      }
    }
  }
  .library-location-heading { // A kind of .access-panel-heading
    @include panel-heading($sul-access-location-bg, $sul-access-header-color);
    height: 50px;
    padding-bottom: 6px;
    h3 {
      color: $sul-access-header-color;
      display: inline-block;
    }
    .small {
      line-height: 1em;
    }
  }

  .location>li {
    margin-bottom: 10px;
  }

  .library-location-heading-text {
    padding-top: 4px;
    padding-left: 60px;
  }

  .location {
    .items {
      li {
        padding-left: 20px;

        i {
          margin-left: -12px;
        }
      }
    }
  }
}

.request-button,
.stackmap-find-it {
  @include location-buttons;

  .bi {
    margin-right: 4px;
  }
}

.bound-with-note {
  margin-left: 10px;

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
