.access-panel {
  .access-panel-heading {
    background-color: $cloud;

    h3 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
    }
  }

  .card-body {
    h4 {
      color: $cardinal-red;
      font-size: $h4-font-size;
      line-height: 1.4em;
      margin-bottom: 5px;

      .sul-icon {
        color: $sul-text-color;
      }
    }

    .access-panel-subsection {
      padding-bottom: 10px;
    }
  }
}
