.panel-library-location {
  .library-location-heading {
    @include panel-heading($sul-access-location-bg, $sul-access-font);
    height: 50px;
    padding-bottom: 6px;
    h3 {
      color: $sul-access-font;
      line-height: 1em;
    }
    a {
      color: #fff;
      text-decoration: underline;
      height: 50px;
    }
  }

  .location>li {
    margin-bottom: 10px;
  }

  .library-location-heading-text {
    padding-top: 4px;
    padding-left: 60px;

  }
  .library-location-heading:hover {
    background-color: $warm-grey;
  }
  .location {
    .items {
      li {
        padding-left: 20px;

        i {
          margin-left: -12px;
        }
      }
    }
  }
}

.request-button,
.stackmap-find-it {
  @include location-buttons;

  .bi {
    margin-right: 4px;
  }
}

.bound-with-note {
  margin-left: 10px;

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}
