.access-panel-heading h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.125em;
  font-weight: 400;
}
.access-panel-heading {
  &.library-location-heading h3 {
    border-bottom: 1px dotted white;
    display: inline-block; /* so the border won't extend past the text */
    margin-right: 10px;
    &:hover,&:active {
      border-bottom: 1px solid white;
    }
    &.no-link {
      border-bottom: none;
    }
  }
}
.access-panel {
  .panel-body {
    h4 {
      font-size: 16px;
      color: $cardinal-red;
      margin-bottom: 5px;
    }

    .access-panel-subsection {
      padding-bottom: 10px;
    }
  }
}
