.access-panel-heading h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1em;
  font-size: 1.3em;
  font-weight: 300;
}
.access-panel {
  .panel-body {
    h4 {
      font-size: 16px;
      color: $cardinal-red;
      margin-bottom: 5px;
    }

    .access-panel-subsection {
      padding-bottom: 10px;
    }
  }
}
