.panel-online {
  margin-top: 10px;

  .google-books {
    display: none;
    margin-top: 10px;

    ul {
      list-style-type: none;
      padding-left: 10px;

      li a {
        display: none;
      }
    }

    .btn-preview {
      margin-top: 10px;

      .preview-link {
        display: none;
      }
    }
  }

}

.visible {
  display: inline;
}
