.cdl-notice {
  &:before {
    content: image-url('stanford-only.svg');
    margin-right: 5px;
  }

  color: $sul-availability-notice-color;
}

.cdl-results-block {
  border: 3px solid $sul-temp-access-alert-box-border-color;
  padding: 8px;
}
