.access-panel-heading h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $font-size-h3;
  font-weight: 400;
}

.access-panel {
  .panel-body {
    h4 {
      color: $cardinal-red;
      font-size: $font-size-h4;
      line-height: 1.4em;
      margin-bottom: 5px;

      .sul-icon {
        color: $sul-text-color;
      }
    }

    .access-panel-subsection {
      padding-bottom: 10px;
    }
  }
}
