.panel-online {
  margin-top: 10px;

  ul.links {
    padding-left: 0;
    list-style-type: none;

    li {
      .stanford-only {
        padding-right: 20px;
        background: image-url('sprite-links.png') no-repeat right top;
      }
    }
  }

  .google-books {
    display: none;
    margin-top: 10px;

    ul {
      list-style-type: none;
      padding-left: 10px;

      li a {
        display: none;
      }
    }

    .btn-preview {
      margin-top: 10px;

      .preview-link {
        display: none;
      }
    }
  }

}

.visible {
  display: inline;
}
