.panel-related {
  .oac {
    padding-left: 20px;
    background: url("oac.png") no-repeat center left;
  }
  .worldcat {
    padding-left: 20px;
    background: url("worldcat.png") no-repeat center left;
  }
}
