.panel-online {
  .access-panel-heading.panel-heading {
    color: $sul-access-font;
    background: $sul-access-online-bg;
    border-bottom: 1px solid $sul-access-online-bg;
  }

  .google-books {
    @include google-books;
  }
}

.visible {
  display: inline;
}

.article-record-panels {
  .panel-body {
    .fa {
      margin-right: 5px;
    }
  }
}
