.panel-library-location {
  .library-location-heading {
    border-bottom: 1px solid $sul-access-location-bg;
    padding-bottom: 6px;
    background: $sul-access-location-bg;
    color: $sul-access-font;
    height: 50px;
    a {
      color: #fff;
      text-decoration: underline;
      height: 50px;
    }
  }

  .location>li {
    margin-bottom: 10px;
  }

  .library-location-heading-text {
    padding-top: 6px;
    padding-left: 60px;

  }
  .location {
    .items {
      li {
        padding-left: 20px;

        i {
          margin-left: -12px;
        }
      }
      .reserve-note {
        color: #990000;
      }
    }

    .stackmap-find-it {
      margin-left: 10px;
    }

  }
}
