.panel-related {
  .card-header {
    background-color: $cloud;
  }
  
  .worldcat {
    padding-left: 20px;
    background: image-url('worldcat.png') no-repeat center left;
  }
  .google-books {
    @include google-books;
  }
}
