.access-panel-heading h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $h3-font-size;
  font-weight: 400;
}

.access-panel-heading {
  &.library-location-heading h3 {
    border-bottom: 1px dotted $white;
    display: inline-block;
    max-width: 95%; // so the border won't extend past the text

    &:hover,
    &:active {
      border-bottom: 1px solid $white;
    }

    &.no-link {
      border-bottom: 0;
    }
  }
}

.access-panel {
  .card-body {
    h4 {
      color: $cardinal-red;
      font-size: $h4-font-size;
      line-height: 1.4em;
      margin-bottom: 5px;

      .sul-icon {
        color: $sul-text-color;
      }
    }

    .access-panel-subsection {
      padding-bottom: 10px;
    }
  }
}
