.access-panel {
  &.panel-exhibit {
    img {
      height: 75px;
      width: 75px;
    }

    .media-heading h4 {
      margin-top: 0;
    }

    .see-all-exhibits {
      margin-top: 15px;
    }
  }
}
