.panel-online {
  .access-panel-heading.card-header {
    background: $sul-access-online-bg;
    border-bottom: 1px solid $sul-access-online-bg;
    h3 {
      color: $sul-access-header-color;
    }
  }

  .google-books {
    @include google-books;
  }
}

.visible {
  display: inline;
}

.article-record-panels {
  .card-body {
    .fa {
      margin-right: 5px;
    }
  }
}
