.etas-notice {
  color: $sul-availability-notice-color;
}

.etas-results-block {
  border: 3px solid $sul-temp-access-alert-box-border-color;
  padding: 8px;
}

.temporary-access.panel {
  .etas-results-block {
    margin-top: 8px;
  }
}
