.panel-course-reserve {
  .access-panel-heading {
    color: $sul-access-header-color;
    background: $sul-access-course-reserve-bg;
    border-bottom: 1px solid $sul-access-course-reserve-bg;
    h3 {
      color: $sul-access-header-color;
    }
  }
  ul.links {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    li {
      padding-right: 20px;
      padding-bottom: 15px;
    }
    li:last-child {
      padding-bottom: 0px;
    }
  }
}

.course-reserve-title {
  font-size: $font-size-small;
}
