.accordion-sections {
  overflow: auto;
  padding-left: 0;

  .accordion-section {
    padding-left: 0;

    .snippet-wrapper {
      display: inline-flex;
      align-items: center;
      width: 100%;
    }

    .header {
      --bs-btn-color: white;
      --bs-btn-active-color: white;
      --bs-btn-hover-color: white;

      margin-right: 1em;
      min-width: 147px; /* Prevent the open caret from wrapping */

      text-align: left;

      &::after {
        content: "❯";
        float: right;
      }

      &.open::after {
        transform: rotate(90deg);
      }
    }

    &.summary {
      .snippet {
        margin-left: 86px;
        ul {
          list-style-type: none;
        }
      }
    }

    .snippet {
      color: $sul-mini-accordion-text-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .details {
      border: 1px solid $sul-document-border-color;
      display: none;
      padding: 10px;
    }
  }

  .accordion-section.course-reserves {
    padding-top: 4px; // Add a little top padding for the Availability section above (which should always exist)

    .header {
      --bs-btn-hover-bg: #{$sul-accordion-course-reserves-bg};
      --bs-btn-bg: #{$sul-accordion-course-reserves-bg};
      --bs-btn-active-bg: #{$sul-accordion-course-reserves-bg};
    }

    .details {
      dd {
        margin: 0 0 10px 15px;
      }
    }
  }

  .accordion-section.location {
    .header {
      --bs-btn-hover-bg: #{$sul-accordion-location-bg};
      --bs-btn-bg: #{$sul-accordion-location-bg};
      --bs-btn-active-bg: #{$sul-accordion-location-bg};
    }

    .details {
      padding: 0;
    }
  }
}

.selected-databases .accordion-sections {
  padding-left: 15px;
}
