.accordion-sections {
  overflow: auto;
  padding-left: 0;

  .accordion-section {
    padding-left: 0;

    .snippet-wrapper {
      display: inline-flex;
      align-items: center;
      width: 100%;
      button.header {
        min-width: 147px;
      }
    }

    .header {
      @extend .btn;
      color: $white;
      margin-right: 1em;
      cursor: pointer;
      font-weight: normal;
      white-space: nowrap;
      width: 10.5em;
      text-align: left;

      &:hover, &:focus {
        color: $white;
      }

      span.section-label {
        float: left;
        text-align: left;
      }

      &::after {
        content: "❯";
        float: right;
      }

      &.open::after {
        transform: rotate(90deg);
      }
    }

    .remove-list-styles {
      ul, ol {
        margin-bottom: 0;
      }
    }

    &.summary {
      .snippet {
        margin-left: 86px;
        ul {
          list-style-type: none;
        }
      }
    }

    .snippet {
      color: $sul-mini-accordion-text-color;
      @extend .remove-list-styles;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .details {
      border: 1px solid $sul-document-border-color;
      display: none;
      padding: 10px;
      clear: left;
      @extend .remove-list-styles;
    }

    .details:target {
      display: block;
    }

  }

  .accordion-section.course-reserves {
    padding-top: 4px; // Add a little top padding for the Availability section above (which should always exist)

    .header {
      @include buttonize($sul-accordion-course-reserves-bg, $sul-accordion-course-reserves-border);
    }

    .details {
      dd {
        margin: 0 0 10px 15px;
      }
    }
  }

  .accordion-section.location {
    .header {
      @include buttonize($sul-accordion-location-bg, $sul-accordion-location-border);
    }

    .location-header {
      background-color: #eee;
      padding: 5px;
      margin: 0;
    }

    .details {
      padding: 0;

      .location-column {
        padding: 10px 25px;
      }

      .stackmap-find-it {
        font-weight: normal;
      }
    }
  }
}

.selected-databases .accordion-sections {
  padding-left: 15px;
}

@include media-breakpoint-up(sm) {
  .accordion-sections {
    clear: right;
  }
}
