.accordion-sections {
  margin-bottom: 15px;
  overflow: auto;
  padding-left: 0;

  .accordion-section {
    font-size: small;
    margin: 0 0 10px 0;
    padding-left: 0;

    .header {
      float: left;
      border-radius: 2px;
      color: $white;
      display: inline-block;
      margin-right: 1em;
      cursor: pointer;
      padding: 2px 10px;
      border-bottom: none;
      font-weight: normal;
      font-size: 0.9em;
      white-space: nowrap;
      width: 10.5em;
      text-align: left;

      span.section-label {
        float: left;
        text-align: left;
      }

      span.glyphicon {
        font-size: 10px;
        float: right;
        padding-top: 1px;
      }

      span.glyphicon-chevron-down {
        padding-top: 2px;
      }
    }

    .remove-list-styles {
      ul, ol {
        margin-bottom: 0;
      }
    }

    &.summary {
      .snippet {
        margin-left: 86px;
        ul {
          list-style-type: none;
        }
      }
    }

    .snippet {
      color: $sul-mini-accordion-text-color;
      @extend .remove-list-styles;
    }

    .details {
      border-top: 1px solid $sul-document-border-color;
      border-right: 1px solid $sul-document-border-color;
      border-bottom: 1px solid $sul-document-border-bottom-color;
      border-left: 1px solid $sul-document-border-color;
      display: none;
      padding: 10px;
      clear: left;
      @extend .remove-list-styles;
    }

    .details:target {
      display: block;
    }

  }

  .accordion-section.summary {
    .header {
      @include buttonize-with-gradient($sul-accordion-summary-bg, $sul-accordion-summary-border, $sul-accordion-summary-gradient);
    }
  }

  .accordion-section.online {
    .header {
      @include buttonize-with-gradient($sul-accordion-online-bg, $sul-accordion-online-border, $sul-accordion-online-gradient);

      &.selected-database {
        width: 11.4em;
      }
    }

    .details {
      .links {
        list-style-type: none;
        padding-left: 10px;
      }

      .google-books {
        display: none;

        .btn-preview {
          display: none;

          .preview-link {
            display: none;
          }
        }
      }
    }
  }

  .accordion-section.course-reserves {
    .header {
      @include buttonize-with-gradient($sul-accordion-course-reserves-bg, $sul-accordion-course-reserves-border, $sul-accordion-course-reserves-gradient);
    }

    .details {
      dd {
        margin: 0 0 10px 15px;
      }
    }
  }

  .accordion-section.location {
    .header {
      @include buttonize-with-gradient($sul-accordion-location-bg, $sul-accordion-location-border, $sul-accordion-location-gradient);
    }

    .location-header {
      background-color: #eee;
      padding: 5px;
      margin: 0;
    }

    .details {
      padding: 0;

      .location-column {
        padding: 10px 25px;
      }

      .stackmap-find-it {
        font-weight: normal;
        @include stackmap-find-it;
      }
    }
  }
}

.selected-databases .accordion-sections {
  padding-left: 15px;
}

@media (max-width: $screen-xs-max) {
  .accordion-sections {
    clear: right;
  }
}
