.accordion-section {
  font-size: small;
  margin: 5px 0;

  .header {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    padding: 2px 10px;
    cursor: pointer;
    border-bottom: none;
    i.fa {
      padding-left: 4px;
    }
  }

  .snippet {
    color: #999;
  }

  .details {
    border: 1px solid #ccc;
    display: none;
    padding: 10px;
  }

  .details:target {
    display: block;
  }

}

.accordion-section.summary {
  .header {
    background-color: $sul-summary-bg;
  }
}

.accordion-section.online {
  .header {
    background-color: $sul-access-online-bg;
  }

  .details {
    .links {
      list-style-type: none;
      padding-left: 10px;
    }

    .google-books {
      display: none;
      margin-top: 10px;

      ul {
        list-style-type: none;
        padding-left: 0px;

        li a {
          display: none;
        }
      }

      .btn-preview {
        display: none;

        .preview-link {
          display: none;
        }
      }
    }
  }
}

.accordion-section.course-reserves {
  .header {
    background-color: $sul-access-course-reserve-bg;
  }

  .details {
    dd {
      margin: 0 0 10px 15px;
    }
  }
}

.accordion-section.location {
  .header {
    background-color: $sul-access-location-bg;
  }

  .location-header {
    background-color: #eee;
    padding: 5px;
    margin: 0;
  }

  .details {
    padding: 0;

    .location-column {
      padding: 10px 25px;
    }
  }
}
