.advanced-search-form {
  .advanced-search-start-over {
    margin-left: 20px;
  }

  .advanced-submit-group {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  padding: 0;

  .panel-search-tips {
    .card-header {
      background-color: $cloud;
    }
    .advanced-help {
      padding: 0 15px;

      li {
        margin-left: 10px;
        padding-bottom: 7px;
      }
    }
  }

  .adv-publication-year-range {
    margin-left: -34%;

    .form-control {
      display: inline-block;
      width: 100px;
    }
  }

  #sort {
    width: auto;
  }

  .submit-buttons {
    margin-top: 2rem;
  }

  .facet-label {
    padding-bottom: 0;
    padding-left: 20px;
  }

  .facet-count {
    padding-bottom: 0;
    padding-left: 8px;
  }
}

@media only screen and (max-width: 981px) {
  .advanced-search-form {
    .adv-publication-year-range {
      margin-left: 0;

      label {
        padding-left: 0;
      }
    }
  }
}
