.advanced-search-form {
  .advanced {
    @extend .my-3;
  }
  .advanced-search-start-over {
    margin-left: 20px;
  }
  #advanced-search-sort-label {
    @extend .h2; // Can be removed after https://github.com/projectblacklight/blacklight/pull/3089
  }

  .advanced-submit-group {
    padding-bottom: 30px;
    padding-top: 30px;
  }

  h2.query-criteria-heading {
    padding-bottom: 4px;

    select.input-small {
      vertical-align: middle;
    }
  }

  padding: 0;

  .panel-search-tips {
    .card-header {
      background-color: $cloud;
    }
    .advanced-help {
      padding: 0 15px;

      li {
        margin-left: 10px;
        padding-bottom: 7px;
      }
    }
  }

  .col-md-3.col-form-label {
    @extend .col-sm-3;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .adv-publication-year-range {
    margin-left: -34%;

    .form-control {
      display: inline-block;
      width: 100px;
    }
  }

  h2.col-form-label {
    text-align: left !important;
    width: 100% !important;
  }

  .col {
    @extend .col-md-9;  // Can be removed after https://github.com/projectblacklight/blacklight/pull/3089
    @extend .pt-2;
  }

  #sort {
    width: auto;
  }

  .submit-buttons {
    margin-top: 2rem;
  }

  .facet-values {
    .label-and-count {
      margin: 3px 0;

      .facet-label,
      .facet-count {
        display: inline;
        padding-bottom: 0;
        padding-left: 3px;
      }
    }

    .facet-checkbox {
      vertical-align: middle;
    }
  }
}


@media only screen and (min-width : 768px) {
  #advanced-search-form #advanced_search_facets .advanced-facet-limits {
    padding-left: 5px;
  }
}

@media only screen and (max-width : 981px) {
  .advanced-search-form {
    .adv-publication-year-range {
      margin-left: 0;

      label {
        padding-left: 0;
      }
    }
  }
}
