.alternate-catalog {
  background-color: white;
  border: 1px solid var(--stanford-cardinal);
  font-size: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;

  h3 {
    color: var(--stanford-cardinal);
    font-size: 1.25rem;
    padding-top: 10px;
  }

  .alternate-catalog-name {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .alternate-catalog-desc {
    font-size: 0.875rem;
    margin-bottom: 0.75rem;
  }

  .alternate-catalog-close {
    padding-top: 1.5rem;
    float: right;
  }

  .badge {
    --bs-secondary-rgb: var(--stanford-10-black-rgb);
    --bs-badge-font-weight: normal;
  }
}

.zero-result-container,
.documents-list {
  container-type: inline-size;
}