.alternate-catalog {
  background-color: $white;
  border: 1px solid $cardinal-red;
  clear: both;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;

  h3 {
    color: $cardinal-red;
    font-size: 1.476em;
    font-variant: all-small-caps;
    padding-top: 10px;
  }

  .alternate-catalog-name {
    font-size: $h3-font-size;
    margin-top: 0;
  }

  ol,
  ul {
    font-size: $h5-font-size;
  }

  .alternate-catalog-body {
    display: none;
    padding: 10px;
  }

  .alternate-catalog-desc {
    color: $gray-light;
  }

  .alternate-catalog-close {
    padding-top: 8px;

    &:hover,
    &:focus {
      color: $cardinal-red;
      opacity: 1;
    }
  }

  .alternate-catalog-facet-section {
    padding-top: 10px;
  }

  .lib-guides-alternate-catalog {
    border-top: 1px solid $cloud;
  }
}
