.alternate-catalog {
  background-color: $white;
  border: 1px solid $cardinal-red;
  clear: both;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 10px;

  h3 {
    color: $cardinal-red;
    font-size: 1.476em;
    font-variant: all-small-caps;
    padding-top: 10px;
  }

  h4 {
    font-size: $font-size-h3;
  }

  .alternate-catalog-body {
    display: none;
    padding: 10px;
  }

  .alternate-catalog-close {
    padding-right: 8px;
    padding-top: 8px;

    &:hover,
    &:focus {
      color: $cardinal-red;
      opacity: 1;
    }
  }

  .alternate-catalog-facet-section {
    padding-top: 10px;
  }
}
