.article-search-results {
  .duplicates {
    font-style: italic;
    color: rgb(var(--stanford-stone-dark-rgb));
    font-size: 1.125rem;
    margin-inline-start: 1rem;
  }
  .duplicate-info {
    padding: 0;
  }
  .document {
    h3 {
      padding-top: 10px;
      &.index_title {
        text-indent: -22px;
      }
    }

    span.sul-icon {
      display: none;
    }
  }
}

.article-search-show {
  h1 {
    padding-top: 10px;

    span.sul-icon {
      display: none;
    }
  }
}

/* EDS markup */
searchLink {
  font-style: italic;
}

.eds-full-text-section {
  h2 {
    border-bottom: 0;
  }
}
