.note-highlight {
  padding: 2px 5px;
  background-color: $public-note-yellow;
  &.bound-with-note {
    margin-left: 10px;
  }
}

.availability {
  width: 100%;

  &.record-view {
    margin-top: 4px;
    margin-bottom: 15px;
  }

  tr td:first-child {
    width: 60%;
  }

  td {
    padding: 2px 5px 5px 0;
    vertical-align: top;
  }

  .availability-icon-wrapper {
    white-space: nowrap;
  }

  .availability-icon {
    width: 1.2em;
  }
  .status-text {
    color: $sul-availability-status-text-color;
    font-size: .937em;
    margin-right: 0.5em;
  }
  .current-location {
    color: $sul-availability-notice-color;
  }
}

table.availability {
  thead {

    tr,
    tr.active {
      th {
        border-bottom: none;
        background-color: $sul-availability-table-head-background;
      }
    }
  }

  td.indent-callnumber {
    padding-left: 15px;
  }

  thead,
  tbody,
  tfoot {
    tr {
      th {
        border-top: 1px solid $sul-availability-table-cell-border;
      }

      th.location-info {
        font-weight: normal;
      }
    }
  }
}

.availability-item {
  border-top: 1px solid $sul-availability-table-cell-border;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &>.callnumber {
    flex-grow: 1;
  }

  &>.public-note {
    order: 2;
    width: 100%;
  }

  &>.item-availability {
    text-align: right;
  }
}
