$available-color: green;
$noncirc-color: darkorange;

.availability {
  .availability-icon {
    @extend .fa;
  }
  .available {
    @extend .fa-check;
    color: $available-color;
  }
  .noncirc {
    @extend .fa-check;
    color: $noncirc-color;
  }
  .deliver-from-offsite {
    @extend .fa-truck;
    color: $available-color;
  }
  .noncirc_page {
    @extend .fa-truck;
    color: $noncirc-color;
  }
  .unavailable,
  .in_process {
    @extend .fa-times;
    color: #990000;
  }
  .unknown {
    @extend .fa-question;
    color: #ccc;
  }
}
