.availability {
  thead {

    tr,
    tr.active {
      th {
        border-bottom: none;
        background-color: $sul-availability-table-head-background;
      }
    }
  }

  thead,
  tbody {
    tr {
      th {
        border-top: 1px solid $sul-availability-table-cell-border;
      }

      &.location-info th {
        font-weight: normal;
      }
    }
  }
}

.note-highlight {
  padding: 2px 5px;
  background-color: $citrine-white;
}

.panel-library-location {
  .availability {
    margin-top: 4px;
    margin-bottom: 15px;
  }
}

.results-metadata-section {
  .availability {
    td:first-child {
      padding-left: 15px !important;
    }
  }
}

.availability {
  width: 100%;

  tr td:first-child {
    width: 60%;
  }

  td {
    padding: 2px 5px 5px 0;
    vertical-align: top;
  }
}

.availability-icon-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25rem;
}

.status-text {
  color: $sul-availability-status-text-color;
  font-size: .937em;
}

.temporary-location {
  color: $sul-availability-notice-color;
}

.availability-item {
  border-top: 1px solid $sul-availability-table-cell-border;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &>.callnumber {
    flex-grow: 1;
  }

  &>.public-note {
    order: 2;
    width: 100%;
  }

  &>.item-availability {
    text-align: right;
  }
}
