.availability {
  .availability-icon {
    width: 1.2em;
  }
  .status-text {
    color: $sul-availability-status-text-color;
    font-size: 0.9em;
    margin-right: 0.5em;
  }
  .current-location {
    color: $sul-availability-current-location-color;
    margin-right: 0.5em;
  }
  .note-highlight {
    padding: 2px 5px;
    background-color: $public-note-yellow;
    &.bound-with-note {
      margin-left: 10px;
    }
  }
}
