.toggle-bookmark span {
  font-size: 0.9em;
}

.index-document-functions {
  text-align: right;
}

label {
  &.toggle-bookmark {
    min-width: 0;
  }
}

#select_all-dropdown {
  min-width: 7.5em;
  text-align: left;

  .unselect-all {
    display: none;
  }

  .select-all, .unselect-all {
    i.fa {
      margin-right: 2px;
    }
  }
}

.selections-nav {
  h2 {
    border-bottom: 0;
    display: inline;
  }

  a:hover, a:focus, a:active {
    border: 1px solid transparent;
  }
}
