.breadcrumb {
  margin-bottom: 0;
  background: none;
  border: none;
  .constraints-container {
    margin-bottom: 0;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
