.breadcrumb {
  background: none;
  border: none;
  margin-bottom: 0;
  padding: 0;

  .constraints-container {
    background: none;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    padding: 15px 0;
    -webkit-box-shadow: none;
  }
}
