.brief-document {
  @include document;
  margin-bottom: -1px;
  padding-left: 20px;

  h3.index_title {
    @include h3-index-title-small-font;
    word-wrap: break-word;
  }

  .sul-icon {
    margin-left: -20px;
  }

  .btn-preview {
    &:after {
      font-family: FontAwesome;
      content: " \f0da";
    }
    &.preview-open:after {
      font-family: FontAwesome;
      content: " \f0d7";
    }
    margin-top: 4px;
  }

  h3.preview-title {
    margin-left: -26px;
  }

  .index-document-functions {
    text-align: left;
  }
}

.brief-container{
  margin-left: 0px;
  margin-right: 0px;
  ul {
    li {
      color: $cool-grey;
      font-size: .937em;
    }
  }
}

.brief-preview-container {
  margin-top: 15px;
  margin-bottom: 10px;
  display: none;

  &.preview {
    display: block;
  }
}
