.brief-document {
  @include document;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  h3.index_title {
    @include h3-index-title-font;
    @include h3-index-title-small-font;
    text-indent: -20px;
  }

  .preview {
    border-radius: 0;
    border-width: 0;
    margin-top: 0;
    padding: 0;
  }

  .btn-preview {
    &:after {
      font-family: FontAwesome;
      content: " \f0da";
    }
    &.preview-open:after {
      font-family: FontAwesome;
      content: " \f0d7";
    }
    margin-top: 4px;
  }

  .dl-horizontal dt {
    width: auto;
  }

  h3.preview-title {
    margin-left: -26px;
  }

  .preview-button-container {
    position: absolute;
    bottom: 0px;
  }

  .index-document-functions{
    margin-left: -40px;
  }
}

.brief-container{
  margin-left: 0px;
  margin-right: 0px;
  ul {
    li {
      color: $cool-grey;
      font-size: 0.9em;
    }
  }
}

.brief-preview-container {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media (min-width: $screen-md-min) {
  .brief-document {
    .index-document-functions {
      margin-bottom: 25px;
    }
  }
}
