.brief-document {
  @include document;

  h3.index_title {
    @include h3-index-title-font;
    @include h3-index-title-small-font;
    text-indent: -20px;
  }

  .preview {
    border-radius: 0;
    border-width: 0;
    margin-top: 0;
    padding: 0;
  }

  .btn-preview {
    &:after {
      font-family: FontAwesome;
      content: " \f0da";
    }
    &.preview-open:after {
      font-family: FontAwesome;
      content: " \f0d7";
    }
    margin-top: 4px;
  }

  .dl-horizontal dt {
    width: auto;
  }

  h3.preview-title {
    margin-left: -26px;
  }
}

.brief-container{
  margin-left: 0px;
  margin-right: 0px;
}
