.callnumber button.collapsed {
  @extend .btn;
  @extend .btn-default;
}

.callnumber button {
  @extend .btn;
  @extend .btn-default;
}

.view-full-page {
  line-height: 3em;
  text-align: right;
}

@media screen and (max-width: $screen-md) {
  .view-full-page {
    line-height: normal;
    text-align: left;
  }
}


.embed-callnumber-browse-container {
  background-color: $white;
  border: 1px solid $sul-browse-nearby-container-border;
  height: auto;
  margin-top:15px;
  overflow: hidden;
  padding-top: 17px;
  position: relative;

  .embedded-items {
    width: 100%;
    height: 430px;
  }

  a.embed-browse-control {
    border-bottom: 0;
  }

  .left.embed-browse-control, .right.embed-browse-control {
    background-color: $sul-browse-nearby-control-bg;
    background-image: none;
  }

  .gallery {
    height:100%;
    width:100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 15px;

    .end-refresh {
      position: relative;
      float: left;
      display: inline;
      top: 170px;
      bottom: 150px;
      left: 500px;
    }
    .gallery-document .browse-link a {
      border-bottom: 0;
      display: inline-block;
      font-size: $font-size-h2;
      padding: 15px;
      position: relative;
      top: 150px;
      @extend .lead;
      @extend .text-center;
    }

    .gallery-document .browse-link a:after{
      content: " \f053";
      font-family: FontAwesome;
      vertical-align: middle;
    }

    .gallery-document:last-child .browse-link a:after{
      content: " \f054";
      font-family: FontAwesome;
    }

    .gallery-document {
      white-space: normal;
      float: none;
      display: inline-block;
      vertical-align: top;

      &:hover {
        border-color: $cardinal-red;
        box-shadow: 0 0 14px gray;
      }

      &.current-document {
        border: 2px solid  $cardinal-red;
        box-shadow: 0 0 14px gray;
      }
    }
  }
}

.embed-browse-control{
  @extend .carousel-control;
  top: 0px;
  bottom: 0px;
  opacity: 0.65;
  width: 5%;
}

.record-browse-nearby {

  .panel {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    margin: 15px 0;
    border-top: 1px solid #e3dfd5;
    border-bottom: 1px solid #e3dfd5;
  }

  .panel-body {
    padding-left: 0;
  }
}
