.callnumber a.collapsed{
  @extend .btn;
  @extend .btn-default;
}
.callnumber a{
  @extend .btn;
  @extend .btn-primary;
}
.callnumber a:after{
  content: " \f0d7";
	font-family: FontAwesome;
}
.callnumber a.collapsed:after{
  content: " \f0da";
  font-family: FontAwesome;
}

.embed-callnumber-browse-container {
  background-color: $white;
  border: 1px solid $sul-browse-nearby-container-border;
  height: auto;
  margin-top:15px;
  overflow: hidden;
  padding-top: 17px;
  position: relative;

  .embedded-items {
    width: 20000px;
    height: 430px;
  }

  a.embed-browse-control {
    border-bottom: 0;
  }

  .left.embed-browse-control {
    @include gradient-horizontal($start-color: rgba($sul-browse-nearby-container-gradient-bg,.5), $end-color: rgba($sul-browse-nearby-container-gradient-bg,.0001));
  }

  .right.embed-browse-control {
    @include gradient-horizontal($start-color: rgba($sul-browse-nearby-container-gradient-bg,.0001), $end-color: rgba($sul-browse-nearby-container-gradient-bg,.5));
  }

  .gallery {
    position: relative;

    .end-refresh{
      position: relative;
      float: left;
      display: inline;
      top: 170px;
      bottom: 150px;
      left: 500px;
    }
    .gallery-document .browse-link a {
      border-bottom: 0;
      display: inline-block;
      font-size: $font-size-h2;
      padding: 15px;
      position: relative;
      top: 150px;
      @extend .lead;
      @extend .text-center;
    }

    .gallery-document .browse-link a:after{
      content: " \f0a8";
      font-family: FontAwesome;
      vertical-align: middle;
    }

    .gallery-document:last-child .browse-link a:after{
      content: " \f0a9";
      font-family: FontAwesome;
    }
  }
}

.embed-browse-control{
  @extend .carousel-control;
  top: 0px;
  bottom: 0px;
  width: 5%;
}

.record-browse-nearby {
  margin: 15px 0 10px 0;
  padding: 15px 0;
  
  h2 {
    display: inline;
    vertical-align: middle;
    border-bottom: none;
  }

  .panel {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    margin: 15px 0;
    border-top: 1px solid #e3dfd5;
    border-bottom: 1px solid #e3dfd5;
  }

  .panel-body {
    padding-left: 0;
  }
}
