.callnumber a{
  @extend .label;
  @extend .label-primary;
}
.callnumber a.collapsed{
  @extend .label;
  @extend .label-default;
}

.embed-callnumber-browse-container{
  position: relative;
  height: 430px;
  overflow: hidden;
  margin-top:15px;
  padding-top: 17px;
  margin-left:30px;
  margin-right: 30px;
  border: 2px solid $panel-default-border;
  .embedded-items{
    width: 20000px;//($gallery-document-width + 10) * 9;
    height: 430px;
  }
  .gallery {
    position: relative;

    .end-refresh{
      position: relative;
      float: left;
      display: inline;
      top: 170px;
      bottom: 150px;
      left: 500px;
    }
    // .gallery-document:last::after{
    //   font-family: FontAwesome;
    //   content: "\f021";
    // }
  }
}

.embed-browse-control{
  @extend .carousel-control;
  top: 0px;
  bottom: 0px;
  width: 8%;


}
