.browse-toolbar {
  background-color: $sul-toolbar-bg;
  color: $sul-toolbar-color;
  font-size: $font-size-h3;
  padding: 10px;

  ul li a {
    border-bottom: 0px;

    i.active-icon {
      margin-left: -17px;
    }
  }
}

.record-browse-nearby {
  margin-bottom: 15px;
  padding: 0;

  h2 {
    span.sul-icon {
      font-size: 15px;
      margin-right: 5px;
    }
  }
  .callnumber {
    margin-left: 10px;
    line-height: 3em;
  }
}

@media only screen and (max-width : $screen-sm) {
  .record-browse-nearby {
    .callnumber {
      display: block;
      margin: 10px 10px 0 0;
    }
  }
}
