.view-full-page {
  line-height: 3em;
  text-align: right;
}

@include media-breakpoint-down(md) {
  .view-full-page {
    line-height: normal;
    text-align: left;
  }
}


.embed-callnumber-browse-container {
  background-color: $white;
  border: 1px solid $sul-browse-nearby-container-border;
  margin-top: 15px;
  overflow: hidden;
  padding-top: 17px;

  .embedded-items {
    // prevent reflow weirdness while the items are being loaded
    height: 430px;
  }

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 15px;

    .gallery-document .browse-link a {
      border-bottom: 0;
      display: inline-block;
      font-size: $h2-font-size;
      padding: 15px;
      position: relative;
      top: 150px;
      @extend .lead;
      @extend .text-center;
    }

    .gallery-document .browse-link a:after{
      content: " \f053";
      font-family: FontAwesome;
      vertical-align: middle;
    }

    .gallery-document:last-child .browse-link a:after{
      content: " \f054";
      font-family: FontAwesome;
    }

    .gallery-document {
      &:hover {
        border-color: $cardinal-red;
        box-shadow: 0 0 14px gray;
      }

      &.current-document {
        border: 2px solid  $cardinal-red;
        box-shadow: 0 0 14px gray;
      }
    }
  }
}

.record-browse-nearby {

  .card {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    margin: 15px 0;
    border-top: 1px solid #e3dfd5;
    border-bottom: 1px solid #e3dfd5;
  }

  .card-body {
    padding-left: 0;
  }
}
