.browse-toolbar {
  background-color: $sul-toolbar-bg;
  color: $sul-toolbar-color;
  font-size: $h3-font-size;
  padding: 10px;

  .dropdown-menu {
    @include toolbar-dropdown;
  }
}

.record-browse-nearby {
  margin-bottom: 15px;
  padding: 0;

  h2 {
    span.sul-icon {
      font-size: 15px;
      margin-right: 5px;
    }
  }
  .callnumber {
    margin-left: 10px;
    line-height: 3em;
  }
}

@include media-breakpoint-down(sm) {
  .record-browse-nearby {
    .callnumber {
      display: block;
      margin: 10px 10px 0 0;
    }
  }
}
