.browse-toolbar {
  background-color: $sul-toolbar-bg;
  color: $sul-toolbar-color;
  font-size: $h3-font-size;
  padding: 10px;
}

.record-browse-nearby {
  margin-bottom: 15px;
  padding: 0;

  h2 {
    .sul-icon svg {
      height: 15px;
    }
  }

  .btn-callnumber {
    line-height: 3em;
    margin-left: 10px;
  }
}
