$btn-preview-color: $white;
$btn-preview-bg: $sul-btn-preview-bg;
$btn-preview-border: darken($sul-btn-preview-bg, 9.8%);

.btn-preview {
  @include button-variant($btn-preview-color, $btn-preview-bg, $btn-preview-border);
}

.btn-link, .btn-link:hover, .btn-link:focus {
  color: $sul-link-color;
  text-decoration: none;
}

.btn-topbar-menu {
  color: $white;
  background: $cardinal-red;
  border: none;
}

.btn-sul-toolbar {
  color: $btn-sul-toolbar-bar-color;
  background-color: transparent;
  margin: 0 5px;
  padding: 3px 5px;
  text-transform: uppercase;
  & a {
    text-transform: uppercase;
    color: $btn-sul-toolbar-bar-color;
    border-bottom: none;
  }

  &.disabled {
    border: none;
  }

  &:hover, &:focus, &:active {
    color: $btn-sul-toolbar-bar-color;
    background-color: $btn-sul-toolbar-bar-hover-bg
  }
}
