.btn-primary {
  background-color: $sul-btn-primary-bg;
  border-color: $sul-btn-primary-border;
}
.btn-primary {
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle{
    background: darken($sul-btn-primary-bg, 5%);
    border-color: darken($sul-btn-primary-border, 10%);
  }
}

.btn-link, .btn-link:hover, .btn-link:focus {
  color: $sul-link-color;
  text-decoration: none;
}
