$btn-preview-color: $white;
$btn-preview-bg: $sul-btn-preview-bg;
$btn-preview-border: darken($sul-btn-preview-bg, 9.8%);

.btn-preview {
  @include button-variant($btn-preview-color, $btn-preview-bg, $btn-preview-border);
}

.btn-link, .btn-link:hover, .btn-link:focus {
  color: $sul-link-color;
  text-decoration: none;
}

.btn-sul-toolbar {
  color: $btn-sul-toolbar-bar-color !important;
  background-color: $btn-sul-toolbar-bar-bg;
  margin: 0 5px;
  padding: 3px 5px;
  border: none;

  & a {
    color: $btn-sul-toolbar-bar-color;
    border-bottom: none;
  }

  &.disabled {
    border: none;
    color: rgba($sul-btn-disabled-color, $sul-btn-disabled-opacity);
  }

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
}

a.btn-sul-toolbar {
  border-bottom: none;
}

.btn-zero-results {
  @include button-variant($sul-link-color, transparent, $cardinal-red);
  border-radius: $sul-constraint-btn-radius;
  &:hover,:focus {
    text-decoration: underline;
  };
}
