$btn-preview-color: $white;
$btn-preview-bg: $sul-btn-preview-bg;
$btn-preview-border: darken($sul-btn-preview-bg, 9.8%);

.btn-preview {
  @include button-variant($btn-preview-color, $btn-preview-bg, $btn-preview-border);
}

.btn-link, .btn-link:hover, .btn-link:focus {
  color: $sul-link-color;
  text-decoration: none;
}
