.clear-input-text {
  color: $driftwood;
  cursor: pointer;
  font-size: 20px;
  padding: 0 12px 0 5px;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 10000;

  :hover {
    color: $cardinal-red;
  }
}
