.async-collection-members {
  padding: 0;
}

.async-placeholder {
  padding-top: 1em;
  height: 130px;

  h3 {
    background-color: $light-grey;
    border-radius: 5px;
    height: $h3-font-size;
  }

  p {
    background-color: $light-grey;
    border-radius: 5px;
    height: $font-size-base;
  }
}
