.collection-result-preview {
    float:left;
    width:100%;
}

#document {
    .collection-result-preview {
        .label-items-online {
            font-size: 1.2em;
            font-weight: normal;
            padding: 0.5em 0;
            display: inline-block;
            color: black;
            span {
                @include link-styling;
            }
        }
    }
}

.async-placeholder {
  height: 130px;

  h3 {
    background-color: $light-grey;
    border-radius: 5px;
    height: $font-size-h3;
  }

  p {
    background-color: $light-grey;
    border-radius: 5px;
    height: $font-size-base;
  }
}
