.collection-result-preview {
    width:100%;
}

.async-collection-members {
  clear: left;
}

.async-placeholder {
  height: 130px;

  h3 {
    background-color: $light-grey;
    border-radius: 5px;
    height: $font-size-h3;
  }

  p {
    background-color: $light-grey;
    border-radius: 5px;
    height: $font-size-base;
  }
}
