.constraints-container {
  .btn-reset span {
    font-size: $h4-font-size;
    font-variant: all-small-caps;
    line-height: $h4-font-size;
  }

  span.constraint.btn-group {
    span.constraint-value.btn {
      border-top-left-radius: $sul-constraint-btn-radius;
      border-bottom-left-radius: $sul-constraint-btn-radius;
      font-size: $font-size-base;
      &:hover {
        border-color: $cloud; // override blacklight
      }
    }

    a.btn.remove {
      border-top-right-radius: $sul-constraint-btn-radius;
      border-bottom-right-radius: $sul-constraint-btn-radius;
      font-size: 12px;
      padding-left: 4px;
      padding-top: 8px;
      padding-bottom: 5px;
    }

  }
  @include media-breakpoint-down(sm) {
    .constraint {
      &.query .filter-value {
        max-width: 227px;
      }
      &.filter .filter-value {
        max-width: 150px;
      }
      .filter-value {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: -6px;
      }
    }
  }
}
