#course-reserves-browse_wrapper {
  .dataTables_filter {
    float: left;
  }
  .dataTables_paginate {
    float: left;
  }
  .dataTables_info {
    float: right;
  }
  .dataTables_length {
    float: right;
  }
}
