.dataTables_wrapper {
  .table-top-bar {
    color: $white;
    padding: 0.6rem 1.5rem;
    @include sul-toolbar-bg-border;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    label {
      margin-bottom: 0;
    }

    .dataTables_info {
      padding-top: 0;
    }
  }

  .dataTable {
    margin-top: 0 !important;

    // Override dataTables to restore bootstrap styling
    &.table-striped > tbody > tr:nth-of-type(2n+1) {
      background-color: $table-accent-bg;
      &>* {
        box-shadow: none;
      }
    }
  }


  .dataTables_paginate {
    padding-top: 38px;
    padding-bottom: 38px;
    .active {
      span {
        // This fixes a bug in datatables, where the active page doesn't have the page-link class.
        @extend .page-link;
      }
    }
  }
}