#course-reserves-browse_wrapper {
  .dataTables_filter {
    float: left;
  }
  .dataTables_paginate {
    float: left;
  }
  .dataTables_info {
    float: right;
  }
  .dataTables_length {
    float: right;
  }
}

.table-top-bar {
  color: $white;
  margin-left: 0;
  margin-right: 0;
  padding-top: 6px;
  @include sul-toolbar-bg-border;
}

#course-reserves-browse_paginate {
  padding-top: 38px;
  padding-bottom: 38px;
}
