.table-top-bar {
  color: $white;
  padding: 0.6rem 1.5rem;

  @include sul-toolbar-bg-border;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  label {
    margin-bottom: 0;
  }

  div.dataTables_length select {
    margin-right: 0.2em;
  }

  .dataTables_info {
    padding-top: 0;
  }
}

#course-reserves-browse_paginate {
  padding-top: 38px;
  padding-bottom: 38px;
}
