table.dataTable thead {
  .sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
    background: none;

    &:after {
      font-family: FontAwesome;
    }
  }
  .sorting:after {
    content: "\f0dc"
  }
  .sorting_asc:after {
    content: "\f0de"
  }
  .sorting_desc:after {
    content: "\f0dd"
  }
  .sorting_asc_disabled:after {
    color: $gray;
    content: "\f0de"
  }
  .sorting_desc_disabled:after {
    color: $gray;
    content: "\f0dd"
  }
}
