.panel-group .facet_limit {
  margin-bottom: 7px;
}
.facet_limit {
  ul {
    margin-bottom: 0;
    li {
      .remove {
        color: $gray;
        border-bottom: none;
      }
    }
  }
  .panel-heading {
    h3 {
      font-weight: 400;
    }
  }
  &.facet_limit-active .panel-heading {
    background: $sul-facet-active-bg;
    border-bottom: 1px solid $sul-facet-active-border;
  }
}
