#sidebar, #facets {
  @media screen and (max-width: $screen-sm-min) {
    padding-bottom: 0;
  }
}
#facets {
  .top-panel-heading {
    border: 0;
    .facets-toggle {
      margin-top: -10px;
    }
    @media screen and (max-width: $screen-sm-min) {
      margin-bottom: 0;
    }
  }
}
.panel-group .facet_limit {
  margin-bottom: 7px;
}
.facet_limit {
  ul {
    margin-bottom: 0;
    li {
      .remove {
        color: $gray;
        border-bottom: none;
      }
    }
  }
  .panel-heading {
    h3 {
      font-weight: 400;
    }
  }
  &.facet_limit-active .panel-heading {
    background: $sul-facet-active-bg;
    border-bottom: 1px solid $sul-facet-active-border;
    color: $sul-facet-active-heading-color;
  }
}

#sidebar #facets ul.facet-hierarchy {
  &, ul {
    padding-left: 0;
  }
  li.h-node {
    list-style-image: none;
    list-style-type: none;
    padding-left: 1.2em;
    &.twiddle {
      &:before{
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.2em;
        width: 1.2em;
        content: '\f196';
      }
    }
    &.twiddle-open {
      list-style-image: none;
      list-style-type: none;
      &:before {
        content: "\f147";
      }
    }
  }
}
