.facet-options {
  position: relative;

  a {
    border-bottom: 0;
  }

  .loading-spinner {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.checkbox-facet-list {
    --link-decoration-line: none;

    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
