.facet-field-heading {
  background-color: $cloud;
  border-bottom: 1px solid $cloud;

  .btn {
    font-size: 1rem;
    padding-left: 1rem !important;
  }
}

.facet-values li .selected {
  color: rgb(var(--bs-success-rgb));
}

.facet-limit-active {
  border-color: rgba(0, 0, 0, 0.125) !important;
}

.facet-limit-active .card-header {
  background-color: #8ab8a7 !important;
  border-bottom: 1px solid #417865;
}

.facet-limit-active .card-header .btn {
  color: $stanford-black;
}

.facet-limit {
  // override Blacklight, which has rounded facets
  border-radius: 0;
  .card-header {
    border-radius: 0;
    .btn {
      border-radius: 0; // Apparent with the :focus style
    }
  }
  margin-bottom: 0.5rem;
}

.facet-hierarchy {
  --link-decoration-line: none;
}

facet-filters:not(:has(*)) {
  display: none !important;
}
