.facet_limit .panel-heading {
  background: $sul-facet-bg;
  border-bottom: 1px solid $sul-facet-border;
}
.facet_limit.facet_limit-active .panel-heading {
  background: $sul-facet-active-bg;
  border-bottom: 1px solid $sul-facet-active-border;
}
