.librarian-chat{
  padding-bottom: 30px;
}

.quick-report{
  padding-top: 30px;
}

.btn-quick-report{
  white-space: normal;
  max-width: 100px;
  font-size: $font-size-small;
}

.cancel-link{
  margin-left:12px;
}

#feedback-form{
  border-bottom: 3px solid $sul-search-navbar-bg-color;
}
