.librarian-chat {
  padding-bottom: 12px;

  .btn {
    margin-top: -3px;
    padding-left: 0;
  }
}

.quick-report{
  padding-top: 30px;
}

.btn-quick-report{
  white-space: normal;
}

.cancel-link .btn .btn-link {
  margin-left:12px;
}

#feedback-form{
  border-bottom: 3px solid $sul-toolbar-border;
  margin-top: 25px;

  div.col-sm-4 {
    margin-top: 25px;
  }
}

.reporting-from-field {
  overflow-wrap: break-word;
}
