.librarian-chat{
  padding-bottom: 30px;
}

.quick-report{
  padding-top: 30px;
}

.btn-quick-report{
  white-space: normal;
  max-width: 100px;
  font-size: $font-size-small;
}

.cancel-link .btn .btn-link {
  margin-left:12px;
  border-bottom: none;
}

#feedback-form{
  border-bottom: 3px solid $sul-toolbar-border;
}

.feedback-alert {
  color: rgb(204, 0, 0);
  font-size: 1.2em;
  padding: 10px;
  border: 1px solid rgb(204, 0, 0);
  margin: 10px 0pt;
}

.reporting-from-field {
  overflow-wrap: break-word;
}
