.file-collection-members {
  background: $white;
  border-bottom: 1px solid $sul-panel-border;
  border-top: 1px solid $sul-panel-border;
  clear: both;
  margin-bottom: 15px;
  padding: 20px 5px;
  position: relative;

  .file-item {
    margin: 0 0 8px 0;

    .file-icon {
      font-size: 20px;
      padding: 2px 6px 0 5px;
      text-align: center;
      width: 20px;
    }

    .file-title {
    }
  }

  .collection-all-items-link {
    margin-left:4px;
    span {
      color: #666;
    }

    &:hover {
      span {
        color:black;
      }
    }
  }

}
