.file-collection-members {
  clear: both;
  position: relative;
  padding-top: 5px;

  .file-item {
    margin: 0 0 8px 0;
  }

  .collection-all-items-link {
    margin-left:4px;
    span {
      color: #666;
    }

    &:hover {
      span {
        color:black;
      }
    }
  }

}
