.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item-thumb {
    align-items: flex-end;
    display: flex;
    height: $sul-gallery-cover-height;
    justify-content: center;
  }

  .callnumber-bar {
    background-color: $sul-gallery-callnumber-bar-bg;
    color: $sul-gallery-callnumber-bar-color;
    height: 42px;
    font-weight: 400;
    font-size: .937em;
    padding: 3px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .gallery-document {
    @include document-borders;
    margin: 0 0 25px 15px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    min-width: $gallery-document-width;
    width: $gallery-document-width;
    height: $gallery-document-height;

    h3.index_title {
      @include h3-index-title-small-font;
      margin: .5em;
      overflow: hidden;
      text-align: center;
      --link-decoration-line: none;
      .three-lines {           
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 2px; // So we can see the text-decoration on the link.
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    .btn-preview {
      &:after {
        font-family: FontAwesome;
        content: " \f0da";
      }
      &.preview-open:after {
        font-family: FontAwesome;
        content: " \f0d7";
      }
    }
  }

  .caption {
    flex-grow: 1;
  }

  .document-counter {
    display: none;
  }

  div.gallery-buttons {
    align-items: baseline;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;

    form {
      font-size: 0.937em;
    }

    .checkbox {
      padding-top: 0;
    }

    input.toggle-bookmark {
      margin-top: 2px;
    }
  }

  .stacks-image {
    max-width: $gallery-document-width - 2;
    max-height: $sul-gallery-cover-height;
  }
  img.cover-image {
    max-height: $sul-gallery-cover-height;
    margin: 0 auto;
  }
}

span.fake-cover:not([hidden]) {
  width: 130px;
  height: $sul-gallery-cover-height;
  margin: 0 auto;
  display: flex;
  background: $sul-gallery-fakecover-bg;
  border: 1px solid $sul-gallery-fakecover-border;
  align-items: center;
  justify-content: center;
}

div.fake-cover-text {
  color: $clay;
  font-variant: all-small-caps;
  padding: 4px;
  max-height: 7.3em;
  overflow: hidden;
  text-align: center;
}
