.gallery {
  .item-thumb {
    height: $sul-gallery-cover-height;
    width: $gallery-document-width - 2;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
  }

  .callnumber-bar {
    background-color: $sul-gallery-callnumber-bar-bg;
    color: $sul-gallery-callnumber-bar-color;
    height: 42px;
    font-weight: 400;
    font-size: .937em;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: $gallery-document-width - 2;
  }

  .caption {
    padding-left: 0px;
    padding-right: 0px;
  }

  .gallery-document {
    @include document-borders;
    position: relative;
    margin: 0 0 25px 15px;
    float: left;
    display: inline;
    background-color: $white;
    width: $gallery-document-width;
    height: $gallery-document-height;

    h3.index_title {
      @include h3-index-title-font;
      @include h3-index-title-small-font;
      margin: .5em;
      text-align: center;
    }

    .btn-preview {
      &:after {
        font-family: FontAwesome;
        content: " \f0da";
      }
      &.preview-open:after {
        font-family: FontAwesome;
        content: " \f0d7";
      }
    }
  }

  .document-counter {
    display: none;
  }

  div.gallery-buttons {
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 2px;
    display: inline-block;

    .preview-button {
      position: absolute;
      margin-left: 8px;
      margin-bottom: 3px;
    }

    form {
      position: absolute;
      left: 106px;
      font-size: .937em;

      .toggle_bookmark {
        bottom: 4px;
      }
    }
  }
  .stacks-image {
    max-width: $gallery-document-width - 2;
    max-height: $sul-gallery-cover-height;
  }
  img.cover-image {
    max-height: $sul-gallery-cover-height;
    margin: 0 auto;
  }
}

span.fake-cover {
  width: 130px;
  height: $sul-gallery-cover-height;
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: block;
  background: $sul-gallery-fakecover-bg;
  border: 1px solid $sul-gallery-fakecover-border;
}

div.fake-cover-text-wrapper {
  width: 130px;
  height: $sul-gallery-cover-height;
  display: table-cell;
  vertical-align: middle;
}

div.fake-cover-text {
  color: $clay;
  font-variant: all-small-caps;
  padding: 4px;
  max-height: 7.3em;
  overflow: hidden;
}

.view-icon-slideshow {
  &:before { content: "\e158"; }
}
