#global-footer {
  box-shadow: none;
  max-height: none;

  @include media-breakpoint-down(md) {
    height: auto;
    min-height: 196px;
    text-align: center;

    .copyright {
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    min-height: 213px;
  }
}
