.home-page-column h2 {
  border-bottom: 1px solid $sul-h2-border-color;
  color: $sul-h2-font-color;
}

.features {
  .media {
    img.media-object {
      max-width: 95px;
      @media only screen and (max-width: $screen-sm) {
        max-width: 50px;
      }
    }
  }
}

.home-page-column {
  margin-top: 15px;
  .media-heading {
    font-size: 1.1em;
  }
  padding-left: 0;
  &.articles-help {
    padding-right: 0;
  }
  .external-link-icon {
    @extend .fa;
    @extend .fa-external-link;
    font-size: 0.9em;
    margin-left: 2px;
  }
  &.features {
    @media only screen and (max-width: $screen-md) {
      padding-right: 0;
    }
  }
  @media only screen and (max-width: $screen-sm) {
    padding-right: 0;
  }
}
