.home-page-facets h2, .home-page-featured h2 {
  border-bottom: 1px solid $sul-h2-border-color;
  color: $sul-h2-font-color;
}

@media only screen and (min-width : 768px) {
  .home-page-facets {
    padding-left: 0;

    .col-facets:first-of-type {
      padding-left: 0;
    }

    .col-facets:last-of-type {
      padding-right: 0;
    }
  }

  .home-page-featured {
    padding-right: 0;
  }
}

@media only screen and (max-width : 768px) {
  .home-page-facets {
    .col-facets {
      padding: 0;
    }
  }
}
