.article-home-page, .catalog-home-page, .home-page-bento {
  h2, h3, h4 {
    font-weight: 400;
  }

  // This is suboptimal, but we want this particular h2 to be styled
  // exactly like an h1 (but not the others on this page)
  .h1 {
    color: $sul-h1-font-color;
    font-weight: 300;
    line-height: 1.2em;
    padding: 10px 0;
  }
}

.article-home-page {
  .home-settings {
    label {
      font-weight: bold;
    }

    .setting-tip {
      margin-left: 17px;
      margin-top: 0;
    }
  }

  .home-page-tips {
    .card-header {
      color: $cardinal-red;
    }

    dt {
      font-size: $h4-font-size;
      width: 100%;
    }
  }
}

.catalog-home-page {
  .features {
    a:has(h3) {
      --link-decoration-line: none;
      --link-hover-decoration-line: none;
    }

    img {
      height: 100px;
      margin-right: 12px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.home-page-bento {
  --link-decoration-line: none;

  h3, p {
    padding: 2px 10px;
  }

  h3 {
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .home-page-you-are-here {
    &.card {
      // A glowing border
      border: none;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(233,131,0,1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(233,131,0,1);
      box-shadow: 0px 0px 10px 0px rgba(233,131,0,1);
      position: relative;
    }

    .you-are-here-badge {
      left: -10px;
      top: -10px;
      background-color: $mint;
      color: $white;
      padding: 4px;
      position: absolute;
    }
  }

  .home-page-search-tools {
    .media-object {
      width: 40px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .home-page-search-all {
    .media-object {
      font-size: 3.5em;
    }
  }
}
