.home-page-facets h2, .home-page-featured h2 {
  border-bottom: 1px solid #e3dfd5;
  color: #8c1515;
}

@media only screen and (min-width : 768px) {
  .home-page-facets {
    padding-left: 0;

    .col-facets:first-of-type {
      padding-left: 0;
    }

    .col-facets:last-of-type {
      padding-right: 0;
    }
  }
}

@media only screen and (max-width : 768px) {
  .home-page-facets {
    .col-facets {
      padding: 0;            
    }
  }
}
