#document {
  .image-filmstrip {
    margin-bottom: 5px; // Give a little extra margin on the record view
  }
}

.image-filmstrip {
  border: 1px solid $sul-filmstrip-border;
  background-color: $sul-filmstrip-bg;
  bottom: 0;
  box-sizing: border-box;
  position: relative;
  width: 95%;
  -moz-border-sizing: border-box;

  .viewport {
    clear: both;
    overflow-x: scroll;
    padding: 10px 0 10px 0;

    ul.container-images {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      li {
        margin-left: 5px;
        margin-right: 5px;
        position: relative;

        img {
          width: 100px;
          height: 100px;
          object-fit: contain;
          border-width: 0;
          background-color: #ddd;
          min-height: 100px;
        }

        .img-label {
          color: #666;
          font-size: x-small;
          line-height: 1em;
          margin: 0 auto;
          overflow: hidden;
          padding: 4px 5px;
          text-align: center;
          width: 80%;
        }

        a.collection-all-items-link {
          line-height:1.5em;
        }
      }

      li:first-child {
        margin-left: 0;
      }
    }
  }

  .preview {
    margin-bottom: 10px;
  }
}
