.image-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.image-icon-message-away {
  background-image: url("message-away.png");
}

.image-icon-message-available {
  background-image: url("message-available.png");
  vertical-align: bottom;
}

.image-icon-ask-us {
  background-image: url("ask-us.png");
}

.image-icon-interlibrary-borrowing {
  background-image: url("interlibrary-borrowing.png");
}

.image-icon-search-tools {
  background-image: url("search-tools.png");
}
