.last-updated { 
  margin-left: auto;
  align-self: center;
}
.last-updated + .blacklight-modal-close {
  margin-left: 0;
}

#marc_view {
  .field {
    word-break: break-all;
  }

  .item-details {
    caption {
      caption-side: top;
      background-color: $secondary;
    }
  }
}