*[class^='cc-'], *[class*='cc-'] {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 85px;
}
.cc-by {
  background-image: image_url('cc-by.png');
}
.cc-by-sa {
  background-image: image_url('cc-by-sa.png');
}
.cc-by-nd {
  background-image: image_url('cc-by-nd.png');
}
.cc-by-nc {
  background-image: image_url('cc-by-nc.png');
}
.cc-by-nc-sa {
  background-image: image_url('cc-by-nc-sa.png');
}
.cc-by-nc-nd {
  background-image: image_url('cc-by-nc-nd.png');
}
.cc-pdm {
  background-image: image_url('cc-pdm.png');
}

