.managed-purl {
  @include show-page-row-layout;
  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    border: 1px solid $white;
    display: flex;
    padding: 4px;
    gap: 8px;

    &.active {
      background: $beige-5-percent;
      border: 1px solid $sul-managed-purl-border;
    }

    &:hover,
    &:active {
      background: $beige-5-percent;
      border: 1px solid $sul-managed-purl-border-hover;
    }


    img {
      border: 1px solid transparent;
      object-fit: contain;
      align-self: flex-start;
    }

    button {
      background: none !important;
      border: 1px solid transparent;
      color: $sul-link-color;
      cursor: pointer;
      font: inherit;
      padding: 0 !important;
      text-align: left;

      &:hover, &:focus, &:active {
        @include link-styling;
      }
    }
  }
}

.managed-purl-panel {
  .managed-purl-heading {
    @include panel-heading($sul-managed-purl-panel-background, $sul-managed-purl-panel-font);
    height: 40px;
    padding: 10px;
  }

  .card-body {
    max-height: 430px;
    overflow-y: scroll;
  }
}

.managed-purl-embed {
  margin: -8px;
}
