#masthead {
  background-color: $sul-masthead-bg;
  border: 1px solid $sul-masthead-border;
  border-radius: 5px;
  margin: 15px 0;
  padding: 0 15px;

  h1 {
    margin: 0;
  }
  .inline-links {
    margin-top: 0.5em;
    a {
      margin: 0 0.5em;
      font-size: 1.1em;
    }
  }
  
  p a, li a {
    font-size: 1.1em;
  }
}
