#masthead {
  @include masthead-panel;

  margin: 25px 0 15px;
  padding: 0 15px;

  h1 {
    margin: 0;
  }

  .inline-links {
    margin-top: 0.5em;
    a {
      margin: 0 0.5em;
      font-size: 1.138em;
    }
  }

  .flexgrid {
    --link-decoration-line: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px 0;

    .col {
      border-left: 3px $cloud solid;
      flex: 1;
      margin-left: 10px;
      padding: 10px;
      a {
        font-size: 1.138em;
      }
    }

    div:first-of-type {
      margin-left: 0;
    }
  }

  @media only screen and (max-width: 576px) {
    .flexgrid {
      flex-direction: column;
      font-size: 1.138em;

      .col {
        a {
          font-size: 1.4em;
        }
      }

      div:first-of-type {
        margin-left: 10px;
      }
    }
  }

  .database-prefix {
    h2 {
      margin-bottom: 0;
    }
  }

  .collection-content {
    display: flex;

    .collection-summary {
      flex-basis: 100ch;
      flex-shrink: 2;
      margin-right: 30px;
    }

    .collection-metadata {
      flex-shrink: 1;
    }
  }
}
