.online-label {
  background-color: #008566;
  border: 1px solid #008E69;
  border-radius: 2px;
  color: $white;
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  padding: 0px 7px 2px 7px;
}
