ul.links {
  padding-left: 0;
  list-style-type: none;
}
.stanford-only {
  padding-right: 20px;
  background: image-url('sprite-links.png') no-repeat right top;
}
.sfx {
  padding-left: 20px;
  background: image-url('sfx.gif') no-repeat;
}
.online-label {
  @extend .label;
  @extend .label-success;
  background-color: $sul-accordion-online-bg;
  border: 1px solid $sul-accordion-online-border;
  padding: 0px 7px 2px 7px;
  font-size: 12px;
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
  letter-spacing: 0;
  border-radius: 2px;
}
