.pagination {
  .active > a, .pagination > .active > span {
    color: $white;
    background-color: $sul-pagination-active-bg;
    border-color: $sul-pagination-active-bg-border;
  }

  .disabled > span {
    color: rgba($sul-btn-disabled-color, $sul-btn-disabled-opacity);
  }
}
