.recaptcha {
  a {
    color: var(--stanford-digital-red);
    font-weight: 600;

    &:hover {
      --link-text-decoration-color: var(--stanford-digital-red-dark);
      color: var(--stanford-digital-red-dark);
    }
  }
}
