.record-toolbar {
  color: $sul-toolbar-color;
  font-size: 15px;

  &.sul-toolbar {
    border: none;
    @include sul-toolbar-bg-border;
  }

  .dropdown-menu {
    @include toolbar-dropdown;
    @include refworks-form;
  }

  .record-toolbar-tools ul {
    list-style-type: none;
    margin: 0;

    li {
      margin: 0;
    }

    .documentFunctions {
      margin-left: 20px;
    }

    .toggle-bookmark {
      min-width: 0;
    }
  }

  .btn-sul-toolbar {
    padding: 10px 5px;
    border: none;
  }

  .navbar-nav > li {
    a.btn-sul-toolbar {
      margin: 0 5px;
      border: none;
      &:hover, &:focus, &:active {
        color: $btn-sul-toolbar-bar-color;
        background-color: $btn-sul-toolbar-bar-bg;
      }
    }

    div.toggle-bookmark {
      color: $btn-sul-toolbar-bar-color;
      padding-top: 10px;
    }
  }

  .navbar-nav.ml-auto form.bookmark-toggle {
    padding-left: 10px;
  }
}

.sul-record-page-info {
  display: inline-block;
  margin: 0;
}

.sul-record-page-info-inner {
  text-align: center;

  .page-entries {
    vertical-align: middle;
  }
}

.back-to-results {
  border-radius: 0;
  display: inline-block;
}

// Select dropdown
div.record-toolbar > div > div > ul > li:nth-child(3) > form > div > label {
  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
}

@include media-breakpoint-down(sm) {
  .record-toolbar {
    .navbar-collapse {
      overflow-x: hidden;
    }

    .navbar-collapse > ul > li {
      text-align: right;
      padding-right: 40px;
      & a {
        text-align: right;
      }
      form {
        padding-right: 12px;
      }
    }
  }

}
