.record-toolbar {
  font-size: 15px;

  .dropdown-menu {
    @include toolbar-dropdown;
    @include refworks-form;
  }

  .btn-sul-toolbar {
    padding: 10px 5px;
    border: none;
  }

  .navbar-nav > li {
    // I think this is only the Cite link.
    a.btn-sul-toolbar {
      margin: 0 5px;
      border: none;
      &:hover, &:focus, &:active {
        color: $btn-sul-toolbar-bar-color;
        background-color: $btn-sul-toolbar-bar-bg;
      }
    }

    div.toggle-bookmark {
      padding-top: 10px;
    }
  }

  .navbar-nav.ml-auto form.bookmark-toggle {
    padding-left: 10px;
  }
}

.sul-record-page-info {
  display: inline-block;
  margin: 0;
}

.sul-record-page-info-inner {
  text-align: center;

  .page-entries {
    vertical-align: middle;
  }
}

.back-to-results {
  border-radius: 0;
  display: inline-block;
}

@include media-breakpoint-down(sm) {
  .record-toolbar {
    .navbar-collapse {
      overflow-x: hidden;
    }

    .navbar-nav .open .dropdown-menu > .dropdown-item {
      color: $white;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    .navbar-collapse > ul > li {
      text-align: right;
      padding-right: 40px;
      & a {
        text-align: right;
      }
      form {
        padding-right: 12px;
      }
    }
  }

}
