.record-sections {
  .section {
    padding-bottom: 0;
  }

  h3 {
    color: $smoke;
  }
}

.record-metadata,
.upper-record-metadata {
  @include show-page-row-layout;
}

.record-metdata {
  dt {
    width: auto;
  }
}

.upper-record-metadata {
  dt {
    padding-right: 30px;
    text-align: right;
    width: 10em;
  }
}

.article-record-sections {
  .fulltext-toggle-bar {
    border: 0;
    text-align: left;
    width: 100%;
  }

  .section-container-heading {
    background-color: $pantone-334;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px 15px;

    h2 {
      border-bottom: 0;
      color: white;
      margin: 0;
      font-size: 1.125em;
      font-weight: 400;
    }
  }
}

ul.toc {
  padding-left: 1.2em;
}
