.record-sections {
  .section {
    padding-bottom: 0;
  }
}

.record-metadata, .upper-record-metadata {
  @include show-page-row-layout;
  dt {
    width: auto;
  }
}

.article-record-sections {
  .fulltext-toggle-bar {
    border: 0;
    text-align: left;
    width: 100%;
  }

  .section-container-heading {
    background-color: #009B76;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px 15px;

    h2 {
      border-bottom: 0;
      color: white;
      margin: 0;
      font-size: 1.125em;
      font-weight: 400;
    }
  }
  dt {
    text-align: right;
  }
}
