.record-sections {
  .section {
    padding-bottom: 0;

    .section-heading h2 {
      i.fa {
        font-size: 15px;
        margin-right: 5px;
      }
    }
  }
}

.record-metadata, .upper-record-metadata {
  @include show-page-row-layout;

  dt {
    width: auto;
  }
}

.article-record-sections {
  dt {
    text-align: right;
  }
}
