.research-starter-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.research-starter-title {
  position: relative;
  font-size: 22px;
  font-variant: all-small-caps;
  font-weight: 400;
  color: $sul-research-starter-color;
  letter-spacing: 1px;
}

.research-starter-body {
  min-height: 110px;
}

.research-starter {
  border: 1px solid $sul-research-starter-color;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.2);
  padding: 10px 20px;
  --link-decoration-line: none;

  img {
    float: left;
    max-height: 100px;
    width: auto;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .research-starter-close-icon {
    border: none;
    position: relative;
    font-size: 2em;
    font-weight: 400;
    color: $sul-research-starter-color;
  }
}

.research-starter-show {
  .research-starter-label {
    margin-left: 10px;
    font-size: 22px;
    font-variant: all-small-caps;
    font-weight: 400;
    color: $sul-research-starter-color;
    letter-spacing: 1px;
  }
  .research-starter-source-title {
    margin-left: 30px;
  }
}

.research-starter-figure {
  padding: 12px;
  background-color: $white;
  border: 1px solid $cloud;
  margin-bottom: 20px;
  display: flex;

  img {
    max-height: 200px;
    width: auto;
    margin-right: 12px;
  }

  span {
    margin-top: 0.85em;
  }
}
