.research-starter:before {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: $sul-research-starter-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Topic overview";
}

.research-starter {
  border: 1px solid $sul-research-starter-color;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.2);

  h3, p {
    margin: 10px 20px;
  }

  img {
    max-height: 100px;
    width: auto;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .research-starter-close-icon {
    border: none;
    position: relative;
    top: -15px;
    right: 10px;
    float: right;
    font-size: 2em;
    font-weight: 400;
    color: $sul-research-starter-color;
  }
}

.research-starter-show {
  .research-starter-label {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: $sul-research-starter-color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .research-starter-source-title {
    margin-left: 30px;
  }
}

.research-starter-figure {
  padding: 12px;
  background-color: $white;
  border: 1px solid $cloud;
  margin-bottom: 20px;

  img {
    max-height: 200px;
    width: auto;
  }

  span {
    position: absolute;
    margin-right: 10px;
    padding: 12px;
  }
}
