#documents {

  .document {

    h5.index_title {
      font-size: 1.2em;
    }

    .document-metadata {
      list-style-type: none;
      padding-left: 0;
    }

    .main-title-date {
      color: #999;
    }

    .cover-image {
      display: none;
    }

  }

}