.result-title {
  font-size: 1.215em;
  padding-top: 10px;
}

.module-contents {
  ol { padding-left: 18px; }
}

.result-set-subheading {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.result {
  p {
    margin-bottom: .5rem;
  }
}

.see-all-results {
  text-align: right;

  .btn {
    white-space: normal;
  }
}

.description {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@include media-breakpoint-down(md) {
  .result-set-heading,
  .result-set-subheading {
    text-align: center;
  }

  .see-all-results .btn {
    display: block;
  }
}
