#documents {
  .document {
    @include document;


    h3.index_title {
      @include h3-index-title-font;

      span.sul-icon {
        margin-left: -24px;
      }
    }

    .cover-image-wrapper {
      margin: 0;
      padding: 0;
    }

    .cover-image {
      border: 1px solid #ddd;
      max-height: 150px;
    }
  }

  .main-title-date {
    color: $sul-main-title-date-color;
    font-size: .938em;
    white-space: nowrap;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .results-metadata-section {
    border-bottom: 1px solid $cloud;
    clear: left;
    margin: 0;
    padding: 10px 0;

    ul {
      list-style: none;
      padding-left: 0;
    }

    // Without this a dot is displayed before the first li
    li::marker {
        content: '';
    }
  }


  .results-metadata-section:last-child {
    border-bottom: 0;
  }
}

.document-metadata {
  list-style-type: none;
  padding-left: 0;
}

.stacks-image {
  max-height: 200px;
  max-width: 200px;
}

.preview-content {
  .stacks-image {
    max-width: 170px;
  }
}

#content {
  .pagination {
    i.fa-chevron-left, i.fa-chevron-right {
      margin: 0 3px;
    }

    li.disabled {
      color: rgba($sul-btn-disabled-color, $sul-btn-disabled-opacity);
    }
  }

  .active a {
    background-color: $sul-pagination-active-bg;
    border-color: $sul-pagination-active-bg;
  }
}

.facets.sidenav {
  .top-panel-heading {
    border-bottom: none;
    padding: 0;

    h2 {
      color: $sul-h2-font-color;
    }
  }
}

.search_num_of_results {
  text-align: left;
  margin-top: $h2-font-size / 2;

  .results-heading a {
    border-bottom: 0;
  }

  h2 {
    border-bottom: 0;
    display: inline;
    margin-bottom: 0;
    width: auto;
  }

  .rss-icon {
    vertical-align: baseline;
  }

}
