#documents {

  .document {
    @include document;

    h3.index_title {
      @include h3-index-title;
    }
    dt {
      width: auto;
    }
    dd {
      margin: 0;
    }
    .document-metadata {
      list-style-type: none;
      padding-left: 0;
    }

    .main-title-date {
      color: #999;
    }

    .cover-image-wrapper {
      margin: 0;
      overflow: auto;
      padding: 0;
    }

    .cover-image {
      border: 1px solid #ddd;
      display: none;
    }

    .stacks-image {
      max-height: 200px;
      max-width: 200px;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}

#content {
  .pagination {
      i.fa-chevron-left, i.fa-chevron-right {
      margin: 0 4px;
    }
  }

  .active a {
    background-color: $sul-pagination-active-bg;
    border-color: $sul-pagination-active-bg;
  }
}

.facets.sidenav {
  .top-panel-heading {
    padding: 0;

    h2 {
      color: $sul-h2-font-color;
    }
  }
}

.search_num_of_results {
  text-align: right;

  h2 {
    border-bottom: 1px solid $sul-h2-border-color;
    color: $sul-h2-font-color;
  }

}
