.result-title {
  font-size: 1.215em;
}

.module-contents {
  ol {
    padding-left: 18px;

    .no-thumbnail {
      border-bottom: 1px solid $su-cloud;
      margin-bottom: 15px;
      padding-bottom: 5px;
    }

    .with-thumbnail {
      border-bottom: 1px solid $su-cloud;
      margin-bottom: 15px;
      padding-bottom: 0;
    }
  }
}

#exhibits.module-contents {
  ol {
    list-style-type: none;
  }
}

.result-set-subheading {
  display: block;
  font-size: $font-size-base;
  padding-bottom: 10px;
  padding-top: 10px;
}

.result {
  p {
    margin-bottom: 0.5rem;
  }
}

.see-all-results {
  text-align: right;

  .btn {
    white-space: normal;
  }
}

.pass-on-search-link {
  margin-top: 0.5rem;
}

.description {
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.etas-notice {
  color: rgb(var(--stanford-cardinal-rgb));
}

.etas-results-block {
  border: 3px solid $sul-temp-access-alert-box-border-color;
  padding: 8px;
}

@include media-breakpoint-down(md) {
  .result-set-heading,
  .result-set-subheading {
    text-align: center;
  }

  .see-all-results .btn {
    display: block;
  }
}
