#documents {

  .document {
    @include document;


    h3.index_title {
      @include h3-index-title-font;
      @include h3-index-title-indent;
    }

    .cover-image-wrapper {
      margin: 0;
      padding: 0;
    }

    .cover-image {
      border: 1px solid #ddd;
      display: none;
      max-height: 150px;
    }
  }

  .main-title-date {
    color: $sul-main-title-date-color;
    font-size: .9em;
  }

  dt {
    width: auto;
  }
  dd {
    margin: 0;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .label-items-online {
    @include label-items-online;
  }

  .results-metadata-section {
    border-bottom: 1px solid $beige-30-percent;
    clear: left;
    margin: 0;
    padding: 10px 0;
  }


  .results-metadata-section:last-child {
    border-bottom: 0;
  }

  @media (min-width: $screen-sm-min) {
    .results-metadata-section {
      dd {
        margin-left: 80px; // Get dds working better for article results
      }
    }
  }

  .zero-results {
    dd {
      margin-left: 2em;
      margin-bottom: .5em;
      max-width: 45em;
    }
  }
}

.document-metadata {
  list-style-type: none;
  padding-left: 0;
}

.stacks-image {
  max-height: 200px;
  max-width: 200px;
}

#content {
  .pagination {
    i.fa-chevron-left, i.fa-chevron-right {
      margin: 0 3px;
    }

    li.disabled {
      color: rgba($sul-btn-disabled-color, $sul-btn-disabled-opacity);
    }
  }

  .active a {
    background-color: $sul-pagination-active-bg;
    border-color: $sul-pagination-active-bg;
  }
}

.facets.sidenav {
  .top-panel-heading {
    border-bottom: none;
    padding: 0;

    h2 {
      color: $sul-h2-font-color;
    }
  }
}

.search_num_of_results {
  text-align: left;

  .results-heading {
    border-bottom: 1px solid $sul-h2-border-color;
    color: $sul-h2-font-color;
    margin-bottom: .5em;

    a {
      border-bottom: 0;
    }
  }

  h2 {
    border-bottom: 0;
    display: inline-block;
    margin-bottom: 0;
  }

  .rss-icon {
    vertical-align: baseline;
  }

}
