.search-bar {
  a {
    border: none;
  }

  .navbar-brand {
    padding: 8px 12px 0 0px;

    img {
      height: 29px;
    }
  }

  .navbar-nav.navbar-right.searchbar-right:last-child {
    margin-right: -15px;
  }

  ul.searchbar-right {
    text-transform: uppercase;
  }
  .nav > li > a {
    padding: 15px 0 5px 0;
    margin-left: 15px;
  }
  #searchbar-navbar-collapse .nav > li > a:hover {
    border-bottom: 3px solid $cardinal-red;
  }

  @media screen and (max-width: $screen-sm) {
    .navbar-nav.navbar-right.searchbar-right {
      text-align: right;
    }
  }

  .navbar-form {
    float: left;
    margin-bottom: 0;
  }

  button.navbar-toggle.search-navbar-dropdown-btn-rotate-90 span.fa {
    @extend .fa-rotate-90;
  }

  .search-target{
    font-size: 1.5em;
    margin-left: -3px;

    img {
      height: 23px;
    }
  }

  span.input-group-addon {
  	padding: 0;
  	background: white;
	}
  span.input-group-addon select {
  	border: none;
  	background: transparent;
	}
}

@media screen and (max-width: $screen-sm-min) {
  .search-form {
    padding-left: 15px;
    padding-right: 15px;
  }
  #searchbar-navbar-collapse .nav > li > a:hover {
    border-bottom: none !important;
  }
}


@media screen and (min-width: $screen-md-min) {
  .search-form {
    position: absolute;
    top: 8px;
    left: 276px;
    width: 360px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .search-form {
    position: absolute;
    top: 8px;
    left: 276px;
    width: 560px;
  }
}
