#search-navbar-container {
  background-color: $sul-navbar-brand-color;
  height: 100px;
  max-height: 100px;
  padding: 0;

  #search-navbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    max-height: inherit;
  }

  a {
    border: 0;
  }

  .search-navbar-headings {
    align-items: center;
    display: flex;
    height: 100%;

    .navbar-brand {
      height: 28px;
      padding: 0;

      img {
        height: 28px;
        // Adding negative top margin to handle images + text alignment issues
        margin-top: -1px;
      }
    }

    .search-dropdown {
      display: inline-block;
      margin-left: 1em;

      .search-target {
        margin: 0;
      }

      .dropdown-menu {
        left: auto;
        top: 70%;

        li {
          max-width: inherit;
        }

        li.active {
          background-color: $public-note-yellow;
          color: $black; // override bootstrap

          a {
            background-color: inherit;
            color: $text-color;

            &:focus {
              outline: 5px auto -webkit-focus-ring-color;
            }
          }
        }
      }
    }
  }

  // For text search pulldown
  .search-form {
    flex: auto;

    .input-group-addon {
      &.for-search-field {
        border-radius: 4px 0 0 4px;
      }
    }
  }

  .search-target {
    border-bottom: $white dashed 2px;
    color: $white;

    &.h1 {
      color: $white;
      display: inline-block;
      font-weight: 100;
      text-indent: 0;
    }
  }

  @media screen {
      @include media-breakpoint-down(md) {
      .input-group-btn {
        width: 1%;
      }

      .navbar-form {
        border: 0;
        margin: 0 auto;
        max-height: 40px;
        padding: 0;
        width: 100%;
      }

      .navbar-header {
        float: none;
      }

      .search-form {
        display: block;
        margin: 10px auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
      }

      .search_field {
        width: 82px;
      }

      .search-navbar-headings {
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        text-align: center;

        .navbar-brand img {
          // Adding negative top margin to handle images + text alignment issues
          margin-top: -2px;
        }

        .search-dropdown {
          .dropdown-menu {
            left: 0;
            top: 45%;
            width: 100%;
            z-index: 10001;
          }
        }
      }

      .search-target {
        float: none;
        margin-top: 5px;
        vertical-align: baseline;

        &.h1 {
          margin-top: 0;
        }
      }

      #searchworks-logo {
        float: none;

        img {
          display: inline-block;
          vertical-align: baseline;
        }
      }
    }
  }

  @media screen {
    @include media-breakpoint-up(md) {
      .navbar-form {
        margin: 0 auto;
      }
    }
  }
}
