#search-navbar-container {
  padding: 0 0 0 0;
  background-color: $sul-navbar-brand-color;

  .navbar-header {
    height: 100px;
  }

  a {
    border: none;
  }

  .navbar-brand {
    padding: 0 0 0 0;
    height: 28px;
    margin: 36px 10px 36px 0px;

    img {
      height: 28px;
      @media screen and (max-width: $screen-sm) {
        height: 26px;
      }
    }
  }

  // For text search pulldown
  .search-form {
    .input-group-addon {
      &.for-search-field {
        border-radius: 4px 0 0 4px;
      }
    }
  }

  .navbar-form {
    float: left;
    margin-bottom: 0;
  }

  button.navbar-toggle.search-navbar-dropdown-btn-rotate-90 span.fa {
    @extend .fa-rotate-90;
  }

  button.navbar-toggle {
    color: $white;
  }

  .search-dropdown {
    display: inline-flex;
    height: inherit;

    .dropdown-menu {
      left: auto;
      top: 70px;

      li.active > a {
        color: $black; // override bootstrap
        background-color: #faf8d2;
      }
    }
  }

  .search-target {
    font-size: 22px;
    font-weight: 100;
    color: $white;
    margin: 39px 0 0 0;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-color: $white;
    border-bottom-style: dashed;
    display: inline-table;
  }

  @media screen and (max-width: $screen-sm-min) {
    .search-form {
      padding-left: 15px;
      padding-right: 15px;
    }
    .search_field {
      width: 82px;
    }
    #searchbar-navbar-collapse .nav > li > a:hover {
      border-bottom: none !important;
    }
  }

  @media screen and (max-width: $screen-md-min) {
    .search-form {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: $screen-md-min) {
    .search-form {
      position: absolute;
      top: 36px;
      left: 300px;
      margin-right: 60px;
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    .search-form {
      position: absolute;
      top: 36px;
      left: 300px;
      margin-right: 60px;
    }
  }
}
