#search-navbar-container {
  padding: 10px 0 0 0;
  background-color: $cardinal-red;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2)
}

.search-bar {
  a {
    border: none;
  }

  .navbar-brand {
    padding: 10px 0 10px 0;
    line-height: 28px;

    img {
      height: 28px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .navbar-nav.navbar-right.searchbar-right:last-child {
    margin-right: -15px;
  }

  ul.searchbar-right {
    text-transform: uppercase;
  }

  .nav > li > a {
    padding: 15px 0 5px 0;
    margin-left: 15px;
  }

  #searchbar-navbar-collapse .nav > li > a {
    &:hover, &:focus, &:active {
      border-bottom: 3px solid $white;
    }
  }

  @media screen and (max-width: $screen-sm) {
    .navbar-nav.navbar-right.searchbar-right {
      text-align: right;
    }
  }

  .navbar-form {
    float: left;
    margin-bottom: 0;
  }

  button.navbar-toggle.search-navbar-dropdown-btn-rotate-90 span.fa {
    @extend .fa-rotate-90;
  }

  button.navbar-toggle {
    color: $white;
  }

  .search-target{
    font-family: 'Crimson Text', serif;
    font-size: 1.6em;
    color: $white;
    margin-left: 0;
  }

  span.input-group-addon {
  	padding: 0;
  	background: white;
	}
  span.input-group-addon select {
  	border: none;
  	background: transparent;
	}

  ul.navbar-nav > li > ul > li {
    a {
      text-transform: none;
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

@media screen and (max-width: $screen-sm-min) {
  .search-form {
    padding-left: 15px;
    padding-right: 15px;
  }
  #searchbar-navbar-collapse .nav > li > a:hover {
    border-bottom: none !important;
  }
}


@media screen and (min-width: $screen-md-min) {
  .search-form {
    position: absolute;
    top: 8px;
    left: 276px;
    width: 360px;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .search-form {
    position: absolute;
    top: 8px;
    left: 276px;
    width: 560px;
  }
}
