.searcher-anchors {
  margin-bottom: 30px;
  justify-content: center;

  ul {
    display: inline-block;
    margin: 0;
  }

  .d-inline-block {
    padding: 7px;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

#result-types {
  justify-content: center;
}
