#search-navbar {

  .navbar-form {
    float: left;
    margin-bottom: 0;
  }

  .search-navbar-top-menu {
    top: 50px;
    li {
      padding-left: 20px;
    }

    li.menu-header {
      padding-left: 0;
    }
  }

  .search-navbar-dropdown-btn-rotate-90 {
    -moz-transform: rotate(90deg);  /* FF3.5/3.6 */
    -o-transform: rotate(90deg);  /* Opera 10.5 */
    -webkit-transform: rotate(90deg);  /* Saf3.1+ */
    transform: rotate(90deg);  /* Newer browsers (incl IE9) */
     /* IE8+ - must be on one line, unfortunately */
     -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701961596905e-16, M12=-1, M21=1, M22=-1.8369701961596905e-16, SizingMethod='auto expand')";
     /* IE6 and 7 */
     filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1.8369701961596905e-16, M12=-1, M21=1, M22=-1.8369701961596905e-16, SizingMethod='auto expand');
  }
}

button.searchbar-topnav{
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
}
