#search-navbar-container {
  background-color: $sul-navbar-brand-color;
  min-height: 100px;
  padding: 0;

  #search-navbar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    max-height: inherit;
  }

  a {
    border: 0;
  }

  .search-navbar-headings {
    align-items: center;
    display: flex;
    justify-content: left;

    .navbar-brand img {
      height: 28px;
      margin-top: -1px;
    }

    .search-dropdown {
      --link-decoration-line: none;
      --link-hover-decoration-line: none;
      display: inline-block;
      margin-right: 1em;

      .search-target {
        line-height: 1.1;
        margin: 0;
        padding: 0;

        &.dropdown-toggle::after {
          font-size: 16px;
        }
      }

      .dropdown-menu {
        left: auto;
        top: 70%;

        .highlight {
          background-color: $public-note-yellow;
          color: $text-color;

          &:focus {
            outline: 5px auto -webkit-focus-ring-color;
          }
        }
      }
    }
  }

  // For text search pulldown
  .search-form {
    flex: auto;

    .input-group-addon {
      &.for-search-field, #search_field {
        border-radius: 4px 0 0 4px;
      }
    }
  }

  .search-btn {
    border-radius: 0 4px 4px 0;
  }

  .search-target {
    border-bottom: $white dashed 2px;
    color: $white;

    &.h1 {
      color: $white;
      display: inline-block;
      font-weight: 100;
      text-indent: 0;
    }
  }

  @include media-breakpoint-down(md) {
    .navbar-form {
      border: 0;
      margin: 0 auto;
      max-height: 40px;
      padding: 0;
      width: 100%;
    }

    .search-form {
      display: block;
      margin: 10px auto;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }

    .search_field {
      width: 95px;
    }

    .search-navbar-headings {
      justify-content: center;
      width: 100%;

      .search-dropdown {
        .dropdown-menu {
          left: 0;
          top: 45%;
          width: 100%;
          z-index: 10001;
        }
      }
    }

    .search-target {
      float: none;
      margin-top: 5px;
      vertical-align: baseline;

      &.h1 {
        margin-top: 0;
      }
    }

    #searchworks-logo {
      float: none;

      img {
        display: inline-block;
        vertical-align: baseline;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .navbar-form {
      margin: 0 auto;
    }
  }
}
