.searcher-anchors {
  margin-bottom: 30px;
  justify-content: center;

  .list-inline {
    margin: 0;
  }
  
  .list-inline-item {
    margin: 0;
  }
  
  .list-inline-item a {
    display: inline-block;
    margin: 7px;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }

}

#result-types {
  justify-content: center;
}
