.searcher-anchors {
  margin-bottom: 30px;
  justify-content: center;

  dt {
    text-align: right;
    margin: 7px;
  }
  
  dd {
    margin: 0;
  }
  
  .list-inline {
    margin: 0;
  }
  
  .list-inline-item {
    margin: 0;
  }
  
  .list-inline-item a {
    display: inline-block;
    margin: 7px;
  }

  @include media-breakpoint-down(md) {
    dt {
      display: block;
      text-align: center;
      width: 100%;
    }

    dd {
      display: block;
      margin-left: 0;
      text-align: center;
      width: 100%;
    }
  }

}

#result-types {
  justify-content: center;
}
