.side-nav-minimap {
  background-color: transparent;
  list-style-type: none;
  padding: 0;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1040;

  &:hover,
  &:focus {
      li {
          button {
              .nav-label {
                  display: inline-block;
              }
              
          }  
      }
  }

  li {
    border-right: 1px solid $sul-side-nav-minimap-border-color;
    border-left: 1px solid $sul-side-nav-minimap-border-color;
    border-bottom: 1px solid $sul-side-nav-minimap-border-color;
    white-space: nowrap;

    button {
      background-color: $sul-side-nav-minimap-background-color;
      border: none;
      height: 35px;
      padding: 0;
      text-align: right;
      width: 100%;
      white-space: nowrap;

      .nav-label {
          padding-left: 10px;
          display:none;
      }

      &:focus,
      &:hover {
          background-color: $sul-side-nav-minimap-active-btn-bg;
      }

      i.fa, .sul-icon {
        display: inline-block;
        text-align: center;
        width: 35px;
      }
    }

    button.active {
      background-color: $sul-side-nav-minimap-active-btn-bg;
      -webkit-box-shadow: inset 0 0 10px $sul-side-nav-minimap-active-btn-shadow;
      -moz-box-shadow: inset 0 0 10px $sul-side-nav-minimap-active-btn-shadow;
      box-shadow: inset 0 0 10px $sul-side-nav-minimap-active-btn-shadow;
    }

    &:last-child, &:last-child button {
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:first-child, &:first-child button {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:first-child {
      border-top: 1px solid $sul-side-nav-minimap-border-color;
    }
  }
}

@include media-breakpoint-down(sm) {
  .side-nav-minimap {
    li {
      &:first-child {
        border-top-right-radius: 0px;
      }

      &:last-child {
        border-bottom-right-radius: 0px;
      }
    }
  }
}
