#skip-link {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1;

  .element-invisible {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
  }

  .element-invisible.element-focusable:active,
  .element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
  }

  a:focus {
    background-color: white;
    border-radius: 0 0 0.2rem 0.2rem;
    padding: .5rem 1rem;
  }
}
