#skip-link {
    margin-left: 10px;
    padding-top: 4px;
    position: absolute;
    top: 0;
    z-index: 1;

    .element-invisible {
      position: absolute !important;
      clip: rect(1px,1px,1px,1px);
      overflow: hidden;
      height: 1px;
    }

    .element-invisible.element-focusable:active, .element-invisible.element-focusable:focus {
      position: static !important;
      clip: auto;
      overflow: visible;
      height: auto;
    }

    a:focus {
      background-color: $sul-skip-to-nav-bg;
      border-radius: 0 0 6px 6px;
      box-shadow: 0 0 6px #000000;
      padding: 6px 15px;
      margin: 0;
      -moz-box-shadow: 0 0 6px #000000;
      -webkit-box-shadow: 0 0 6px #000000;
    }
  }
