#sortAndPerPage {
  padding-bottom: 4px;

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .dropdown-menu li > a {
    border-bottom: none;
    text-transform: none;

    &:hover, &:focus, &:active {
      border-bottom: none;
    }
  }

  .page_links {
    padding: 0 0 0 0;
  }

  .page_entries {
    text-transform: none;
  }

  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
  }
}
