.sul-toolbar.sort-and-per-page { 
  padding: 4px 0;
  margin-top: .8em;
  border-bottom: none;

  .dropdown-menu {
    @include toolbar-dropdown;
    @include refworks-form;
  }

  .page_links {
    padding: 0px 10px;
  }

  .page_entries {
    vertical-align: middle;
  }
}

.sort-and-per-page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@include media-breakpoint-down(sm) {
  .sort-and-per-page {
    justify-content: start;

    #citeLink, #tools-dropdown, .clear-bookmarks {
      margin: 3px;
    }
  }
}

.selection-list-toolbar {
  #viewWidgets {
    padding-top: 0.4em;
  }
}