#sortAndPerPage {
  padding-bottom: 4px;
  margin-top: .8em;
  border-bottom: none;

  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }

  .dropdown-menu {
    @include toolbar-dropdown;
  }

  .page_links {
    padding: 0 0 0 0;
  }

  .page_entries {
    text-transform: none;
    vertical-align: middle;
  }

  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
  }

  #search-results-toolbar {
    ul li a i.active-icon {
      margin-left: -17px;
    }
  }
}
