.stackmap {
  padding: 10px 0;

  span.callnumber {
    font-weight: bold;
  }

  .library,
  .floorname,
  .shelving-range,
  .callnumber-display {
    font-weight: bold;
  }

  .map-template {
    padding: 5px 0;

    .controls {
      clear: both;
      overflow: auto;
      padding: 20px 0 10px 0;
    }

    .osd {
      background-color: var(--white);
      border: 1px solid var(--stanford-black-10);
      height: 450px;
      padding: 0;
    }
  }
}

.text-directions {
  line-height: 1.8em;
  padding: 0;
}

#blacklight-modal {
  .stackmap {
    padding: 10px;
    text-align: left;
  }
}

@media (width < 575.98px) {
  .stackmap {
    .map-template {
      .osd {
        height: 250px;
      }
    }
  }
}
