#search-subnavbar-container {
  background-color: $sul-subnavbar-bg-color;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  color: $white;

  .navbar-collapse {
    padding: 0;
  }

  .navbar-toggler {
    font-size: 20px;
    @extend .pl-0;
  }

  #search-subnavbar-collapse .navbar-nav {
    .dropdown-toggle::after {
      transform: rotate(270deg);
    }
    .dropdown.show .dropdown-toggle::after {
      transform: rotate(0deg);
    }
    .dropdown:not(.show) .dropdown-toggle::after {
      vertical-align: middle;
    }
  }

  .sul-services-menu, .recent-selections {
    white-space: nowrap;
  }

  // For all subnavbar navbar lists
  .sul-services-menu ul {
    list-style-type: none;
    padding-left: 20px;
  }
  .navbar-nav > li {
    a {
      background-color: $sul-subnavbar-bg-color;
      border: 0;
      color: $white;
      font-size: 22px;
      font-weight: 100;
      line-height: 35px;
      margin-right: 20px;
      padding: 0;
    }
    // Add the border on hover, or when the #connection-form is open
    a:hover, a[data-target="#connection-form"][aria-expanded="true"] {
      text-decoration: underline;
    }

    a:focus {
      // restore defaults to override their navbar focus settings (outline: 0)
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  // the last menu item should be right-aligned
  .navbar-nav.ml-auto > li:last-child > a {
    margin-right: 0;
    padding-right: 0;
  }

  // For dropdowns
  .dropdown-menu {
    background-color: $sul-subnavbar-bg-color;
    border-radius: 0;
    left: inherit;
    color: $white;
    margin-top: 0;

    // Menu subheadings
    li span.menugroup {
      font-variant: all-small-caps;
    }

    li a, li span {
      font-size: 1rem;
      font-weight: 100;
      line-height: 35px;
      margin: 0;
      padding: 0 24px;

       i.fa-bookmark-o {
        padding-right: 4px;
      }
    }

    li.text-muted, li.dropdown-header {
      color: $white;
      padding-left: 15px;
    }

    .divider {
      background-color: transparent;
      border-bottom: $white dotted 1px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  
  @include media-breakpoint-down(sm) {
    .navbar-collapse {
      padding: 0 15px;
    }

    .sul-top-menu {
      white-space: normal;
    }
  }
}
