#subnavbar-container {
  background-color: $sul-subnavbar-bg-color;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
  color: $white;
  margin-bottom: 1.5rem;
  min-height: 35px;

  .dropdown-toggle {
    padding: 0;
  }

  .dropdown-toggle, .nav-item {
    color: $white;
    font-size: 22px;
    font-weight: 100;
  }

  .dropdown-toggle:after, .nav-item:after {
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    margin-left: 0;
  }

  #services:after {
    display: inline-block;
    vertical-align: 0.1em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transform: rotate(270deg);
  }

  #services[aria-expanded="true"]:after{
    transform: rotate(0deg);
  }

  .sul-services-menu {
    background-color: $sul-subnavbar-bg-color;
    white-space: nowrap;

    a {
      background-color: $sul-subnavbar-bg-color;
      border: 0;
      color: $white;
      font-size: 20px;
      font-weight: 100;
      margin-right: 20px;
      padding: 6px 0;
    }
  }

  // For all subnavbar navbar lists
  .sul-services-menu ul {
    list-style-type: none;
    padding-left: 20px;
  }

  // For dropdowns
  .dropdown-menu {
    background-color: $sul-subnavbar-bg-color;
    border-radius: 0;
    left: inherit;

    // Menu subheadings
    .menugroup {
      font-variant: all-small-caps;
    }

    li a, li span {
      font-size: 16px;
      font-weight: 100;
      line-height: 35px;
      margin: 0;
      padding: 0 24px;
    }

    li.text-muted, li.dropdown-header, li span {
      color: $white;
      padding-left: 15px;
    }
  }
}
