$sul-icon-prefix: 'sul-icon';
//Sizing
.#{$sul-icon-prefix}-1-5x { font-size: 1.5em; }
.#{$sul-icon-prefix}-2x { font-size: 2em; }
.#{$sul-icon-prefix}-3x { font-size: 3em; }
.#{$sul-icon-prefix}-4x { font-size: 4em; }
.#{$sul-icon-prefix}-5x { font-size: 5em; }

//Alignment
.#{$sul-icon-prefix}-va-middle {
  vertical-align: middle;
}

//Color - not coloring globally
.#{$sul-icon-prefix} {

}

.rss-icon {
  // replace this extend when we have SUL Styles available to us
  @extend .fa;
  @extend .fa-lg;
  @extend .fa-rss-square;

  color: $sul-rss-icon-color;
  margin-right: .3em;
}

// Style icons in facets
.facet-values .#{$sul-icon-prefix} {
  @extend .#{$sul-icon-prefix}-1-5x;
  @extend .#{$sul-icon-prefix}-va-middle;
  color: $black;
  width: 30px;
  display: flex;
  align-items: center;
}

.facet-values .#{$sul-icon-prefix} + .facet-label {
  padding-left: 20px;
}

.sul-icon-refworks { color: $sul-icon-refworks-color; }
.sul-icon-endnote { color: $sul-icon-endnote-color; }
