.sul-toolbar {
  @include sul-toolbar-bg-border;
  padding: 0;
  margin: 35px 0px;
  color: $sul-toolbar-color;

  // Back to results button
  .back-to-results {
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 10px;
  }

  a, .dropdown-toggle {
    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}
