.document-thumbnail {
  --link-decoration-line: none;

  margin-bottom: 0;
}

.preview .document-thumbnail {
  float: right;
  padding-left: $line-height-base;
  margin-bottom: $line-height-base;
}

.iiif-dnd {
  position: relative;
  z-index: 1;
}
