#topnav-container {
  padding: 3px 0;
  position: relative;
}

#topnav {
  border: none;
  background: none;
  margin-bottom: 0;
  display: table;
  padding: 2px 0;

  .header-links {
    float: right;
    margin-top: 2px;
    a {
      color: $sul-topnavbar-link-color;
      border-bottom: 0;
      font-weight: normal;
      margin-left: 15px;
      padding-bottom: 3px;
      text-decoration: none;

      &.first {
        margin-left: 0;
      }
    }
    // Add the border on hover, or when the #feedback-form is open
    a:hover, a[data-target="#feedback-form"][aria-expanded="true"] {
      border-bottom: 3px solid $sul-topnavbar-link-color;
    }
  }
}
.dropdown-list-title{
  padding: 3px 20px;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

@include media-breakpoint-down(sm) {
  #topnav {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
