#topnav-container {
  padding: 2px 0;
  position: relative;
}

#topnav {
  border: none;
  background: none;
  margin-bottom: 0;
  display: table;
  padding: 2px 0;

  // Override bootstrap .visible-xs styling to make our logo inline-block
  // Bootstrap uses display: block !important for .visible-xs
  @media (max-width: $screen-xs-max) {
    .su-logo.visible-xs {
      display: inline-block !important;
    }
  }

  .header-links {
    float: right;
    margin-top: 2px;
    a {
      font-weight: normal;
      margin-left: 15px;
      padding-bottom: 3px;
      color: $sul-topnavbar-link-color;
      border-bottom: none;
      &.first {
        margin-left: 0;
      }
    }
    a:hover {
      border-bottom: 3px solid $sul-topnavbar-link-color;
    }
  }

  .btn-topbar-menu {
    font-size: 1.7em;
    height: 25px;
    margin-top: -2px;
    padding-left: 0;
    vertical-align: text-bottom;
  }

  &.open {
    .btn-topbar-menu span {
      @extend .fa-rotate-90;
    }
  }
}
.sul-top-menu {
  width: 350px;
  background: rgba($cardinal-red, .9);
  margin-left: 2px;
  margin-top: -1px;
  border-radius: 0px;
  left: inherit;

  li a {
    color: $white;
    border: none;
    padding-left: 40px;
  }

  li a[role=menuitem] i.fa-bookmark-o {
    padding-right: 4px;
  }

  li a:hover {
    color: $cardinal-red;
    margin-left: 15px;
    padding-left: 25px;
    margin-right: 15px;
  }

  li.menu-header {
    padding-left: 0;
  }

  .dropdown-header {
    font-size: $font-size-base;
  }

  .divider {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: white dotted 1px;
    background-color: transparent;
  }
}
.dropdown-list-title{
  padding: 3px 20px;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

@media screen and (max-width: $screen-xs-max) {
  #topnav {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
