#top-navbar {
  background-color: $light-sandstone;
  min-height: 35px;

  ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    text-align: right;


    li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
    }
  }

  a {
    color: $cardinal-red;
  }
}
