#topnav-container {
  padding: 2px 0;
  position: relative;
}

#topnav {
  border: none;
  background: none;
  margin-bottom: 0;
  display: table;
  padding: 2px 0;

  // Override bootstrap .visible-xs styling to make our logo inline-block
  // Bootstrap uses display: block !important for .visible-xs
  @media (max-width: $screen-xs-max) {
    .su-logo.visible-xs {
      display: inline-block !important;
    }
  }

  .header-links {
    float: right;
    margin-top: 2px;
    a {
      font-weight: normal;
      margin-left: 15px;
      padding-bottom: 3px;
      color: $sul-topnavbar-link-color;
      border-bottom: none;
      &.first {
        margin-left: 0;
      }
    }
    // Add the border on hover, or when the #feedback-form is open
    a:hover, a[data-target="#feedback-form"][aria-expanded="true"] {
      border-bottom: 3px solid $sul-topnavbar-link-color;
    }
  }
}
.dropdown-list-title{
  padding: 3px 20px;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

@media screen and (max-width: $screen-xs-max) {
  #topnav {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
