#topnav-container {
  background-color: #8c1515;
  padding: 2px 0;
  position: relative;
}

#topnav {
  border: none;
  background: none;
  margin-bottom: 0;
  display: table;
  padding: 5px 0;

  a img {
    float: left;
  }

  .header-links {
    float: right;

    a {
      font-weight: 200;
      margin-left: 15px;
      padding-bottom: 3px;
      color: $sul-topnavbar-link-color;
      border-bottom: none;
    }
    a:hover {
      border-bottom: 3px solid $sul-topnavbar-link-color;
    }
  }

  .btn-topbar-menu {
    margin-left: 20px;
    font-size: 1.3em;
    margin-top: -5px;
    span {
      position: absolute;
      top: 10px;
    }

  }

  &.open {
    .btn-topbar-menu span {
      @extend .fa-rotate-90;
    }
  }
}
.sul-top-menu {
  width: 350px;
  background: rgba($cardinal-red, .8);
  margin-left: 2px;
  margin-top: -1px;
  border-radius: 0px;
  left: inherit;

  li a {
    color: $white;
    border: none;
    padding-left: 40px;
  }
  li a:hover {
    color: $cardinal-red;
    margin-left: 15px;
    padding-left: 25px;
    margin-right: 15px;
  }

  li.menu-header {
    padding-left: 0;
  }

  .dropdown-header {
    font-size: $font-size-base;
  }

  .divider {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: white dotted 1px;
    background-color: transparent;
  }
}
.dropdown-list-title{
  padding: 3px 20px;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow:hidden;
}

@media screen and (max-width: $screen-xs-max) {
  #topnav {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
