<div class="panel panel-default access-panel panel-online" style='display:none' data-behavior="sfx-panel" data-sfx-url="<%= sfx_data_path(url: CGI.escape(document.access_panels.sfx.links.first.href)) %>">
  <div class="access-panel-heading panel-heading">
    <h3>
      All full-text sources
    </h3>
  </div>
  <div class="panel-body" data-behavior="sfx-panel-body">
  </div>
</div>
