<% document ||= @document %>

<% if document.image_urls.present? %>
  <div class="document-thumbnail">
    <img class="stacks-image" src="<%= document.image_urls(:large).first %>" alt="">
  </div>
<% else %>
  <div class="document-thumbnail">
    <%= render_cover_image(document) %>
  </div>
<% end %>

<%= render partial: "catalog/index_marc", locals: { document: document } %>
