<% document ||= @document %>

<% if document.image_urls.present? %>
  <div class="document-thumbnail">
    <img class="stacks-image" src="<%= document.image_urls(:large).first %>" alt="">
  </div>
<% end %>

<%= render SearchResult::Item::Mods::MetadataComponent.new(document:) %>
