<h3 class="preview-title">
  <%= render_resource_icon document.document_formats %>
  <%= document.online_label %>
  <%= link_to_document document %>
  <span class="main-title-date"><%= get_main_title_date(document) %></span>
</h3>
