<h3 class="preview-title">
  <%= render_resource_icon document.document_formats %>
  <%= document.online_label %>
  <%= link_to_document document %>
  <%= render MainTitleDateComponent.new(document:) %>
</h3>
