<% document ||= @document %>

<div class="col-md-12 show-preview">

  <div id="document" class="document <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
    <div id="doc_<%= @document.id.to_s.parameterize %>">

      <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
    </div>
  </div>
</div>
