<details class="item-details mb-3">
    <summary class="h3">Item details</summary>
    <% locations.each do |location| %>
      <table class="table">
          <caption class="px-3 h4 mb-0"><strong>Permanent Location</strong> <%= location.label %></caption>
          <thead>
              <tr>
                  <th>Effective Call Number</th>
                  <th>Barcode</th>
                  <th>Effective Location</th>
              </tr>
          </thead>
          <tbody>
            <% location.items.each do |item| %>
                <tr>
                  <td class="pl-5"><%= item.call_number %></td>
                  <td><%= item.barcode %></td>
                  <td><%= item.location %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% end %>
</details>