---
http_interactions:
- request:
    method: get
    uri: https://sul-solr-tester.stanford.edu/triannon-dev/select?defType=lucene&q=target_url:http%5C:%5C/%5C/searchworks.stanford.edu%5C/view%5C/666&wt=ruby
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 30 Jun 2015 22:12:57 GMT
      Etag:
      - '"YTNmZjQwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          'responseHeader'=>{
            'status'=>0,
            'QTime'=>1,
            'params'=>{
              'q'=>'target_url:http\\:\\/\\/searchworks.stanford.edu\\/view\\/666',
              'defType'=>'lucene',
              'wt'=>'ruby'}},
          'response'=>{'numFound'=>6,'start'=>0,'maxScore'=>10.28824,'docs'=>[
              {
                'id'=>'sw/21/ca/ca/d9/21cacad9-fc4d-4e7e-8b52-98ed0566d6a5',
                'root'=>'sw',
                'motivation'=>['commenting'],
                'target_url'=>['http://searchworks.stanford.edu/view/666'],
                'target_type'=>['external_URI'],
                'body_type'=>['content_as_text'],
                'body_chars_exact'=>['yet another 666 comment'],
                'anno_jsonld'=>'{"@context":"http://www.w3.org/ns/oa-context-20130208.json","@graph":[{"@id":"_:g64174880","@type":["dctypes:Text","cnt:ContentAsText"],"chars":"yet another 666 comment","format":"text/plain","language":"en"},{"@id":"https://triannon-dev.stanford.edu/annotations/sw/21/ca/ca/d9/21cacad9-fc4d-4e7e-8b52-98ed0566d6a5","@type":"oa:Annotation","hasBody":"_:g64174880","hasTarget":"http://searchworks.stanford.edu/view/666","motivatedBy":"oa:commenting"}]}',
                '_version_'=>1504899861121597440,
                'timestamp'=>'2015-06-24T22:19:06.315Z',
                'score'=>10.28824},
              {
                'id'=>'sw/ac/d1/8b/25/acd18b25-ec98-48dc-8ec8-ac8dee5ca3de',
                'root'=>'sw',
                'motivation'=>['commenting'],
                'target_url'=>['http://searchworks.stanford.edu/view/666'],
                'target_type'=>['external_URI'],
                'body_type'=>['content_as_[...]
