<div class="d-flex justify-content-center align-items-center p-4 p-md-5">
  <div class="d-none d-md-block" style="font-size: 160px; font-weight: 800; line-height: 100%; letter-spacing: 0%; color: var(--stanford-10-black)">
    <%= code %>
  </div>
  <div class="ms-md-4 fw-600 mt-4">
    <h2 class="h3 mb-4"><%= header %> (<%= code %>)</h2>
    <%= message %>
  </div>
</div>
