<div class="d-flex justify-content-center align-items-md-end align-items-sm-start" style="padding: 80px;">
  <div style="font-size: 160px; font-weight: 800; line-height: 100%; letter-spacing: 0%; color: var(--stanford-10-black)">
    <%= code %>
  </div>
  <div class="ml-4 fw-600">
    <h2 class="h3"><%= header %> (<%= code %>)</h2>
    <%= message %>
  </div>
</div>