<%= render Status::ErrorPageComponent.new(code: '404', header: 'Page not found') do |component| %>
  <% component.with_message do %>
    <p>The page may have been moved, renamed, or is temporarily unavailable.
    Please check the URL for errors or <%= link_to('return to home', root_path) %> to continue browsing.</p>
    <p>If you believe this is an error, please report it via the
    <%= link_to('feedback form', '#', data: { 'bs-target': '#feedback-form', 'bs-toggle': 'collapse' }) %>
    or <%= link_to('contact a librarian', 'https://library.stanford.edu/contact-us') %> for help.</p>
  <% end %>
<% end %>
