<%= render Status::ErrorPageComponent.new(code: '404', header: 'Page not found') do |component| %>
  <% component.with_message do %>
    <p>The page may have been moved, renamed, or is temporarily unavailable.
    Please check the URL for errors or <%= link_to('return to home', root_path) %> to continue browsing.</p>
  <% end %>
<% end %>