<div id="bookmark-select-all" class="bookmark-toggle bookmark-select-all-toggle d-flex flex-row"
     data-controller="analytics bookmark-all"
     data-bookmark-all-bookmark-outlet="<%= documents_selector %> .bookmark-toggle"
     data-analytics-category-value="bookmark-save-all">
  <button type="button"
          aria-live="polite"
          class="bookmark-toggle-all btn btn-sm btn-outline-primary lh-1"
          data-action="mouseenter->tooltip#show focus->tooltip#show mouseleave->tooltip#hide blur->tooltip#hide update-tooltip->tooltip#updatePopper bookmark.blacklight@window->bookmark-all#update click->bookmark-all#toggleAll"
          data-controller="tooltip"
          data-bookmark-all-target="button"
          disabled>
    <span class="action-button blacklight-icons">
      <%= icon %>
    </span>
    <span class="bookmark-text save-label">Save all</span>
    <span class="bookmark-text saved-label">Saved all</span>
  </button>
  <input type="checkbox"
         class="d-none"
         data-bookmark-all-target="checkbox">
</div>
