<%= render Masthead::LayoutComponent.new(classes: 'database-search-area-bg') do |component| %>
  <% component.with_header { 'Databases' } %>

  <% component.with_search do %>
    <div>Search for databases by title or subject area</div>
    <%= render Databases::SearchBarComponent.new url: search_action_url, params: search_state.params_for_search.except(:qt) %>
  <% end %>

  <% component.with_aside do %>
      <h2>About Databases</h2>
      <p class="mt-2">A database is a curated collection of digital scholarly journal articles, typically organized by discipline,
        with tools that let users search by keyword, author, topic, or other filters to find relevant articles.
        It serves as a centralized platform for accessing articles from numerous academic journals, facilitating
        efficient research and discovery.</p>

      <div class="d-flex flex-wrap">
        <span class="fw-semibold text-nowrap me-3">Other helpful resources:</span>
        <ul class="list-inline d-inline">
          <li class="list-inline-item me-3 text-nowrap"><a href="https://sfx-01stanford.hosted.exlibrisgroup.com/01stanford/az">List of Journals A-Z <span class="bi-arrow-up-right"></span></a></li>
          <li class="list-inline-item me-3 text-nowrap"><a href="/articles">Articles+ <span class="bi-arrow-up-right"></span></a></li>
          <li class="list-inline-item text-nowrap"><a href="https://library.stanford.edu/services/off-campus-access">Off-campus access <span class="bi-arrow-up-right"></span></a></li>
        </ul>
      </div>
  <% end %>
<% end %>
