<% @page_title = t 'blacklight.search.masthead_title', title: 'Databases', application_name: "#{I18n.t('blacklight.application_name')} catalog" %>

<% content_for(:search_navbar) do %>
  <%= render 'header' %>
<% end %>

<div class="row mt-4">
  <div class="col-xl-6 col-lg-8 col-md-12">
    <section class="">
      <%= render 'popular_databases' %>
    </section>
  </div>
</div>

<% content_for(:breadcrumb) do %>
  <a href="/" class="icon-link"><%= back_icon %> Back to catalog search</a>
<% end %>
