<% content_for(:search_navbar) { render 'header' } %>
<% content_for(:additional_aside_content) do %>
  <div class="pt-4 px-1">
    <%= render 'popular_databases' %>
  </div>
<% end %>

<%= render partial: "search_results", locals: { content_classes: 'col-md-8 me-md-auto', hide_constraints: true, hide_facets: true } %>
