<div class="section annotations-user-comments" id="user-comments" data-side-nav-class="user-comments" data-anno-id="<%= @sw_doc_id %>">
  <div class="section-heading">
    <h2>
      <i class="fa fa-comments-o"></i> User comments <span class="num-found">(<%= comment_annos.size %>)</span>
      <button class="btn btn-default btn-sm btn-add-annotation"><i class="fa fa-plus"></i> Add comment<span class="sr-only">Add comment</span></button>
    </h2>
  </div>

  <%= render partial: "annotations/create_anno", locals: {anno_type: "comment", motivation_str: "commenting"} %>

  <div class="section-body user-comments">
    <ul>
    <% comment_annos.each do |comment_anno| %>
      <li><%= comment_anno.getComment %></li>
    <% end %>
    </ul>
  </div>
</div>