<div class="section annotations-tags" id="tags" data-side-nav-class="tags" data-anno-id="<%= @sw_doc_id %>">
  <div class="section-heading">
    <h2>
      <i class="fa fa-tag"></i> Tags
      <button class="btn btn-default btn-sm btn-add-annotation"><i class="fa fa-plus"></i> Add tag<span class="sr-only">Add tag</span></button>
    </h2>
  </div>

  <%= render partial: "annotations/create_anno", locals: {anno_type: "tag", motivation_str: "tagging", sw_doc_id: @sw_doc_id} %>

  <div class="section-body tags">
    <% tag_annos.each do |tag_anno| -%>
      <span class="tag">
        <%= tag_anno.getTag -%>
        <span class="arrow"></span>
      </span>
    <% end -%>
  </div>
</div>