<h1>Annotations for Record <%= @sw_doc_id %></h1>

<div class="row">
  <div class="col-sm-10">
    <dl class="dl-horizontal dl-invert">
      <%= render 'tags' %>
      <%= render 'comments' %>
      </dl>
  </div>
</div>
