          <section class="bg-light p-3 mb-3 what-are-you-searching-for">
            <header class="h3">What are you searching for?</header>
            <ul class="list-unstyled">
              <li class="mb-3">
                <div class="what-header">Catalog</div>
                Catalog allows you to search for books, journals,  media and other formats in the Libraries’ physical collection. When there is an online version available, it’s also displayed.
              </li>
              <li>
            <div class="what-header">Articles+</div>
            Search Articles+ for academic articles, , ebooks, and the Libraries’ digital subscriptions. Full-text search and
              </li>
            </ul>
          </section>
