<%= render(@layout.new(facet_field: @facet_field)) do |component| %>
  <% component.with_label do %>
    <%= @facet_field.label %>
  <% end %>
  <% component.with_body do %>
    <% if @facet_field.active? %>
      <div class="alert alert-warning" role="alert">
        <%= t('searchworks.articles.flashes.additional_selections_warning_html') %>
      </div>
    <% end %>

    <%= render Articles::Response::MoreFacetsListComponent.new(facet_field: @facet_field, layout: @layout) %>
  <% end %>
<% end %>
