<div class="dropdown">
  <button aria-label="Document actions" class="btn p-1 lh-1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical" aria-hidden="true"></i></button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" data-blacklight-modal="trigger" href="<%= cite_path %>"><i class="bi bi-quote"></i> Cite</a></li>
    <li><a class="dropdown-item" data-blacklight-modal="trigger" href="<%= email_path %>"><i class="bi bi-envelope"></i> Email</a></li>
    <li><button class="dropdown-item btn btn-link" type="button" data-controller="copy-link" data-action="click->copy-link#copyLink" data-copy-link-url-value="<%= copy_url %>"><i class="bi bi-link-45deg"></i> Copy link to record</button></li>
  </ul>
</div>