<% if show_pagination? and @bookmarks.total_pages > 1 %>
 <div class="row record-padding">
  <div class="col-md-12">
    <div class="pagination">
      <%= paginate @bookmarks, outer_window: 2, theme: 'blacklight' %>
    </div>
  </div>
 </div>
<% end %>
