@import url("modules/masthead.css");
@import url("modules/results.css");

body {
  min-height: 100vh;
}

.container-fluid {
  --container-fluid-padding: 50px;
  width: calc(100% - var(--container-fluid-padding) + var(--bs-gutter-x));
}

@media (min-width: 7682px) {
  .container-fluid {
    --container-fluid-padding: 100px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    --container-fluid-padding: 160px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    --container-fluid-padding: 200px;
  }
}

.fs-1125 {
  font-size: 1.125rem;
}

.mb-125 {
  margin-block-end: 1.25rem;
}

.global-alert {
  border: 1px solid rgb(204, 0, 0);
  margin: 10px auto;
  padding: 10px;
}
