@import url("modules/masthead.css");
@import url("modules/results.css");

@font-face {
  font-family: "dejavu_sansextralight";
  src: url("DejaVuSans-ExtraLight-webfont.eot");
  src:
    url("DejaVuSans-ExtraLight-webfont.eot?#iefix") format("embedded-opentype"),
    url("DejaVuSans-ExtraLight-webfont.woff") format("woff"),
    url("DejaVuSans-ExtraLight-webfont.ttf") format("truetype"),
    url("DejaVuSans-ExtraLight-webfont.svg#dejavu_sansextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* remove after https://github.com/sul-dlss/component-library/pull/132 is released */
  --stanford-90-black: #43423e;
}

#main-content {
  min-height: calc(100vh - 478px);
}

.container-fluid {
  --container-fluid-padding: 100px;
  width: calc(100% - var(--container-fluid-padding) + var(--bs-gutter-x));
}

@media (min-width: 992px) {
  .container-fluid {
    --container-fluid-padding: 160px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    --container-fluid-padding: 200px;
  }
}

.fs-1125 {
  font-size: 1.125rem;
}

.global-alert {
  border: 1px solid rgb(204, 0, 0);
  margin: 10px auto;
  padding: 10px;
}
