a {
  &.disabled {
    color: #ccc;
    cursor: not-allowed;
    text-decoration: none;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a, a:hover, a:focus, .btn-link, .btn-link:hover, .btn-link:focus {
	text-decoration: none;
  border-bottom: 1px dotted $sul-link-color-border;
}
