a {
  &.disabled {
    color: #ccc;
    cursor: not-allowed;
    text-decoration: none;
  }
}

body {
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
}

a, a:hover, a:focus {
	text-decoration: none;
  border-bottom: 1px dotted $sul-link-color-border;
}

h1 {
  font-family: 'dejavu_sansextralight';
  color: $sul-h1-font-color;
  padding: 10px 0;
  letter-spacing: -.05em;
}

h2 {
  letter-spacing: 0;
  line-height: 1.2em;
  margin: .5em 0;
  color: $cardinal-red;
  border-bottom: 1px solid $sul-h2-border-color;
}

h3 {
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 0 .4em 0;
}

dl {
  margin-bottom: 15px;
}

dt {
  color: $gray-41-percent;
  font-weight: normal;
  font-size: .9em;
  text-transform: uppercase !important;
  padding-right: 1em;
  padding-top: .15em;
  width: 12em;
}

dd {
  margin-left: 2em;
  margin-bottom: .5em;
  max-width: 45em;
}

label {
  font-weight: normal;
}
