a {
  border-bottom: 1px solid transparent;
  color: $sul-link-color;
  text-decoration: none;

  &.disabled {
    color: $sul-btn-disabled-color;
    cursor: not-allowed;
    text-decoration: none;
  }
}

a:hover, a:focus, a:active  {
  @include link-styling;
}

body {
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
}

dt {
  color: $cool-grey;
  font-weight: normal;
}

p,
li,
dd {
  max-width: 45em;
}

label {
  font-weight: normal;
}
