a {
  border-bottom: 0;
  color: $sul-link-color;
  text-decoration: none;

  &.disabled {
    color: $gray-light;
    cursor: not-allowed;
    text-decoration: none;
  }
}

body {
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
}

a:hover, a:focus, a:active  {
  @include link-styling;
}

h1 {
  color: $sul-h1-font-color;
  padding: 10px 0;
}

h2 {
  letter-spacing: 0;
  line-height: 1.2em;
  margin: .5em 0;
  color: $sul-h2-font-color ;
  border-bottom: 1px solid $sul-h2-border-color;
}

h3 {
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 0 .4em 0;
}

dl {
  margin-bottom: 15px;
}

dt {
  color: $cool-grey;
  font-weight: normal;
  width: 12em;
}

dd {
  margin-left: 2em;
  margin-bottom: .5em;
  max-width: 45em;
}

label {
  font-weight: normal;
}
