a:not(.btn):not(.dropdown-item):not(.page-link) {
  border-bottom: 1px solid transparent;

  &.disabled {
    color: $sul-btn-disabled-color;
    cursor: not-allowed;
  }
  
  &:hover, &:focus, &:active  {
    @include link-styling;
  }
}

body {
  font-family: 'Source Sans Pro', 'Arial Unicode MS', Helvetica, sans-serif;
}

dt {
  color: $cool-grey;
  font-weight: normal;
}

dd {
  margin-left: 2em;
  margin-bottom: .5em;
}

p,
li,
dd {
  max-width: 45em;
}

label {
  font-weight: normal;
}
