@import 'bootstrap-variables';
@import 'bootstrap';
@import 'bootstrap-mixins';

@import 'bootstrap-overrides';

@import 'blacklight/blacklight';
@import 'blacklight_marc';

@import 'blacklight/hierarchy/hierarchy';

// the default bootstrap font-family list includes "Segoe UI Emoji", which, on windows
// renders our remove icon as an emoji-sized x instead of what we see on all other platforms...
// so, for now (until we replace it with an SVG icon or something), we get to override bootstrap:
$remove-icon-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif !default;

.remove-icon {
  font-family: $remove-icon-font-family;
}

.facets-header {
  .facets-heading {
    @extend .h2; // Blacklight extends .h4 by default. https://github.com/projectblacklight/blacklight/blob/51d4f59385549e2031fafa616a1d5a039771bd57/app/assets/stylesheets/blacklight/_facets.scss#L99
  }
}

.facet-values {
  .remove {
    &:hover,&:active {
      border: none;
    }

    .remove-icon {
      padding-left: 0.3em;
    }
  }
}

.range_limit {
  input {
    width: 14ch !important;
  }

  .input-group {
    display: flex !important;
    justify-content: center;
  }

  // Blacklight 6's range limit didn't have this button
  .view_larger {
    display: none;
  }

  .input-group-append {
    display: flex;
  }

  .submit {
    @extend .btn-sm;
    border-radius: 0px 3px 3px 0px;
  }
}


.dl-invert {
  dt {
    @media (min-width: breakpoint-min(md)) {
      text-align: left; // Blackight has this as right aligned
    }
  }
}

// Balanced lists From Bootstrap 3
$balance-list-width: 10em;
@media (min-width: breakpoint-min(md)) {
  .dl-horizontal {
    dt {
      clear: left;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $balance-list-width;
    }

    dd {
      margin-left: $balance-list-width;
    }
  }
}