:root {
  --identity-bar-bg-color: var(--stanford-cardinal);
  --identity-bar-color: white;
  --bs-secondary-rgb: var(--stanford-fog-light-rgb);
  --sul-link-font-weight: 400;
  --stanford-archway: #5d4b3c;
}

.nav-link,
.dropdown-item {
  text-underline-position: initial !important;
}

.navbar-logo {
  --sul-logo-width: 360px;
  --sul-logo-height: 34px;

  @media (width < 575.98px) {
    &.stacked-mobile {
      --sul-logo-height: 58px;
    }
  }
}

@media (width <= 1250px) {
  .navbar-logo {
    --sul-logo-width: 308px;
  }
}

a.su-underline {
  /*
  https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration
  Safari doesn't support text-decoration-thickness
  (breaks --bs-link-decoration: underline var(--underline-color) solid 1px)
  It says it supports shorthand color and style but it isn't working
  Above page examples shows warning for all shorthand in Safari despite browser compatibility table
  */
  --bs-link-decoration: underline;
  text-decoration-color: var(--underline-color);
  text-decoration-style: solid;

  text-decoration-thickness: 1px;
}

header {
  #user-links {
    .nav-link {
      --bs-nav-link-font-weight: 400;
    }
  }
}

.navbar-collapse .dropdown-menu {
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-item-padding-y: 1.25rem;
  --bs-dropdown-item-padding-x: 1.25rem;
  --bs-dropdown-link-hover-bg: var(--stanford-10-black);
  --bs-dropdown-link-hover-color: var(--stanford-archway);
  --bs-dropdown-link-active-bg: var(--stanford-10-black);
  --bs-dropdown-link-active-color: var(--stanford-archway);
  --bs-dropdown-border-width: 0;
  --bs-dropdown-border-radius: 0;
  .dropdown-item {
    font-weight: 600;
  }

  li:not(:last-child) a {
    border-bottom: 1px solid var(--stanford-fog-light);
  }
  &.show {
    gap: 0;
  }
}
