@font-face {
  font-family: 'dejavu_sansextralight';
  src: url('DejaVuSans-ExtraLight-webfont.eot');
  src: url('DejaVuSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
       url('DejaVuSans-ExtraLight-webfont.woff') format('woff'),
       url('DejaVuSans-ExtraLight-webfont.ttf') format('truetype'),
       url('DejaVuSans-ExtraLight-webfont.svg#dejavu_sansextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
