/* tibetan */
@font-face {
  font-family: 'SUL Font Overrides';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoseriftibetan/v22/gokzH7nwAEdtF9N45n0Vaz7O-pk0wsvbBMgmy2UTva2n.woff2) format('woff2');
  unicode-range: U+0F00-0FFF;
}
