/*
- Chrome/Edge did not show the Tibetan characters when added to Source Sans Pro
- Safari had rendering issues when using an "Overrides" specific font-family with just noto sans tibetan
- So we are using a font-family of "SUL Override" for the tibetan characters, and
  using the "Arial Unicode MS" as a fallback for the rest of the characters.
*/

@font-face {
  font-family: "SUL Override";
  font-style: normal;
  font-weight: 100 900;
  src: local('Arial Unicode MS');
}

/* tibetan */
@font-face {
  font-family: "SUL Override";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoseriftibetan/v22/gokzH7nwAEdtF9N45n0Vaz7O-pk0wsvbBMgmy2UTva2n.woff2) format('woff2');
  unicode-range: U+0F00-0FFF;
}
