.search-helper-text {
  padding-bottom: 20px;
}

.homepage-panels {
  .card-body {
    background-color: $white;
    border: 1px solid $beige-30-percent;
    padding: 0;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 2px 10px;
  }

  p {
    font-size: 14px;
    padding: 2px 10px;
  }
}

.more-search-tools {
  padding-top: 25px;

  .card-body {
    padding-left: 55px;
  }

  img {
    width: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
  }
}

@include media-breakpoint-down(xs) {
  .more-search-tools {
    img {
      width: 20px;
      position: absolute;
      left: 30px;
      top: 15px;
    }
  }
}
