
#top-navbar-container, #subnavbar-container, #sul-footer-container, #masthead-container {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

#top-navbar, #subnavbar, #sul-footer, #masthead {
	margin: 0 auto;
	text-align: left;
}

@media (min-width: 768px) {
	#subnavbar, #sul-footer, #masthead {
    width: 750px;
  }
}

@media (min-width: 980px) {
	#subnavbar, #sul-footer, #masthead {
    width: 970px;
  }
}

@media (min-width: 1200px) {
	#subnavbar, #sul-footer, #masthead {
    width: 1170px;
  }
}


@media only screen and (max-width : 768px) {
  #search-navbar, #subnavbar {
    padding: 0 15px;
  }
}
