#search-navbar {
  border: none !important;
  background: none;
  padding: 0 0;
}

#outer-container, #topnav-container, #search-navbar-container, #search-subnavbar-container, #sul-footer-container {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
}

.header-logo > a {
	border-bottom: none;
}

#topnav, #search-navbar, #search-subnavbar, #main-container, #sul-footer, #masthead-container {
	margin: 0 auto;
	text-align: left;
}

#main-container {
  #main-flashes {
    min-height: 0;
  }
}

#search-navbar, #search-subnavbar {
	padding: 0;
}

a#sul-logo {
	float: left;
	border-bottom: none;
}

@media (min-width: 768px) {
  #topnav, #search-navbar, #search-subnavbar, #main-container, #sul-footer, #masthead-container {
    width: 750px;
  }
}

@media (min-width: 980px) {
  #topnav, #search-navbar, #search-subnavbar, #main-container, #sul-footer, #masthead-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #topnav, #search-navbar, #search-subnavbar, #main-container, #sul-footer, #masthead-container {
    width: 1170px;
  }
}


@media only screen and (max-width : 768px) {
  #main-container, #search-navbar, #search-subnavbar {
    padding: 0 15px;
  }

  #search-navbar-container .search-form {
    padding: 0;
  }

  #search-navbar .navbar-toggler {
    margin-right: 0;
  }
}
