#outer-container {
  margin-top: 10px;
  border: 1px solid #ddd;
}

#topnav {
  border: none;
  background: none;
  margin-bottom: 0;
}
#search-navbar {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0 -15px;
  background: none;
}
