#search-navbar {
  border: none !important;
  background: none;
  padding: 0 0;
}

#masthead {
  min-height: 100px;
  border-bottom: 1px solid $panel-inner-border;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px;
}

#main-flashes{
  padding-top: 10px;
}

#outer-container, #topnav-container, #search-navbar-container, #sul-footer-container {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}

#search-navbar-container {
	background-color: #f2f1eb;
	padding: 10px 0;
	border-bottom: 3px solid $sul-search-navbar-bg-color;
}

.header-logo > a, h3.panel-title a {
	border-bottom: none;
}
.header-links {
	float: right;
}
.header-links a {
	font-weight: 200;
	margin-left: 15px;
	padding-bottom: 3px;
	color: #FBFBF9;
	border-bottom: none;
}

.header-links a:hover {
	border-bottom: 3px solid #FBFBF9;
}

#topnav, #search-navbar, #main-container, #sul-footer, #masthead-container {
	margin: 0 auto;
	text-align: left;
}
#search-navbar {
	padding: 0;
}

a#sul-logo {
	float: left;
	border-bottom: none;
}

@media (min-width: 768px) {
  #topnav, #search-navbar, #main-container, #sul-footer, #masthead-container {
    width: 750px;
  }
}

@media (min-width: 980px) {
  #topnav, #search-navbar, #main-container, #sul-footer, #masthead-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #topnav, #search-navbar, #main-container, #sul-footer, #masthead-container {
    width: 1170px;
  }
}


@media only screen and (max-width : 768px) {
  #main-container, #search-navbar {
    padding: 0 15px;
  }

  #search-navbar-container .search-form {
    padding: 0;
  }

  #search-navbar .navbar-toggle {
    margin-right: 0;
  }
}
