#masthead-container {
  background-color: $cardinal-red;
  min-height: 100px;

  #masthead {
    margin: 0 auto;
    height: 100px;
    color: $white;

    .masthead-logo {
      height: 100px;
    }
  }

  @include media-breakpoint-down(sm){
    #masthead {
      .masthead-logo {
        display: block;
        width: 100%;
      }
    }
  }
}
