.masthead {
  .h1 {
    --sul-link-font-weight: 300;
    --bs-link-color-rgb: var(--stanford-cardinal-rgb);
  }
}

.blacklight-catalog {
  --banner-image: url(catalog-image.jpg);
}
.blacklight-articles {
  --banner-image: url(research-papers-reading-v1.jpg);
}
.search-area-image-bg {
  &::before {
    content: "";
    position: absolute;
    opacity: 80%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--banner-image);
    z-index: -1;
  }

  position: relative;
  height: 350px;
  padding-block: 80px;

  .search-card {
    background-color: white;
    width: 645px;
  }
}
