#content {
  background-color: $light-sandstone;
}

.module-contents {
  background-color: white;
  border-top: 5px solid #9D2520;
  padding: 10px 15px;
}

.search-container {
  label {
    color: #9D2520;
    font-size: 40px;
    padding-right: 20px;
  }

  .main-search-form {    
    .search-input-container {
      padding-top: 18px;
    }
    .search-btn {
      background-color: #9D2520;
      color: white;
    }
  }
}
