#content {
  background-color: $beige-5-percent;
}

.module-contents {
  background-color: $white;
  border-top: 5px solid $cardinal-red;
  padding: 10px 15px;
}

.search-container {
  label {
    color: $cardinal-red;
    font-size: 40px;
    padding-right: 20px;
  }

  .main-search-form {
    .search-input-container {
      padding-top: 18px;
    }
    .search-btn {
      background-color: $cardinal-red;
      color: $white;
    }
  }
}
