.result-title {
  font-size: 18px;
  padding-top: 10px;
}

.module-contents {
  ol { padding-left: 18px; }
}

.highlighted-facet {
  padding-bottom: 20px;
}

.result-set-subheading {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.result {
  p {
    margin-bottom: 0.5rem;
  }
}
