@import "searchworks4/blacklight";

@media (min-width: 1400px) {
  .container {
    --bs-gutter-x: 7rem;
    max-width: 1500px;
  }
}

@import "bootstrap-icons";
@import "blacklight-hierarchy/app/assets/stylesheets/blacklight/hierarchy/hierarchy.scss";
@import url("searchworks4/variables.css");
@import url("searchworks4/facets.css");

@import url("searchworks4/masthead.css");
@import url("searchworks4/homepage.css");
@import url("searchworks4/search.css");
@import url("searchworks4/availability-icons.css");
@import url("searchworks4/search-results.css");
@import url("modules/chat.css");

#pre-footer {
  margin-top: 1rem;
}
