@mixin document {
  @include document-borders;
  background-color: $white;
  margin-bottom: 15px;
  padding: 15px 15px 15px 40px;
}

@mixin document-borders {
  border: 1px solid $sul-document-border-color;
  border-bottom: 1px solid $sul-document-border-color;
}

@mixin toolbar-dropdown {
  a {
    &:hover, &:focus, &:active {
      border-bottom: none;
    }
    i.active-icon {
      margin-left: -17px;
    }
  }
}

@mixin refworks-form {
  .refworks {
    form {
      padding: 3px 20px;

      a {
        color: $dropdown-link-hover-color;

        &:hover, &:focus, &:active {
          text-decoration: none;
        }
      }
    }

    &:hover, &:focus, &:active {
      background-color: $dropdown-link-hover-bg;
    }
  }
}

@mixin h1-show-title-font {
  font-family: 'dejavu_sansextralight', 'Arial Unicode MS', Helvetica, sans-serif;
  letter-spacing: -.03em;
}

@mixin h3-index-title-small-font {
  font-family: 'dejavu_sansextralight', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: 1.138em;
  letter-spacing: -.03em;
  line-height: 1.4em;
}

@mixin h3-index-title-font {
  font-family: 'dejavu_sansextralight', 'Arial Unicode MS', Helvetica, sans-serif;
  font-size: $h4-font-size;
  letter-spacing: -.03em;
  line-height: 1.5em;
}

@mixin sul-toolbar-bg-border {
  background-color: $sul-toolbar-bg;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2);
}

@mixin google-books {
  display: none;
  margin-top: 10px;

  .google-preview {
    img {
      margin-right: 5px;
    }
  }
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin buttonize($background, $border) {
  background-color: $background;
  border: 1px solid $border;
}

@mixin buttonize-with-gradient($background, $border, $gradient) {
  border: 1px solid $border;
  @include linear-gradient($gradient, $background);

  &:hover {
    @include linear-gradient($background, $gradient);
  }
}

@mixin location-buttons {
  background-color: $sul-location-panel-btn-background;
  border-color: $sul-location-panel-btn-border;
  margin-right: 5px;
  color: $white;

  .fa-map-marker {
    font-size: 1.4em;
    margin-right: 2px;
  }

  &:focus,
  &:hover {
    color: $white;
    background-color: $sul-location-panel-btn-background-hover;
    border-color: $sul-location-panel-btn-border-hover;
  }
}

@mixin panel-heading($background, $font-color) {
  background: $background;
  border-bottom: 1px solid $background;
  color: $font-color;
}

@mixin show-page-row-layout {
  margin-right: 25px;
}

@mixin link-styling {
  border-bottom: 1px solid $sul-link-color-hover;
}

@mixin masthead-panel {
  background-color: $sul-masthead-bg;
  border: 1px solid $sul-masthead-border;
  border-radius: 5px;
  color: $sul-masthead-color;
}
