@mixin document {
  @include document-borders;
  background-color: $white;
  margin-bottom: 15px;
  padding: 15px 15px 15px 40px;
}

@mixin document-borders {
  border-top: 1px solid $sul-document-border-color;
  border-right: 1px solid $sul-document-border-color;
  border-bottom: 1px solid $sul-document-border-bottom-color;
  border-left: 1px solid $sul-document-border-color;
}

@mixin toolbar-dropdown {
  li > a {
    border-bottom: none;
    text-transform: none;

    &:hover, &:focus, &:active {
      border-bottom: none;
    }
  }
}

@mixin h3-index-title-indent {
  text-indent: -13px;
}

@mixin h3-index-title-small-font {
  font-size: 1.1em;
  line-height: 1.5em;
}

@mixin h3-index-title-font {
  font-family: 'dejavu_sansextralight';
  letter-spacing: -.03em;
  line-height: 1.4em;
  font-size: 1.3em;
}

@mixin panel-borders {
  border: 1px solid $sul-panel-border;
}

@mixin panel-border-bottom {
  border-bottom: 1px solid $sul-panel-border-bottom;
}

@mixin sul-toolbar-bg-border {
  background-color: $sul-toolbar-bg;
  border-bottom: 3px solid $sul-toolbar-border !important;
}

@mixin label-items-online {
  background-color: $sul-access-online-bg;
  color: $white;
  font-size: 12px;
  font-weight: 300;
  padding: 4px 8px;

  a {
    border-bottom: none;
    color: white;
  }
}

@mixin google-books {
  display: none;
  margin-top: 10px;

  .google-preview {
    img {
      margin-right: 5px;
    }
  }  
}
