// Colors
$beige-5-percent: #fbfbf9;
$black: #000;
$blackish: #2e2d29;
$bright-blue: #006CB8;
$digital-blue-dark: #00548f;
$bright-red: #B1040E;
$cardinal-red: #8c1515;
$clay: #5f574f;
$cloud: #dad7cb;
$cool-grey: #4d4f53;
$driftwood: #b6b1a9;
$gray-80-percent: #ccc;
$lagunita: #007C92;
$light-grey: #f3f3f3;
$legacy-toolbar: #797268;
$light-sage: #c7d1c5;
$light-sandstone: #F9F6EF;
$mint: #009b76;
$mostly-pure-orange: #ff8000;
$poppy: #e98300;
$pantone-144: #E98300;
$public-note-yellow: #faf8d2;
$sandstone: #d2c295;
$stone: #544948;
$teal: #00505c;
$warm-grey: #3f3c30;
$white: #ffffff;

$sul-footer-bg-color: $light-sandstone;
$sul-topnav-bg-color: $cardinal-red;
$sul-subnavbar-bg-color: $legacy-toolbar;
$sul-navbar-brand-color: $cardinal-red;
$sul-topnavbar-link-color: $cardinal-red;
$sul-link-color: $bright-blue;
$sul-link-color-hover: $digital-blue-dark;
$sul-access-header-color: $white;
$sul-access-online-bg: $mint;
$sul-access-also-online-color: $mint;
$sul-access-location-bg: $clay;
$sul-access-course-reserve-bg: $cardinal-red;
$sul-availability-table-head-background: $cloud;
$sul-availability-table-cell-border: $cloud;
$sul-availability-notice-color: $cardinal-red;
$sul-availability-status-text-color: $cool-grey;
$sul-accordion-summary-bg: transparent;
$sul-accordion-summary-border: transparent;
$sul-accordion-summary-gradient: transparent;
$sul-accordion-online-bg: $mint;
$sul-accordion-online-border: transparent;
$sul-accordion-online-gradient: transparent;
$sul-accordion-location-bg: $clay;
$sul-accordion-location-border: transparent;
$sul-accordion-location-gradient: transparent;
$sul-accordion-course-reserves-bg: $cardinal-red;
$sul-accordion-course-reserves-border: transparent;
$sul-accordion-course-reserves-gradient: transparent;
$sul-pagination-active-bg: $cool-grey;
$sul-body-bg: $beige-5-percent;
$sul-text-color: $black;
$sul-preview-border: $cloud;
$sul-facet-bg: $cloud;
$sul-facet-border: $cloud;
$sul-facet-active-bg: $light-sage;
$sul-facet-active-border: $light-sage;
$sul-filmstrip-border: $cloud;
$sul-filmstrip-bg: $light-sandstone;
$sul-btn-preview-bg: $lagunita;
$sul-h1-font-color: $blackish;
$sul-h2-font-color: $stone;
$sul-h3-font-color: $cool-grey;
$sul-h4-font-color: $cool-grey;
$sul-skip-to-nav-bg: $white;
$sul-toolbar-color: $white;
$sul-toolbar-bg: $legacy-toolbar;
$sul-toolbar-border: $cloud;
$btn-sul-toolbar-bar-color: $white;
$btn-sul-toolbar-bar-bg: $legacy-toolbar;
$sul-bookplate-image-border: $cloud;
$sul-bookplate-top-margin: 10px;
$sul-document-border-color: $cloud;
$sul-mini-accordion-text-color: $cool-grey;
$sul-gallery-callnumber-bar-bg: $clay;
$sul-gallery-callnumber-bar-color: $white;
$sul-gallery-fakecover-bg: $white;
$sul-gallery-fakecover-border: transparent;
$sul-gallery-cover-height: 195px;
$sul-clear-input-icon-color: $driftwood;
$sul-clear-input-icon-hover-color: $cardinal-red;
$sul-masthead-bg: $light-sandstone;
$sul-masthead-border: $cloud;
$sul-masthead-color: $blackish;
$sul-btn-disabled-color: $cool-grey;
$sul-btn-disabled-opacity: 0.9;
$sul-main-title-date-color: $cool-grey;
$sul-browse-nearby-container-border: $cloud;
$sul-side-nav-minimap-background-color: $light-sandstone;
$sul-side-nav-minimap-border-color: $cloud;
$sul-side-nav-minimap-active-btn-bg: $cloud;
$sul-side-nav-minimap-active-btn-shadow: $cool-grey;
$sul-stackmap-image-border-color: $cool-grey;
$sul-icon-refworks-color: $bright-red;
$sul-icon-endnote-color: $mostly-pure-orange;
$sul-rss-icon-color: $poppy;
$sul-tooltip-bg: $lagunita;
$sul-managed-purl-panel-background: $clay;
$sul-managed-purl-panel-font: $white;
$sul-managed-purl-border: $cloud;
$sul-managed-purl-border-hover: $cloud;
$sul-location-panel-btn-background: $bright-blue;
$sul-location-panel-btn-border: $bright-blue;
$sul-location-panel-btn-background-hover: $digital-blue-dark;
$sul-location-panel-btn-border-hover: $digital-blue-dark;
$sul-research-starter-color: $cardinal-red;
$sul-shadow-color: rgba(0, 0, 0, .2);

// Sizes
$gallery-document-width: 176px;
$gallery-document-height: 400px;
$sul-constraint-btn-radius: 15px;
