// Colors
$cardinal-red: #8c1515;
$beige-5-percent: #fbfbf9;
$beige-20-percent: #f2f1eb;
$beige-40-percent: #d5d0c0;
$cool-gray: #4D4F53;
$gray: #3f3c30;
$pantone-401: #B6B1A9;
$pantone-405: #5F574F;
$pantone-334: #009B76;
$black: #000000;

$sul-footer-bg-color: $beige-20-percent;
$sul-topnav-bg-color: $cardinal-red;
$sul-search-navbar-bg-color: $beige-40-percent;
$sul-navbar-brand-color: $cardinal-red;
$sul-topnavbar-link-color: $beige-5-percent;
$sul-link-color: $gray;
$sul-link-color-border: $pantone-401;
$sul-btn-primary-bg: $cardinal-red;
$sul-btn-primary-border: lighten($sul-btn-primary-bg, 12%);
$sul-access-font: $beige-5-percent;
$sul-access-location-bg: $pantone-405;
$sul-access-online-bg: $pantone-334;
$sul-access-course-reserve-bg: $cardinal-red;
$sul-summary-bg: $cool-gray;
