// Colors
$beige-10-percent: #f2f1eb;
$beige-20-percent: #e9e6df;
$beige-30-percent: #e3dfd5;
$beige-40-percent: #d5d0c0;
$beige-5-percent: #fbfbf9;
$black: #000000;
$boston-university-red: #cc0000;
$cadet-blue: #539a98;
$cardinal-red: #8c1515;
$dark-cyan-lime-green: #008E69;
$dark-grayish-blue: #4d4f53;
$dark-grayish-orange: #524A42;
$dark-red: #A62F2F;
$darker-grayish-blue: #404246;
$darker-grayish-orange: #797169;
$darker-red: #7F0808;
$gray-41-percent: #696969;
$gray-46-percent: #767676;
$gray-70-percent: #b3b3b3;
$gray-80-percent: #ccc;
$gray-90-percent: #e6e6e6;
$gray: #3f3c30;
$mostly-pure-orange: #ff8000;
$off-green: #E1E6DF;
$pantone-144: #E98300;
$pantone-3145: #007C92;
$pantone-334: #009B76;
$pantone-401: #B6B1A9;
$pantone-405: #5F574F;
$pantone-5665: #C7D1C5;
$public-note-yellow: #faf8d2;
$strong-cyan: #1AB590;
$strong-grayish-blue: #67696D;
$strong-red: #bf0000;
$white: #ffffff;

$sul-footer-bg-color: $beige-10-percent;
$sul-topnav-bg-color: $cardinal-red;
$sul-navbar-brand-color: $cardinal-red;
$sul-topnavbar-link-color: $cardinal-red;
$sul-link-color: $gray;
$sul-link-color-border: $pantone-401;
$sul-access-font: $beige-5-percent;
$sul-access-online-bg: $pantone-334;
$sul-access-location-bg: $pantone-405;
$sul-access-course-reserve-bg: $cardinal-red;
$sul-availability-table-head-background: $beige-10-percent;
$sul-availability-table-cell-border: $beige-30-percent;
$sul-availability-current-location-color: $cardinal-red;
$sul-availability-public-note-color: $public-note-yellow;
$sul-availability-status-text-color: $gray-46-percent;
$sul-accordion-summary-bg: $dark-grayish-blue;
$sul-accordion-summary-border: $darker-grayish-blue;
$sul-accordion-summary-gradient: $strong-grayish-blue;
$sul-accordion-online-bg: $pantone-334;
$sul-accordion-online-border: $dark-cyan-lime-green;
$sul-accordion-online-gradient: $strong-cyan;
$sul-accordion-location-bg: $pantone-405;
$sul-accordion-location-border: $dark-grayish-orange;
$sul-accordion-location-gradient: $darker-grayish-orange;
$sul-accordion-course-reserves-bg: $cardinal-red;
$sul-accordion-course-reserves-border: $darker-red;
$sul-accordion-course-reserves-gradient: $dark-red;
$sul-pagination-active-bg: $gray-41-percent;
$sul-body-bg: $beige-5-percent;
$sul-text-color: $black;
$sul-panel-bg: $white;
$sul-panel-border: $beige-30-percent;
$sul-panel-border-bottom: $beige-30-percent;
$sul-panel-heading-default: $beige-30-percent;
$sul-preview-border: $beige-30-percent;
$sul-facet-bg: $beige-10-percent;
$sul-facet-border: $beige-30-percent;
$sul-facet-active-bg: $pantone-5665;
$sul-facet-active-border: $pantone-5665;
$sul-facet-active-heading-color: $black;
$sul-filmstrip-border: $beige-30-percent;
$sul-filmstrip-bg: $beige-5-percent;
$sul-btn-preview-bg: $cadet-blue;
$sul-h1-font-color: $gray;
$sul-h2-font-color: $cardinal-red;
$sul-h2-border-color: $beige-30-percent;
$sul-skip-to-nav-bg: $beige-10-percent;
$sul-toolbar-bg: transparent;
$sul-toolbar-border: $beige-40-percent;
$btn-sul-toolbar-bar-color: $cardinal-red;
$btn-sul-toolbar-bar-hover-bg: $beige-30-percent;
$sul-document-border-color: $beige-30-percent;
$sul-document-border-bottom-color: $beige-30-percent;
$sul-mini-accordion-text-color: $gray-46-percent;
$sul-gallery-callnumber-bar-bg: $pantone-405;
$sul-gallery-callnumber-bar-color: $beige-5-percent;
$sul-gallery-fakecover-bg: $beige-5-percent;
$sul-gallery-fakecover-border: $beige-10-percent;
$sul-gallery-cover-height: 195px;
$sul-osd-viewer-border: $beige-30-percent;
$sul-osd-viewer-toolbar-background: $beige-10-percent;
$sul-clear-input-icon-color: $gray-70-percent;
$sul-clear-input-icon-hover-color: $cardinal-red;
$sul-masthead-bg: $off-green;
$sul-masthead-border: $pantone-5665;
$sul-pagination-active-bg-border: $gray-41-percent;
$sul-btn-disabled-color: $gray;
$sul-btn-disabled-opacity: 0.75;
$sul-main-title-date-color: $gray-46-percent;
$sul-browse-nearby-container-border: $beige-30-percent;
$sul-browse-nearby-container-gradient-bg: $pantone-405;
$sul-browse-nearby-control-bg: #928B81;
$sul-record-side-nav-background-color: $beige-5-percent;
$sul-record-side-nav-border-color: $beige-40-percent;
$sul-record-side-nav-active-btn-bg: $beige-10-percent;
$sul-record-side-nav-active-btn-shadow: $gray-80-percent;
$sul-stackmap-image-border-color: $gray-90-percent;
$sul-icon-refworks-color: $strong-red;
$sul-icon-endnote-color: $mostly-pure-orange;
$sul-tooltip-bg: $cadet-blue;

// Sizes
$gallery-document-width: 176px;
$gallery-document-height: 400px;
$sul-constraint-btn-radius: 15px;
