// Colors
$beige-10-percent: #f2f1eb;
$beige-20-percent: #e9e6df;
$beige-30-percent: #e3dfd5;
$beige-40-percent: #d5d0c0;
$beige-5-percent: #fbfbf9;
$black: #000000;
$blue: #00548f;
$boston-university-red: #cc0000;
$bright-blue: #006cb8;
$cadet-blue: #539a98;
$cardinal-red: #8c1515;
$dark-red: #820000;
$light-grey: #f3f3f3;
$light-sandstone: #fcfcfa;
$gray-41-percent: #696969;
$gray-46-percent: #767676;
$gray-70-percent: #b3b3b3;
$gray-80-percent: #ccc;
$gray-90-percent: #e6e6e6;
$gray: #3f3c30;
$gray-brown: #797268;
$pantone-144: #E98300;
$pantone-3145: #007C92;
$pantone-334: #009B76;
$pantone-5665: #C7D1C5;
$smoke: #544948;


$sul-footer-bg-color: $beige-10-percent;
$sul-topnav-bg-color: $cardinal-red;
$sul-subnavbar-bg-color: $gray-brown;
$sul-navbar-brand-color: $cardinal-red;
$sul-topnavbar-link-color: $cardinal-red;
$sul-link-color: $bright-blue;
$sul-link-color-border: $blue;
$sul-pagination-active-bg: $gray-41-percent;
$sul-body-bg: $beige-5-percent;
$sul-text-color: $black;
$sul-panel-bg: $white;
$sul-panel-border: $beige-30-percent;
$sul-panel-border-bottom: $beige-30-percent;
$sul-panel-heading-default: $beige-30-percent;
$sul-facet-bg: $beige-10-percent;
$sul-facet-border: $beige-30-percent;
$sul-facet-active-bg: $pantone-5665;
$sul-facet-active-border: $pantone-5665;
$sul-facet-active-heading-color: $black;
$sul-h1-font-color: $gray;
$sul-h2-font-color: $smoke;
$sul-h2-border-color: $beige-30-percent;
$sul-toolbar-color: $white;
$sul-toolbar-bg: $gray-brown;
$sul-toolbar-border: $beige-40-percent;
$btn-sul-toolbar-bar-color: $white;
$btn-sul-toolbar-bar-bg: $gray-brown;
$sul-clear-input-icon-color: $gray-70-percent;
$sul-clear-input-icon-hover-color: $cardinal-red;
$sul-masthead-bg: $beige-10-percent;
$sul-masthead-border: $beige-30-percent;
$sul-masthead-color: $gray;
$sul-btn-disabled-color: $gray;
$sul-btn-disabled-opacity: 0.75;
$sul-main-title-date-color: $gray-46-percent;
$sul-tooltip-bg: $cadet-blue;
