// Colors
$cardinal-red: #8c1515;
$beige-5-percent: #fbfbf9;
$beige-10-percent: #f2f1eb;
$beige-20-percent: #e9e6df;
$beige-30-percent: #e3dfd5;
$beige-40-percent: #d5d0c0;
$black: #000000;
$boston-university-red: #cc0000;
$cadet-blue: #539a98;
$cool-gray: #4D4F53;
$gray: #3f3c30;
$gray-41-percent: #696969;
$gray-46-percent: #767676;
$off-green: #E1E6DF;
$pantone-144: #E98300;
$pantone-3145: #007C92;
$pantone-401: #B6B1A9;
$pantone-405: #5F574F;
$pantone-334: #009B76;
$pantone-5665: #C7D1C5;
$white: #ffffff;

$sul-footer-bg-color: $beige-10-percent;
$sul-topnav-bg-color: $cardinal-red;
$sul-search-navbar-bg-color: $beige-40-percent;
$sul-navbar-brand-color: $cardinal-red;
$sul-topnavbar-link-color: $beige-5-percent;
$sul-link-color: $gray;
$sul-link-color-border: $pantone-401;
$sul-access-font: $beige-5-percent;
$sul-access-location-bg: $pantone-405;
$sul-access-online-bg: $pantone-334;
$sul-access-course-reserve-bg: $cardinal-red;
$sul-summary-bg: $cool-gray;
$sul-pagination-active-bg: $gray-41-percent;
$sul-body-bg: $beige-5-percent;
$sul-text-color: $gray;
$sul-panel-bg: $white;
$sul-facet-bg: $beige-10-percent;
$sul-facet-border: $beige-30-percent;
$sul-facet-active-bg: $off-green;
$sul-facet-active-border: $pantone-5665;
$sul-btn-preview-bg: $cadet-blue;
$sul-h1-font-color: $cool-gray;
$sul-h2-font-color: $cardinal-red;
$sul-h2-border-color: $beige-30-percent;
$sul-skip-to-nav-bg: $beige-10-percent;
$sul-sort-per-page-bar-bg: $beige-10-percent;
$sul-sort-per-page-bar-border: $beige-30-percent;
$btn-sul-toolbar-bar-color: $cardinal-red;
$btn-sul-toolbar-bar-hover-bg: $beige-30-percent;
$sul-document-border-color: $beige-10-percent;
$sul-document-border-bottom-color: $beige-30-percent;
$sul-mini-accordion-text-color: $gray-46-percent;
