<li class='no-thumbnail'>
  <div class="result">
    <div class="result-title fs-1125 fw-medium pt-2 pb-1">
      <%= link_to lib_guides_result.title.html_safe, lib_guides_result.link %>
    </div>
  </div>
</li>
