<div class="librarian-chat col-sm-3">
  <div data-library-h3lp data-jid="ic@chat.libraryh3lp.com" class="btn btn-link"">
    <%= link_to "Chat with a librarian", "https://library.stanford.edu/contact-us" %>
    <span class="image-icon image-icon-message-away"></span>
  </div>
</div>
