<div class="librarian-chat">
  <p>
    Need help right now?
  </p>
  <div data-library-h3lp data-jid="ic@chat.libraryh3lp.com">
    <span class="image-icon image-icon-message-away"></span>
    <%= link_to "Chat with a librarian", "http://library.stanford.edu/ask" %>
  </div>
</div>
