<div class="container">
  <div class="col-sm-10 offset-sm-1">
    <%= render "shared/feedback_forms/reporting_from" %>

    <% if target == '#feedback-form' %>
      <div class="col-sm-12 offset-sm-3">
        <div class="row">
          <%= render "shared/feedback_forms/chat_with_librarian" if on_campus_or_su_affiliated_user? %>
          <%= render "shared/quick_reports/form", layout: nil %>
        </div>
      </div>
    <% end %>

    <%= render "shared/feedback_forms/form_fields", target: target, type: type %>
  </div>
</div>
