<div class="container">
  <div class="col-sm-10 offset-sm-1">
    <%= render "shared/feedback_forms/reporting_from" %>
    <%= render "shared/feedback_forms/form_fields", target: target, type: type %>
  </div>
</div>
