<div class="container">
  <div class="col-sm-6 col-sm-offset-2">
    <%= render "shared/feedback_forms/form_fields", locals: { target: '#feedback-form'} %>
  </div>
  <div class="col-sm-4">
    <%= render "shared/feedback_forms/chat_with_librarian" if on_campus_or_su_affiliated_user? %>
    <div class="check-status">
      <%= link_to 'Check system status', 'http://library-status.stanford.edu' %>
    </div>
    <%= render "shared/quick_reports/form", layout: nil %>
  </div>
</div>
