<div class="alert alert-info" role="alert">
  Reporting from: <span class="reporting-from-field"><%= request.referer %></span>
  <div class="pull-right">
    <%= link_to 'Check system status', 'http://library-status.stanford.edu' %>
  </div>
</div>
