<% if @catalog_count || @article_count %>
  <%= link_to("Catalog selections (#{@catalog_count})", bookmarks_path, data: { attribute: "added-list" }, class: 'dropdown-item', role: 'menuitem', tabindex: '-1') %>
  <%= link_to("Articles+ selections (#{@article_count})", article_selections_path,  data: { attribute: "added-list" }, class: 'dropdown-item', role: 'menuitem', tabindex: '-1') %>
  <div class="dropdown-divider" role="presentation" data-attribute="added-list"></div>
<% end %>
