<% if @catalog_count || @article_count %>
  <span data-attribute="added-list">
    <li class="dropdown-list-title text-muted">Catalog selections (<%= @catalog_count %>)</li>
    <li class="dropdown-list-title text-muted">Articles+ selections (<%= @article_count %>)</li>
    <li class="divider"></li>
  </span>
<% end %>
