<% document ||= @document %>

<div class="section annotations-user-comments" id="<%= t('record_side_nav.user_comments.id') %>" data-side-nav-class="<%= t('record_side_nav.user_comments.id') %>">
  <div class="section-heading">
    <h2>
      <%= t('record_side_nav.user_comments.icon').html_safe %> User comments <span class="num-found"></span>
      <button class="btn btn-default btn-sm btn-add-annotation"><i class="fa fa-plus"></i> Add comment<span class="sr-only">Add comment</span></button>
    </h2>
  </div>

  <%= render partial: "annotations/create_anno", locals: {anno_type: "comment", motivation_str: "commenting", sw_doc_id: document.id} %>

  <div class="section-body user-comments">
  </div>
</div>
