<% document ||= @document %>
<div class="record-browse-nearby">
  <h2>Browse nearby</h2>
  <% document.holdings.browsable_callnumbers.each_with_index do |callnumber, index| %>
    <span class="callnumber">
      <%= link_to_callnumber_browse(
            document,
            callnumber,
            index
           ) %>
    </span>
  <% end %>
  <% document.holdings.browsable_callnumbers.each_with_index do |callnumber, index| %>
    <div id="callnumber-<%=index%>" class="collapse embed-callnumber-browse-container">
      <div class="embedded-items"><div class="gallery"></div></div>
      <a class="left embed-browse-control" href="#" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right embed-browse-control" href="#" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  <% end %>
</div>
