<div class="">
  <%# dummy sections (to be replaced) --
  <div class="section">
    <div class="section-heading">Subjects</div>
    <div class="section-body"></div>
  </div>

  <div class="section">
    <div class="section-heading">Bibliographic information</div>
    <div class="section-body"></div>
  </div>
  %>
  <% contents_summary = render "catalog/record/marc_contents_summary" %>
  <% unless contents_summary.strip.blank? %>
    <div class="section">
      <div class="section-heading">
        <h2>Contents/Summary</h2>
      </div>
      <div class="section-body">
        <dl>
          <%= contents_summary%>
        </dl>
      </div>
    </div>
  <% end %>

  <% subjects = render "catalog/record/marc_subjects" %>
  <% if subjects.present? %>
    <div class="section">
      <div class="section-heading">
        <h2>Subjects</h2>
      </div>
      <div class="section-body">
        <%= subjects %>
      </div>
    </div>
  <% end %>

  <% bibliography = render "catalog/record/marc_bibliographic" %>
  <% if bibliography.present? %>
    <div class="section">
      <div class="section-heading">
        <h2>Bibliographic information</h2>
      </div>
      <div class="section-body">
        <dl>
          <%= bibliography %>
        </dl>
      </div>
    </div>
  <% end %>

</div>
