<% document ||= @document %>
<% document.mods.abstract.each do |abstracts| %>
  <% if abstracts.respond_to?(:values) %>
    <div class="section-abstract">
      <%= abstracts.values.join %>
    </div>
  <% end %>
<% end %>

<% document.mods.contents.each do |contents| %>
  <% if contents.respond_to?(:values) %>
    <div class="section-contents">
      <%= contents.values.join %>
    </div>  
  <% end %>
<% end %>
