<% document ||= @document %>
<% if (items = render(partial: "catalog/record/mods_upper_metadata_items", locals: {document: document})).present? %>
  <div class="section">
    <div class="section-body">
      <dl class="dl-horizontal dl-invert">
        <%= items %>
      </dl>
    </div>
  </div>
<% end %>
