<% if (items = render("catalog/record/mods_upper_metadata_items", document: document)) && html_present?(items) %>
  <div class="section">
    <div class="section-body">
      <dl class="dl-horizontal dl-invert">
        <%= items %>
      </dl>
    </div>
  </div>
<% end %>
