<% if @document.holdings.callnumbers.present? %>
  <%= render 'catalog/record/callnumber_browse' %>
<% end %>

<div class="record-metadata row">
  <div class="record-panels col-md-4">
    <%= render "catalog/record/metadata_panels" %>
  </div>
  <div class="record-sections col-md-8">
    <% if @document.respond_to?(:to_marc) %>
      <%= render "catalog/record/marc_metadata_sections" %>
    <% end %>
  </div>
</div>

<%# technical details placeholder - librarian view, catkey etc %>
<div class="record-technical-details row">
</div>
