<div class="record-browse-nearby row">
  <%# browse nearby placeholder --
  <div class="panel panel-default">
    <div class="panel-body">Browse nearby</div>
  </div>
  %>
</div>

<div class="record-metadata row">
  <div class="record-panels col-md-4 col-xs-12">
    <%= render "catalog/record/metadata_panels" %>
  </div>
  <div class="record-sections col-md-8 col-xs-12">
    <% if @document[:modsxml] %>
      <%= render 'catalog/record/mods_metadata_sections' %>
    <% end %>
  </div>
</div>
