<div class="record-metadata row">
  <div class="record-panels col-md-4">
    <%= render "catalog/record/metadata_panels" %>
  </div>
  <div class="record-sections col-md-8">
    <% if @document[:modsxml] %>
      <%= render 'catalog/record/mods_metadata_sections' %>
    <% end %>
  </div>
</div>
