<ul class="record-side-nav">
  <li>
    <button data-target-id="topnav-container">
      <span class="nav-label">Top</span>
      <i class="fa fa-arrow-up"></i>
    </button>
  </li>

  <% has_data.each do |section, section_present| %>
    <% if section_present %>
      <% id = t("record_side_nav.#{section}.id").html_safe %>
      <% icon = t("record_side_nav.#{section}.icon").html_safe %>
      <% label = t("record_side_nav.#{section}.label").html_safe %>
      <li>
        <button data-target-id="<%= id %>" class="<%= id %>">
          <span class="nav-label"><%= label %></span>
          <%= icon %>
        </buttton>
      </li>
    <% end %>
  <% end %>

  <li>
    <button data-target-id="sul-footer-container">
      <span class="nav-label">Bottom</span>
      <i class="fa fa-arrow-down"></i>
    </button>
  </li>
</ul>
