<div class="col-xs-12 row">
  <%= render "catalog/access_panels/online" %>
  <%= render "catalog/access_panels/course_reserve" %>
  <%# dummy panels (to be replaced) --
  <div class="panel panel-default">
    <div class="panel-heading">Course reserves</div>
    <div class="panel-body"></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Library</div>
    <div class="panel-body"></div>
  </div>
  %>
</div>
