<div class="col-xs-12 row">
  <%# dummy sections (to be replaced) --
  <div class="section">
    <div class="section-heading">Subjects</div>
    <div class="section-body"></div>
  </div>

  <div class="section">
    <div class="section-heading">Bibliographic information</div>
    <div class="section-body"></div>
  </div>
  %>
</div>