<header class="documentHeader row">
  <h3 class="<%= @classes %>">
    <%= counter %>
    This title cannot be displayed for guests.
    <%= render StanfordOnlyPopoverComponent.new %>
  </h3>
</header>