<header class="documentHeader row">
  <h3 class="<%= @classes %>">
    <%= counter %>
    <%= I18n.t('searchworks.guest_message') %>
    <%= render StanfordOnlyPopoverComponent.new %>
  </h3>
</header>