<div class="top-navbar">
  <ul>
    <li>
      Login
    </li>
    <li>
      My Account
    </li>
    <li>
      Feedback
    </li>
  </ul>
</div>
<div class="masthead">
  <%= link_to root_path do %>
    <%= image_tag 'sul_banner_white.svg', class: 'masthead-logo', alt: 'Stanford Libraries' %>
  <% end %>
</div>
<nav class="top-bar" data-topbar role="navigation">

</nav>
