<div class="row">
    <div class="col-lg-9 col-md-6">
        <h1>Search <%= page_title %></h1>
    </div>
    <div class="col-lg-3 col-md-6 show-for-medium-up">
        <p><%= link_to 'About this search tool', about_path, class: 'about' %></p>
    </div>
</div>
