<div class="search-container">
  <div class="main-search-form row justify-content-center">
    <div class="form-group col-sm-12 col-md-10 col-lg-8">
      <%= form_for("search", method: :get, html: {id: 'main-search-form'}) do |f| %>
        <div class='form-group row'>
          <h1><label for="params-q" class='col-form-label'>Search</label></h1>
          <div class='search-input-container'>
            <div class='input-group'>
              <input type="search" name="q" id="params-q" class="search-query form-control" value="<%= @query %>" placeholder="<%= t('search_form.placeholder') %>"/>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sul">
                  <span class="sr-only">Search</span>
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
