#main-content {
  h3.result-title {
    font-family: "dejavu_sansextralight";
    letter-spacing: -0.03em;
  }
  min-height: calc(100vh - 478px);
}

.module-contents {
  background-color: $white;
  border: 1px solid $su-cloud;
  border-top: 5px solid rgb(var(--stanford-cardinal-rgb));
  padding: 10px 15px;
  margin-bottom: 15px;
}
