$su-legacy-toolbar: #797268;
$black: #000;

//Variables
$sul-subnavbar-bg-color: $su-legacy-toolbar;
$sul-h1-font-color: $black;
$sul-h2-font-color: $su-stone;
$sul-h3-font-color: $su-cool-gray;
$sul-h4-font-color: $su-cool-gray;
$sul-temp-access-alert-box-border-color: $su-poppy;
