<div id="header-navbar" class="navbar navbar-expand-md navbar-dark bg-cardinal-red topbar">
  <div class="container justify-content-center justify-content-md-between">
    <%= yield %>
  </div>
</div>
