<header id="topnav">
  <div class="container d-flex navbar-expand px-0">
    <%= link_to 'https://library.stanford.edu', class: 'navbar-brand' do %>
      <%= image_tag "sul-logo.svg", class: "su-logo d-none d-sm-block", alt: "Stanford Libraries", height: 25 %>
      <%= image_tag "sul-logo-stacked.svg", class: "su-logo d-sm-none d-md-none d-lg-none d-xl-none", alt: "Stanford Libraries", height: 25 %>
    <% end %>

    <%= yield %>
  </div>
</header>
