<!DOCTYPE html>
<html>
<head>
  <title>SearchWorks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbo-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbo-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>

<%= yield %>

</body>
</html>
